 <div class="headers">
              <div class="home"><span><a href="javascript:void(0);" onclick="SetHome(this, window.location);">设为首页</a> | <a href="javascript:void(0);" onclick="shoucang(document.title, window.location);">加入收藏</a> </span></div>
        </div>
       <div class="menu">
      <ul class="nav"> 
        {foreach name=key item=nav from=$navs}
          {if $nav.current}
          <li class="selected"><a href="{$nav.link}">{$nav.name}</a></li>
          {else}
          <li><a href="{$nav.link}">{$nav.name}</a></li>
          {/if}
        {/foreach}                                                                                      
      </ul>           
    </div>
    <div class="banners"><img src="{$index.slidepics[0].image}" height="275" width="952" /></div>