<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
		// 跳转手机页面
		{if $site_another_url}
			if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more,');
</script>
<![endif]-->
<script type="text/javascript" src="{$site_url}js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/myfocus-2.0.4.min.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
{$headscript}
</head>

<body>
<div class="main">
	{include file='./_header.html'}
    <div class="content">
    	<div class="left">
        	<div class=" class">
            	<h1 class="class_top">{$index.list4.name}</h1>
                <div class="class_m">
                	<div class="class_m1">
                    <ul class="first">
	                {foreach name=pagenavs item=nav from=$index.list4.childmenu} 
	                    <li><a href="{$nav.link}">{$nav.name}</a></li>
	    			{/foreach}
                    </ul>
                    </div>
                </div>
            </div>
            <div class="class contact">
            	<p><img src="{$site_url}images/contact.jpg" /></p>
                <div class="contact_m">
                {$global.contact_us}
                </div>
            </div>
        </div>
        <div class="right">
        	<div class="pro">
            	<h1 class="pro_top"><a href="{$index.list1.link}" class="more"></a>{$index.list1.name}</h1>
                <div class="pro_m">
                <!--下面是向左滚动代码-->
<div id="colee_left" class="colee_left">
<table cellpadding="0" cellspacing="0" border="0">
<tr><td id="colee_left1" valign="top" align="center">
<table cellpadding="2" cellspacing="0" border="0">
<tr align="center">
{foreach item=article from=$index.list1.data}
<td><a href="{$article.link}"><img src="{$article.image}" width="154" height="122" title="img1" /><p class="title">{$article.title}</p></a></td>
{/foreach} 
</tr>
</table>
</td>
<td id="colee_left2" valign="top"></td>
</tr>
</table>
</div>
 
<!--向左滚动代码结束-->
        </div>
            </div>
            <div class="about">
            	<p class="mouse"><img src="{$site_url}images/mouse.png" /></p>
            	<h1 class="about_top"><a href="{$index.page1.link}" class="more1">更多</a>{$index.page1.name}</h1>
                <div class="about_m">
                	<img src="{$index.page1.image}" width="154" height="122" />
                    <p class="nr">{$index.page1.description}<a href="{$index.page1.link}">[查看详细]</a></p>
                </div>
            </div>
            <div class="about news">
            	<h1 class="about_top"><a href="{$index.list2.link}" class="more1">更多</a>{$index.list2.name}</h1>
                <div class="news_m">
                 <ul class="news_list" style="height:140px;">
                 {foreach item=article from=$index.list2.data}	 
                    <li><a href="{$article.link}"><span class="date">[{$article.pubdate}]</span>{$article.title}</a></li>
                    {if $article@index+1 == 5}{break}{/if}
                 {/foreach}       
                </ul>
                </div>
            </div>
        </div>
        <div class="Equipment">
        	<h1 class="Equipment_top">{$index.list3.name}</h1>
            <div class="picScroll-left">
            <a class="prev"></a>
			<div class="bd">
				<ul class="picList">
					{foreach item=article from=$index.list3.data} 
                    <li>
						<div class="pic"><a href="{$article.link}" target="_blank"><img src="{$article.image}" title="img1" width="159" height="123" /></a></div>
						<div class="title"><a href="{$article.link}" target="_blank">{$article.title}</a></div>
					</li>
                	{/foreach} 
				</ul>
			</div>
            <a class="next"></a>
		</div>
        </div>
    </div>
    {include file="./_footer.html"}
</div>
</body>
</html>
