<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script type="text/javascript">
		// 跳转手机页面
		{if $site_another_url}
			if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
{$headscript}
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more');
</script>
<![endif]-->

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" /> 
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<script type="text/javascript" src="{$site_url}js/myfocus-2.0.4.min.js"></script>
<script language="javascript" type="text/javascript" src="{$site_url}js/yao.js"></script>
</head>

<body>
<div class=" main">
{include file='./_header.html'} 
     
    <div class="content">
    	<div class="left">
        	<div class="news">
            	<h1 class="news_top"><a href="{$index.list1.link}" class="more"></a>{$index.list1.name}</h1>
                <div class="news_m">
                	<ul class="news_list" style="height:120px;">
                    {foreach item=article from=$index.list1.data}
                      <li><a href="{$article.link}"><span class="date">{$article.pubdate}</span>{$article.title}</a></li>
                      {if $article@index+1 == 4}{break}{/if}
                    {/foreach}  
               </ul>
                </div>
            </div>
            <div class="contact">
            	地址：{$contact.address}<br />
电话：{$contact.telephone}<br />
手机：{$contact.mobile}<br />
邮箱：{$contact.mail}<br />
联系人：{$contact.name}
            </div>
        </div>
        <div class="right">
        	<div class="about">
            	<h1 class="news_top"><a href="{$index.about_image.link}" class="more"></a>{$index.about_title}</h1>
                <div class="about_m">
                	<div class="qiehuan">
        	<div id="YSlide">
	   	<div class="YSample"><a href="#1"><img src="images/img.jpg" width="178" height="137" /></a></div>
                <div class="YSample"><a href="#1"><img src="images/img.jpg" width="178" height="137" /></a></div>
                <div class="YSample"><a href="#1"><img src="images/img.jpg" width="178" height="137" /></a></div>
                <div class="YSample"><a href="#1"><img src="images/img.jpg" width="178" height="137" /></a></div>
                <div class="YSample"><a href="#1"><img src="images/img.jpg" width="178" height="137" /></a></div>
	   	<p id="YSIndex"><a href="#1" class="current">1</a><a href="#1">2</a><a href="#1">3</a><a href="#1">4</a><a href="#1">5</a></p>
</div>


</div>
	<p>
            {$index.about_description}
<a href="{$index.about_image.link}">[详情]</a></p>
                </div>
            </div>
            <div class="about pro">
            	<h1 class="news_top"><a href="{$index.list1.link}" class="more"></a>{$index.list1.name}</h1>
                <div class="pro_m">
                	<!--下面是向左滚动代码-->
<div id="colee_left" class="colee_left">
<table cellpadding="0" cellspacing="0" border="0">
<tr><td id="colee_left1" valign="top" align="center">
<table cellpadding="2" cellspacing="0" border="0">
<tr align="center">
                    {foreach item=article from=$index.list1.data} 
                      <td><a href="{$article.link}"><img src="{$article.image}" width="157" height="121" /><p class="title">{$article.title}</p></a></td> 
                    {/foreach}  
</tr>
</table>
</td>
<td id="colee_left2" valign="top"></td>
</tr>
</table>
</div>

<!--向左滚动代码结束-->
                </div>
            </div>
        </div>
    </div>
{include file='./_footer.html'} 
</div>
</body>
</html>
