<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
{$headscript}
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more');
</script>
<![endif]-->
<script type="text/javascript" src="{$site_url}js/myfocus-2.0.4.min.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<script language="javascript" type="text/javascript" src="{$site_url}js/yao.js"></script>
</head>

<body>
<div class=" main">
           {include file='./_header.html'} 
    <div class="content">
    	<div class="left">
        	<div class="news">
            	<h1 class="news_top">{$pagenavs[0].name}</h1>
                <div class=" class_m">
                	<ul class="first">
                    	{foreach name=pagenavs item=nav from=$pagenavs}    
                        <li><a href="{$nav.link}">{$nav.name}</a></li>
			{/foreach} 
                    </ul>
                </div>
            </div>
            <div class="contact">
            	地址：{$contact.address}<br />
电话：{$contact.telephone}<br />
手机：{$contact.mobile}<br />
邮箱：{$contact.mail}<br />
联系人：{$contact.name}
            </div>
        </div>
        <div class="right">
        	<h1 class="news_top"><strong class="lujin">您现在的位置：<a href="index.html">首页</a>&nbsp;&gt;&gt;&nbsp;{$list.name}</strong>{$list.data[0].category.name}</h1>
            <div class="right_m">
            <ul class="news_list">
                {foreach name=article item=article from=$list.data}
                        <li><a href="{$article.link}"><span class="date">{$article.pubdate}</span>{$article.title}</a></li>                                                         
                        {/foreach}  
             </ul>
             <div class="next2">
                 第{$page_links.current_page}页/共{$page_links.page_count} 页
                    <a href="{$page_links.first_link}">首页</a>
                    <a href="{$page_links.prev_link}">上一页</a>
                    {foreach name=nears_link item=near_link key=near_page from=$page_links.nears_link}
                    {if $near_page == $page_links.current_page}
                        <a>{$near_page}</a>
                    {else}
                        <a href="{$near_link}">{$near_page}</a>
                    {/if}
                    {/foreach}
                    <a href="{$page_links.next_link}">下一页</a> 
                    <a href="{$page_links.last_link}">尾页</a>
             </div>
                        </div>
        </div>
    </div>
{include file='./_footer.html'} 
</div>
</body>
</html>
