
    <div class="top"></div>
    <div class="header">
     
      <div class="nylogo">
          <a href="{$site_url}"><img src="{$global.nylogo.image}" title="返回首页"></a>
      </div>
      <div class="search">
        <form action="{$search_action}" method="GET">
          <input class="searchbox" type="text" value="Search for">
          <input class="searchbtn" type="submit" value="">
        </form>
      </div>

    </div>

    <div class="nymenu">
        <ul id="nav" class="nav">
            {$limit = 5}
            <li class="nLi" style="width:{100/($limit+1)}%"><h3><a href="{$site_url}">首 页</a></h3></li>
            {foreach name=navs item=nav from=$navs}
            <li class="{if $nav.current} current{/if} nLi" style="width:{100/($limit+1)}%">
                <h3><a href="{$nav.link}">{$nav.name}</h3></a>
                {if $nav.childmenu}
                    <ul class="sub">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
            {/foreach}
        </ul>

     </div>






              
    <!--banner-->
    <div class="nybanner">
      <div id="slideBox" class="slideBox">
        <div class="hd">
          <ul>
            {foreach name=slidepics item=slidepic from=$global.slidepics}
             <li></li>
            {/foreach}            
          </ul>
        </div>
        <div class="bd">
          <ul>
            {foreach name=slidepics item=slidepic from=$global.slidepics}
                  <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" width="100%" height="379" /></a></li>       
            {/foreach}

<!--             <li><a href="#"><img src="images/nybanner.jpg" /></a></li>
            <li><a href="#"><img src="images/nybanner.jpg" /></a></li>
            <li><a href="#"><img src="images/nybanner.jpg" /></a></li> -->
          </ul>
        </div>
      </div>

    </div>




