<!-- 二级栏目列表（展示到三级子栏目） -->
{if $pagenavs}
<div class="nysidebar">
 		
        <div class="sidebar-tit">{$posnavs[0].name}/<span>{$posnavs[0].en_name}</span></div>

	 	<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
		<ul class="first">
			{foreach name=pagenavs item=nav from=$pagenavs}
			<li class="{if $nav.current}current{/if}">
				<a href="{if count($nav.childmenu) eq 0}javascript:;{else}{$nav.link}{/if}"><span>{$nav.name}</span></a>
				{if $nav.childmenu}
				<ul class="second">
					{foreach key=key item=nav_list from=$nav.childmenu}
					<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a>
					{if $nav_list.childmenu}
						<ul class="three">
							{foreach key=key item=nav_next_list from=$nav_list.childmenu}
							<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a>
							{/foreach}
						</ul>
						{/if}


					</li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>


</div>
{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<div class="nysidebar">
 		
        <div class="sidebar-tit">{$_pagenavs_sub3.pagenavs.name}/<span>{$_pagenavs_sub3.pagenavs.en_name}</span></div>

	 	<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
		<ul class="first">
			{foreach name=pagenavs2 item=nav from=from=$_pagenavs_sub3.pagenavs.childmenu}
			<li class="{if $nav.current}current{/if}">
				<a href="{if count($nav.childmenu) eq 0}javascript:;{else}{$nav.link}{/if}">{$nav.name}</a>
				{if $nav.childmenu}
				<ul class="second">
					{foreach key=key item=nav_list from=$nav.childmenu}
					<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a>
					{if $nav_list.childmenu}
						<ul class="three">
							{foreach key=key item=nav_next_list from=$nav_list.childmenu}
							<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a>
							{/foreach}
						</ul>
						{/if}


					</li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>


</div>
{/if}


<!--                 <div class="nysidebar">
                  <div class="sidebar-tit">{$list.name}/<span>{$list.en_name}</span></div>
                  <ul class="first">
                        <li><a href="javascript:void(0);" class="choose"><span>公司简介</span></a>
                          <ul class="second">
                            <li><a href="#">公司发展</a></li>
                            <li><a href="#">公司历程</a>
                                <ul class="three">
                                  <li><a href="#">三级分类</a></li>
                                </ul>
                            </li>
                          </ul>                               
                        </li>                          
                        <li><a href=""><span>企业资质</span></a></li>
                        <li><a href=""><span>企业荣誉</span></a></li>

                  </ul>                
                </div> -->