<div class="heaer public_bg clearfix">
      <div class="logo"><img src="images/logo.png"></div>
        <div class="menu">
              <div class="nav">
                          <a class="arrow-left" href="#">&lt;</a> 
           <a class="arrow-right" href="#">&gt;</a>

               <div class="swiper-nav swiper-container">
         
                  
         <div class="swiper-wrapper">
                      <div class="swiper-slide"><span><a href="index.html" class="public_color1" >网站首页 </a></span></div>
                      {foreach name=navs item=nav from=$navs}
                      <div class="swiper-slide"><span><a href="{$nav.link}" class="public_color1">{$nav.name}</a></span></div>
                      {/foreach}

                  </div>
                     
                
				</div>
                </div>
    </div>
    </div>