.env.*.php
.env.php
.env
.DS_Store
Thumbs.db
nbproject/
bootstrap/compiled.php
bootstrap/start.php
app/config/database.php
app/config/local/*
app/views/templates/*
public/temp_templates/*
public/templates/*
public/customers/*
app/storage/cache/*
app/storage/logs/*
app/storage/views/*
app/storage/sessions/*
app/controllers/FormController.php.rej
/vendor/dark/phpanalysis/base_dic_source.txt