.env.*.php
.env.php
.env
.DS_Store
Thumbs.db
nbproject/
bootstrap/compiled.php
app/views/templates/*
public/temp_templates/*
public/templates/*
app/storage/cache/*
app/storage/logs/*
app/storage/views/*
app/storage/sessions/*
