@import "mixin";
html{
	height: 100%;
}
body{
	font-family: "Microsoft YaHei"," \5FAE\8F6F\96C5\9ED1";
	font-size: 14px;
	color: #2a1f03;
	display: block;
	height: 100%;
	min-width: 1200px;
}

h2{font-size: 18px;}
h3{font-size: 16px;}
h4{font-size: 15px;}
h5{font-size: 14px;}
h6{font-size: 12px;}

/*
page
 */
@import "page_normal";
// baidu
@import "baidu";

// fixed_nav
@import "fixed_nav";
//ul nav
@import "pagenavs_sub4";


#slide4 h2,#slide4 a.read_more,#slide6 h2{
	margin-left: 47.55%;
}

.container{
	position: fixed;
	width: 100%;
	min-width: 1200px;
	top: 100%;
	// height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
	// overflow: hidden;
	z-index: 2;
}

// slide
.slide{
	width: 100%;
	min-width: 1200px;
	text-align: center;
	background-attachment: fixed;
}
.slide_inner{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.inner_wrap{
	padding-left: 21.83%; 
	text-align: left;
}

//home slider
#home{position: fixed;top: 0;}
.banner {
	position: relative;
	width: 100%;
	overflow: hidden;

	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
.banner ul {
	list-style: none;
	width: 300%;
}
.banner ul li {
	position:relative;
	display: block;
	float: left;
	width: 33%;
	min-height: 736px;

	/*-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;*/

	box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}
.banner ul li img{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	@include filter_blur(4px);
}

.banner h1, .banner h2 {
	font-size: 40px;
	line-height: 52px;

	color: #fff;
}

.banner .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 150px;
	width: 100%;
}
.banner .dots li {
	display: inline-block;
	*display: inline;
	zoom: 1;

	width: 10px;
	height: 10px;
	line-height: 10px;
	margin: 0 4px;

	text-indent: -999em;
	*text-indent: 0;

	border: 2px solid #fff;
	border-radius: 6px;

	cursor: pointer;
	opacity: .4;

	// @include transition(background .5s, opacity .5s);
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	-o-transition: background .5s, opacity .5s;
	-ms-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.banner .dots li.active {
	background: #fff;
	opacity: 1;
}

.box_inner{
	position: absolute;
	top: 225px;
	left: 0;
	right: 0;
	width: 1200px;
	margin: 0 auto;
	color: #fff;
}
.shap{
	float: right;
	width: 438px;
	height: 154px;
	background-image: url(../images/slider_shape.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;	
	margin-right: -25px;
}
.shap_inner{
	width: 152px;
	height: 152px;
	background-color: #e1bb09;
	font-size: 36px;
	border-radius: 50%;
	// float: right;
	margin-left: 160px;
}
.shap_inner span{
	display: block;
	float: left;	 
}
.shap_inner span.txt_b{font-size: 60px;margin: 50px 4px 0 10px;@include transform(-3deg);}
.shap_inner span.txt_s{margin: 70px 0 0;}
.description{
	float: right;
	width: 466px;
	overflow: hidden;
	font-size: 14px;
	text-align: left;
}
.yellow{
	font-size: 24px;
	color: #e6be03;
	font-weight: lighter;
}
.yellow span{
	font-weight: normal;
	margin-left: 8px;
}
.sub_title{
	font-size: 36px;
	font-weight: bolder;
	margin: 15px 0;
}
.description .p{
	line-height: 2;
}


#previewList {
	position: absolute;
	text-align: center;
	bottom: 160px;
	left: 50%;
}
#previewList li{
	display: inline-block;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	margin: 0 8px;
	border-radius: 50%;
	border: 1px solid #fff;
	cursor: pointer;
}
#previewList li.active {
	background-color: #fff;
	cursor: pointer;
}
#previewList li.active:hover { cursor: default; }


.more{
	display: block;
	width: 32px;
	height: 32px;
	margin: 4px auto;
	background-color: #e6be03;
	line-height: 32px;
}
// 
.c_l{
	width: 47.55%;
	float: left;
}
.c_r{
	width: 50.53%;
	float: right;
}
// read_more
.read_more{
	display: inline-block;
	padding: 13px 53px;
}
#slide1 a.read_more,#slide3 a.read_more{
	color: #e6be03;
	background-color: #214760;
}
#slide2 a.read_more,#slide4 a.read_more{
	color: #214760;
	background-color: #e6be03;
}

#slide1,#slide2,#slide3,#slide4,#slide5{
	background-image: url(../images/bg.png);
	background-repeat: repeat;
}

// slide1
#slide1{
	padding-top: 35px;
	padding-bottom: 200px;
	top: 736px;
	z-index: 2;
}
#slide1:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e6be03;
	@include skewY(8deg);
	@include transform-origin(right);
}
#slide1 .slide_inner{
	margin-top: -60px;
}
.slide_inner .txt{
	margin: 20px 0 55px;
	max-height: 196px;
	overflow: hidden;
}
.slide_inner .txt p{
	text-indent: 2em;
	line-height: 2;
}
#slide1 .slide_inner h2 span{
	color: #2a1f03;
}

// news
#slide2{
	padding-bottom: 100px;
	color: #fff;
	z-index: 0;
}
.c_l .img_wrap{
	position: relative;
	width: 264px;
	height: 325px;
	margin: 0 auto;
}
.c_l .img_wrap:before{
	position: absolute;
	content: "";
	width: 244px;
	height: 305px;
	border: 10px solid #7a91a0;
	top: 30px;
	left: 30px;
}
.c_l .img_wrap:after{
	position: absolute;
	content: "";
	width: 264px;
	height: 325px;
	top: 0;
	left: 0;
	background-color: #fff;
}
.c_l .img_wrap img{
	position: absolute;
	width: 244px;
	top: 10px;
	left: 10px;
	z-index: 2;
}
.c_r ul{
	padding: 30px 0 40px;
}
.c_r ul li{
	list-style-type: circle;
}
.c_r ul li a{
	line-height: 3;
	color: #fff;
}
.c_r ul li a span{
	color: #849eaf;
	font-size: 12px;
}
.c_r ul li a span.title{
	float: left;
	max-width: 78%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.c_r ul li a span.date{float: left;width: 20%;}

// product
#slide3{
	padding-top: 220px;
	z-index: 1;
}
#slide3:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e6be03;
	@include skewY(-8deg);
	@include transform-origin(right);
}
#slide3 ul{
	padding: 0;
	margin-left: -14.015px;
}
#slide3 ul li{
	position: relative;
	width: 224px;
	height: 275px;
	background-color: #fff;
	float: left;
	margin-left: 14.015px;
	text-align: center;
	overflow: hidden;
	&:hover{
		.smak{
			height: 145px;
		}
		img{
			bottom: 145px;
		}
	}
}
#slide3 ul li>img{
	position: relative;
	margin-top: 2px;
	margin-left: 2px;
	width: 217px;
	bottom: 0;
	@include transition(all 300ms ease);
}
#slide3 ul li h5{
	color: #333;
	line-height: 2;
	padding: 0 5px;
	height: 28px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 15px;
	position: relative;
}
#slide3 ul li h5:before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
  width: 30px;
  margin: 0 auto;
  background-color: #214760;
  left: 0;
  right: 0;
}
#slide3 ul li a{
	color: #214760;
	font-size: 18px;
	font-weight: bolder;
}
#slide3 .slide_inner h2 span{
	color: #292516;
}
#slide3 .inner_wrap ul{
	padding: 65px 0 60px;
}
#slide3 ul li .smak{
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;	
	overflow: hidden;
	@include transition(all 300ms ease);
}
.smak p {
  line-height: 2;
  padding: 0 5px;
  max-height: 56px;
  overflow: hidden;
}

// case
#slide4{
	color: #fff;
	padding: 200px 0 150px;
	z-index: 0;
}
.img_list{
	overflow:hidden;
	padding: 40px 0 90px;
	width: 100%;
	height: 470px;
}
.img_list ul{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
 }
.img_list li{
	position: relative;
	float: left;
	width: 25%;
	height: 50%;
}
.img_list li img{
	width: 100%;
	height: 100%;
}
.img_list .inner{position:absolute; top:0; right:0; bottom:0; left:0;}
.img_list li:nth-child(1){
	width: 25%;
	height: 50%;
	padding-bottom: 25%;
}
.img_list li:nth-child(3){
	clear: both;
	margin-left: 25%;
	margin-top: -25%;
}
.img_list li:nth-child(4){
	clear: both;
	margin-left: 50%;
	margin-top: -50%;
}
.img_list li:nth-child(5){
	clear: both;
	width: 25%;
	margin-left: 75%;
	margin-top: -50%;
}
.img_list li:nth-child(6){
	clear: both;
	width: 50%;
	margin-left: 50%;
	margin-top: -25%;
}

.inner_wrap .mask{}
.inner_wrap .mask_content{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255,255,255,0.5);
	@include transition(all 300ms ease);
}
.inner_wrap .title h5 a{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 5px;
	display: block;
	text-align: center;
	color: #fff;
	background-color: #2d2722;
	line-height: 50px;
	height: 0;
	overflow: hidden;	
	white-space: nowrap;
	text-overflow: ellipsis;
	opacity: 0;
	@include transition(all 300ms ease);
}
.mask:hover .mask_content{
	opacity: 0;
}
.mask:hover .title h5 a{
	opacity: 1;
	height: 50px;
}

// feedback
#slide5{
	background-color: #e6be03;	
	z-index: 2;
}
#slide5:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e6be03;
	@include skewY(5deg);
	@include transform-origin(right);
}
#slide5 .form{
	padding-top: 30px;
}
.f_item{
	width: 100%;
}
.f_item label{
	display: block;
    line-height: 4;
}
.f_item label span{
	margin-left: 4px;
	text-transform: uppercase;
}
.f_item input{
	width: 100%;
    display: block;
    line-height: 39px;
    border-radius: 20px/20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0 15px;
}
.f_item textarea{
	width: 100%;
    border-radius: 20px/20px;
    border: none;
    box-sizing: border-box;
    padding: 15px;
}
.f_submit{
	width: 100%;
}
.f_submit #feedback_smt{
	border: none;
	background-color: #214760;
	color: #e6be03;
	display: block;
	margin: 40px auto;
	padding: 15px 45px;
	border-radius: 20px/20px;
	cursor: pointer;
}
#slide5 .c_r p{
	line-height: 2.3;
	padding-top: 40px;
}
//contactus
#slide6{
	height: 710px;
	background: url(../images/contact.jpg) no-repeat;
	background-position: center;
	z-index: 0;
}
#slide6:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(64,57,49,0.8);
}
#slide6 h2{
	margin-top: 115px;
	color: #fff;
}
.follow_us_w{
	width: 340px;
	margin-top: 320px;
	margin-right: -4.038%;
	float: right;
}
.follow_us_w .follow_us{float: left;}
.follow_us_w .arrow{
	float: right;
	margin-top: 58px;
}
.follow_us_w span{
	margin-left: 25px;
	line-height: 3;
	color: #fff;
}
.contactus_w{
	margin-top: 110px;
    border: 12px solid #888;
    color: #fff;
}
.contactus_w div{
	padding-bottom: 25px;
	padding-left: 25px; 
}
.contactus_w h3{
	line-height: 4;
}
.contactus_w p{
	line-height: 2;
	height: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// slide_inner h2
.slide_inner h2{
	line-height: 2;
	margin-right: 15px;
	overflow: hidden;
	height: 72px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.slide_inner h2 span{
	font-size: 36px;
	font-weight: lighter;
	font-family: "";
	margin-right: 10px;
	position: relative;
	line-height: 2;
	display: inline-block;
}
.slide_inner h2>span:before {
  position: absolute;
  content: "";
  width: 60%;
  bottom: 0;
  height: 3px;
  background-color: #214760;
}
#slide2 h2>span:before,#slide4 h2>span:before,#slide6 h2>span:before{
	background-color: #e6be03;
}

// inner page
.wrap{
	position: relative;
	width: 100%;
	min-height: 100%;
	background-color: #e6be03;
}
.top_blue,.bottom_blue{
	position: absolute;
	content: "";
	z-index: 1;
}
.top_blue{
	top: 0;
	right: 0;
	border-top: 350px solid #214760;
	border-left: 1560px solid transparent;
}
.bottom_blue{
	bottom: 0;
	left: 0;
	border-bottom: 260px solid #214760;
	border-right: 1140px solid transparent;
}
.wrap_inner{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;	
	overflow: hidden;
	z-index: 2;
}

// .main
.main{
	padding: 180px 0 210px 21.83%;
}
.main h2{
	position: relative;
	font-size: 18px ;
	line-height: 1;
}
.main h2 span{
	font-size: 36px;
	font-weight: lighter;
	font-family: "";
	margin-right: 10px;
	color: #2a1f03;
	text-transform: uppercase;
	position: relative;
	line-height: 2;
	display: inline-block;
	height: 72px;
}
.main h2 span:before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 3px;
  background-color: #214760;
  width: 60%;
}
.con{
	padding-top: 40px;
	width: 100%;
	max-width: 940px;
}
span.fenlei,span.date{padding-right: 8px;}

// about
.about p{
	text-indent: 2em;
	line-height: 2;
}

//content_pro
.content_pro{
	padding-bottom: 15px;
	border-bottom: 1px dotted #666;
}
.content_pro .img_wrap{
	float: left;
	width: 467px;
	height: 570px;
	background-color: #fff;
	margin-right: 35px;
	margin-bottom: 10px;
}
.content_pro .img_wrap img{
	position: relative;
	margin: 2px;
	margin-top: 2px;
	width: 463px;
	height: 566px;
}
.content_pro .news_txt{
	padding: 10px 0 ;
}
.content_pro .news_txt p{
	line-height: 1.5;
}
.remarks{
	margin: 15px 0 30px;
	text-indent: 2em;
	line-height: 1.5;
}

//list_imagetext
.list_imagetext ul{
	margin-left: -10px;
}
ul.img_li li{
	position: relative;
	width: 227px;
	height: 277px;
	float: left;
	margin-left:10px; 
	margin-bottom: 20px;
	overflow: hidden;
	&:hover{
		.img_title{height: 145px;}
		.img_wrap img{
			bottom: 145px;
		}
	}
}
.list_imagetext li .img_wrap{
	position: relative;
	width: 100%;
	height: 277px;
	background-color: #fff;
}
.list_imagetext li .img_wrap img{
	position: relative;
	margin-top: 2px;
	margin-left: 2px;
	width: 222px;
	height: 272px;
	bottom: 0;
	@include transition(all .6s ease);
}
.list_imagetext li .img_title{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	// top: 50%;
	background-color: #fff;
	color: #666;
	text-align: center;
	overflow: hidden;
	height: 0;
	@include transition(height .6s ease);
}
.list_imagetext li .img_title h5{
	color: #333;
	line-height: 2;
	overflow: hidden;
	height: 28px;
	padding: 0 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	margin-top: 15px;
}
.list_imagetext li .img_title div.txt{
	line-height: 2;
	max-height: 56px;
	overflow: hidden;
	padding: 0 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.list_imagetext li .img_title div.readmore a{
	display: block;
	margin: 4px auto;
	width: 32px;
	height: 32px;
	background-color: #e6be03;
	line-height: 32px;
	font-size: 18px;
	font-weight: bolder;
}

// article
.article h3,.article>p{
	text-align: center;
}
.article>p{font-size: 12px;line-height: 3;}
.return{color: #214760;}
.article_con{border-bottom: 1px dotted #666;}
.article_con p{text-indent: 2em;line-height: 2;}
a.pre,a.nxt{padding: 20px 0;color: #333;width: 49%;}
a.pre{text-align: right;float: left}
a.nxt{text-align: left;float: right;}

// 765e20
.list li{padding-bottom: 10px;}
.list h3{
	position: relative;
	margin-right: 20px;
	max-height: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 15px;
	@include transition(all 0.3s ease);
}
.list h3:before{
	position: absolute;
	content: "";
	top: 11px;
	left: 0;
	border-left: 5px solid #294c5c;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	@include transition(all 0.3s ease);
}
.list h3:hover:before{left: 4px;}
.list h3 a{
	color: #2a1f03;
	line-height: 2;
}
.list p{
	color: #765e20;
	line-height: 2;
	text-indent: 2em;
	max-height: 112px;
	overflow: hidden;
}

/*
search page
 */
p.search_res {
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (max-width:1279px){
	.description{
		margin-right: 20px;
	}
	.shap{
		margin-right: 0;
	}
}

@media only screen and (max-width:1366px){
	.fixed_nav{left: 0;margin-left: 0;}
}
@media only screen and (min-width:1367px){
	.fixed_nav{left: 50%;margin-left: -600px;}
}