<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"/>
<script type="text/javascript">
	// 跳转手机页面
	{if $site_another_url}
	if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
	    location.href = '{$site_another_url}';
	} {/if}
</script>

<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />

<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />

<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{$site_url}js/jquery.js"></script>
</head>
<!-- 关于我们 -->
<body>
  <!-- fixed_nav layer start -->
  {include file='./fixed_nav.html'}   
  <!-- fixed layer end -->
	<div class="wrap">
		<div class="wrap_inner">
		{include file='./_pagenavs_sub3.html'}

		<div class="main">
			<h2><span>{$list.en_name}</span>{$list.name}</h2>
			<div class="con">
				<div class="list_imagetext clearfix">
					<ul class="img_li clearfix">
						{$limit = 12}
						{foreach name=article item=article from=$list.data}
						<li>							
							<div class="img_wrap"><img src="{$article.image}" alt="{$article.title|strip_tags}"></div>
							<div class="img_title">
								<h5>{$article.title}</h5>
								<div class="txt">{$article.description}</div>
								<div class="readmore"><a href="{$article.link}">+</a></div>
							</div>
						</li>
						{if $article@index+1 eq $limit}{break}{/if}
						{/foreach}								
					</ul>

					{include file='./_page_normal.html'}
				</div>
			</div>

		</div>

		</div>

		<div class="top_blue"></div>
		<div class="bottom_blue"></div>
	</div>
	{$footscript}

<script src="{$site_url}js/fun.js" type="text/javascript"></script>	
	
</body>
</html>