/*万用表单*/
#bomb-box .box_info{
	margin-left:0px;
}
/*===选项卡标题部分===*/
.af-left{
	width: 39%;
	min-width: 198px;
}
.af-right{
	width: 59%;
	min-width: 298px;
}
.tab-head{
	/*border-bottom: 2px grey solid;*/
	height: 40px;
	background: #cfccc8;
	text-align: center;
}
.tab-head-item{
	overflow: hidden;
	text-align: center;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin: 5px;
	width: 25%;
}
.tab-head-item-active, .tab-head-item:hover{
	cursor: pointer;
	background: grey;
}

/*===选项卡内容部分===*/
.tab-content{
	text-align: center;
	margin: 0 auto;
	width: 80%;
}
.tab-content-item{
	margin-top: 20px;
}
/*项目列表加样式*/
.list-item{
	margin-top: 5px;
	overflow: hidden;
	padding: 5px 10px;
	text-align: left;
}
.list-item .content-l{	
	font-weight: bold;
	font-size: 12px;
	min-height: 20px;
	line-height: 20px;
	margin-bottom: 5px;
}
.list-item span.option-item{
	margin-right: 30px;
	font-size: 12px;
	min-height: 20px;
	line-height: 20px;
	display: inline-block;
}
.list-item p.option-item{
	margin-right: 30px;
	font-size: 12px;
	min-height: 20px;
	line-height: 20px;
}
input[type="submit"],input[type="reset"]{
	width: 100px;
	height: 30px;
}
input[type="text"],input[type="password"]{
	height: 30px;
	border-radius: 5px;
	width: 60%;
	padding: 0 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
}
textarea{
	height: 100px;
	width: 75%;
	padding: 10px;
	overflow: auto;
	border-radius: 5px;
}
input[type="checkbox"]{
	-webkit-appearance: none;
	border: 1px solid #ccc;
	background: #fff;
	width: 15px;
	height: 15px;
	outline:none;
	cursor:pointer;
	vertical-align: middle;
	margin-right: 10px;
}
input[type="checkbox"]:checked{
	border-color: #ccc;
	background: url(../images/check02.jpg) center center no-repeat;
	vertical-align: middle;
	margin-right: 10px;
}
input[type="radio"]{
	-webkit-appearance:none;
	border:1px solid #ccc;
	background:#fff;
	width:15px;
	height:15px;
	margin-right:0px;
	border-radius:100%;
	outline:none;
	cursor:pointer;
	vertical-align: middle;
	margin-right: 10px;
}
input[type="radio"]:checked {
	border-color: #ccc;
	background: url(../images/radioico.jpg) center center no-repeat;
	margin-right: 10px;
}
/*组件样式*/
.utility{transition: all 0.3s ease 0s;width: 26.5%;margin: 6px 2%;background: #FFF;padding: 5px 0.6% 5px 1.4%;z-index: 10;border: 1px dashed #999;border-radius: 3px;cursor: pointer;float: left;}
.utility:hover{background-color: #D0E2F3;border-color: #57A5CA;border-style: solid;}
.utility .title{display: inline-block;line-height: 30px;margin: 0 auto;}

/*右边*/
.add-show{
	width: 80%;
	background: #AAAAAA;
	/*border: 1px #57A5CA solid;*/
	margin: 0 auto;
	padding: 20px;
}
.add-show .as-title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.add-show .as-description{
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	margin: 10px;
	word-wrap: break-word;
}

.add-show .unit-preview{
	margin: 10px 20px;

}
.add-show .unit-preview .element-show{

}

.add-info{
	text-align: center;
	margin: 10px auto;
	max-width: 100%;
}
.add-info .f-btn{
	margin: 5px 20px;

}

/*浏览用户表单数据页面*/
.vf-left{
	width:49%;
}
.vf-right{
	width: 49%;
}

.a-table{
}
.data-li{
	border-bottom: 1px #ffffff dashed;
	padding-bottom: 5px;
	margin-bottom: 5px;
	min-height: 30px;
	line-height: 30px;
}
.data-litem{
	float: left;
	width: 30%;
	text-align: right;
	word-wrap: break-word;
	word-break: normal; 
}
.data-ritem{
	float: right;
	width: 60%;
	text-align: left;
	word-wrap: break-word;
	word-break: normal; 
	color: #5c5c5c;
	font-size: 12px;
}


/*用户填写表单页面*/
.form-write{
	width:80%;
	margin:0 auto;
}


.hover{
	background: #D0E2F3;
}

button{
	display: inline-block;
	width: 35px;
	height: 25px;
	margin: 0 5px;
}

button .square{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
}
.col-area{
	margin:10px 0;
}

.boxs{
	overflow-y:auto; 
}

/*===前端表单样式，前缀fv（form-view）===*/
.fv-.add-show{background: none;}
/*title*/
.fv-as-title,.fv-as-description{ text-align: center; line-height: 22px;}
.fv-as-title{ padding-top: 20px; font-weight: bold; font-size: 20px;}
.fv-as-description{ padding-bottom: 20px;}

/*main*/
.fv-unit-preview{ margin:0 auto; padding:1% 4%; max-width: 600px; min-width: 320px;}

.fv-element-show{ padding-bottom:3%;}
.fv-element-show p{ width: 100%; line-height: 30px; font-size:16px; font-weight: bold; padding-top: 6px;}
.fv-element-show input[type="text"],.fv-element-show input[type="password"]{height: 26px; line-height: 26px; border:1px solid #cccccc;}
.fv-element-show textarea{ width: 100%;height:80px; border:1px solid #cccccc;}

.fv-option-item{ margin-right:6px;}

/*提交、重置按钮*/
.fv-unit-preview input[type="submit"]{ width: 70px; height: 30px; line-height: 15px; margin-right:1%; text-align: center; vertical-align: middle;}
.fv-unit-preview .button{ width: 70px; height: 30px; line-height: 15px; margin: 0 1%;text-align: center; vertical-align: middle;}

.article_con .about p{text-indent: 0;}
/*.as-title {
    font-size: 20px;
}
.as-title {
    font-weight: bold;
    padding-top: 20px;
}
.as-title, .as-description {
    line-height: 22px;
    text-align: center;*/