/* 文章页 */

article {
	padding-top: 1em;
}
article h3 {
	width: 80%;
	margin: 0 auto 1em;
	height: 3px;
	background-color: #EEE;
	line-height: 1px;
}
	article h3 span {
		display: block;
		width: 120px;
		margin: -.6em auto 0;
		font: 700 12px/3px "Microsoft Yahei";
		letter-spacing: 0.5em;
		color: #666;
		text-align: center;
	}

article .article-header {
	width: 80%;
	margin: 0 auto;
}
.article-header .article-images {
	width: 60%;
}
	.article-images li {
		width: 49.5%;
		margin-right: .5%;
		margin-bottom: .3rem;
	}
	.article-images img {
		width: 100%;
	}
.article-header .article-title {
	width: 30%;
	padding: 0 5%;
}
	.article-title h2 {
		padding-top: 50px;
		padding-top: 5rem;
		font: 28px/32px "Microsoft Yahei";
		font: 2.8rem/3.2rem "Microsoft Yahei";
		text-align: center;
		letter-spacing: 0.2em;
	}
	.article-title hr {
		width: 3rem;
		background-color: #dec7cd;
		border: 0;
		height: 3px;
		margin: 1.6rem auto;
	}
	.article-title time {
		display: block;
		font: 10px/26px "Comic Sans MS";
		font: 1rem/2.6rem "Comic Sans MS";
		text-align: center;
		font-style: italic;
		margin-bottom: 3rem;
	}
	.article-title p {
		font: 12px/20px "";
		font: 1.2rem/2rem "";
		text-align: center;
		color: #333;
		letter-spacing: 0.15em;
	}

article .article-content {
	width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
}