/* 列表页 */

#category {
	padding-top: 1em;
}
#category h2 {
	width: 80%;
	margin: 0 auto 1em;
	height: 3px;
	background-color: #EEE;
	line-height: 1px;
}
	#category h2 span {
		display: block;
		width: 120px;
		margin: -.6em auto 0;
		font: 700 12px/3px "Microsoft Yahei";
		letter-spacing: 0.5em;
		color: #666;
		text-align: center;
		white-space: nowrap;
		word-break: keep-all;
	}
#category ul {
	width: 80%;
	margin: 0 auto;
}
#category ul.list li { width: 25%; }
#category ul.list li:first-child { width: 50%; }
#category ul.list li .img img { height: 280px; height: 20vw; }
#category ul.list li:first-child .img img { height: 560px; height: 40vw; }
#category ul.list li dl { padding: 10% 5%; opacity: 0; visibility: hidden; }
#category ul.list li:hover dl { opacity: 1; visibility: visible; }
#category ul.list li:first-child dl { padding: 6% 5%; opacity: 1; visibility: visible; }
#category ul.list li dl dt { font-size: 16px; font-size: 1.6rem; }
#category ul.list li:first-child dl dt { font-size: 18px; font-size: 1.8rem; }
#category ul.list li dl dd { font-size: 12px; font-size: 1.2rem; margin-top: 6%; }
#category ul.list li:first-child dl dd { font-size: 16px; font-size: 1.6rem; }
#category ul.list li dl dd.cat a { font-size: 10px; font-size: 1.0rem; }
#category ul.list li:first-child dl dd.cat a { font-size: 12px; font-size: 1.2rem; }
#category ul.list li dl dd.cat,
#category ul.list li dl dd.pubdate { display: none; }
#category ul.list li:first-child dl dd.cat,
#category ul.list li:first-child dl dd.pubdate { display: block; }
#category ul.list li dl dd a.readmore { height: 2.4em; line-height: 2.4em; }
#category ul.list li:first-child dl dd a.readmore { height: 3em; line-height: 3em; }

#category .nexts-btn {
	display: block;
	width: 20rem;
	height: 4rem;
	margin: 3rem auto;
	font: 1.8rem/4rem "Microsoft Yahei";
	color: #555;
	border: 1px solid #b7b7b7;
	text-align: center;
}
#category .nexts-btn:hover {
	background: #dec7cd;
	color: #FFF;
	border-color: #dec7cd;
}