<!DOCTYPE html>
<html manifest="huancun.manifest">
	<head>
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta content="telephone=no, email=no" name="format-detection">
		<!-- 启用360浏览器的极速模式(webkit) -->
		<meta name="renderer" content="webkit">
		<!-- 避免IE使用兼容模式 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
		<meta name="HandheldFriendly" content="true">
		<!-- 微软的老式浏览器 -->
		<meta name="MobileOptimized" content="320">
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<meta name="keywords" content="{$keywords}" />
		<meta name="description" content="{$description}" />
		<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
		<title>{$title}</title>
		<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
		<link rel="stylesheet" href="{$site_url}css/public.css" /> 
		<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
		<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
		<script src="{$site_url}js/TouchSlide.1.1.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
		<script type="text/javascript" src="{$site_url}js/function.js"></script>
		<script type="text/javascript" src="{$site_url}js/share.js"></script>
		<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
		<script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
		<script src="{$site_url}js/simple-app.js"></script>
		<script type="text/javascript">
			window.addEventListener('load', function(){
		   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
		});//safari浏览器可以通过此代码来隐藏地址栏
		</script>
		{$headscript}
	</head>
	<body>
	<div class="body">
	<!-- 导航 -->
	{include file="./_nav.html"}
	<div class="wrap page-active">
	<div class="index-wrap">
	<!-- 头部 -->
	{include file="./header.html"}


	{* ***输出导航式栏目（不包括内容式栏目）*** *}
   <div class="menulist">
	 <ul>
		{* 定义一个自增的样式变量 *}
		{$catnav_i = 0}
		{foreach name=mIndexCats_nav item=mIndexCat from=$mIndexCats}
		{* 仅输出类型为 4内容单页 和 外链的栏目（包括5留言板、7微信、8直达号功能） *}
		{if $mIndexCat.type >= 4}
		{$catnav_i = $catnav_i+1}
		<li><a href="{$mIndexCat.link}">
			<div class="navli">
				<div class="navicon li{$catnav_i}"><img src="{$mIndexCat.image}" width="100%"></div>
				<div class="navtitle">{$mIndexCat.name}</div>
			</div>
			</a>
		</li>
		{/if}
		{/foreach}
	 </ul>
   </div>


	{* ***输出内容式栏目*** *}
     <section>
	{* 输出type为1234的栏目展现HTML，且1234每个都须定义 *}
	{foreach name=mIndexCats_list item=mIndexCat from=$mIndexCats}
	{* 仅输出类型为 2图片列表 的栏目 *}
	{if $mIndexCat.type eq 2}
		{* 后台选中“样式1”的展现模式： *}
		{if $mIndexCat.showtype eq 1}
		<div class="prod">
			<ul>
				{foreach name=mIndexCat_list2 item=article from=$mIndexCat.list}
				<li><a href="{$article.link}">
				   <div class="proimg">
					  <div class="showpp"><img src="{$article.image}" width="100%">
						 <div class="showword">{$article.title}</div>
					  </div>
				   </div>
				   </a>
				</li>
				{if $article@index+1 == 4}{break}{/if}
				{/foreach}
			</ul>
		</div>
		{/if}

	{* 仅输出类型为 3图文列表 的栏目 *}
	{elseif $mIndexCat.type eq 3}
		{* 后台选中“样式1”的展现模式： *}
		{if $mIndexCat.showtype eq 1}
        <div class="jingdian">
        	<div class="pro_title"><a href="{$mIndexCat.link}">
                <div class="licion"><span>Hot</span></div>
            	<div class="lefttitle">{$mIndexCat.name}</div>
                <div class="more">more+</div>
                </a>
            </div>
            <div class="newshow">
            	<ul>
					{foreach name=mIndexCat_list item=article from=$mIndexCat.list}
                	<li><a href="{$article.link}">
                    	<div class="nimgs"><img src="{$article.image}" width="100%"></div>
                        <div class="news_titles">
                        	  <div class="c_city">{$article.title}</div>
                               <div class="c_data">TIME：{$article.pubdate}</div>
                                  <div class="c_edits">{$article.description}</div>
						</div></a>                     
                    </li>
					{if $article@index+1 == 4}{break}{/if}
					{/foreach}
                </ul>
            </div>
        </div>
		{/if}

	{* 仅输出类型为 1文字列表 的栏目 *}
	{elseif $mIndexCat.type eq 1}
        <div class="tourism{if $mIndexCat.showtype eq 1}{elseif $mIndexCat.showtype eq 2} secturo{elseif $mIndexCat.showtype eq 3} thiruro{/if}">
        	<div class="tour_titles"><a href="{$mIndexCat.link}">
                <div class="liciona"><img src="{$mIndexCat.image}" width="100%"></div>
            	<div class="lefttitlea">{$mIndexCat.name}</div>
                <div class="more">more+</div>  </a>         
            </div>
            <div class="lvyoudetal">
            	<ul>
					{foreach name=mIndexCat_list item=article from=$mIndexCat.list}
                	<li><a href="{$article.link}">{$article.title}</a></li>
					{if $article@index+1 == 12}{break}{/if}
					{/foreach}                                                                                          
                </ul>
            </div>
        </div>

	{* 仅输出类型为 4单页内容 的栏目（关于我们、联系我们） *}
	{elseif $mIndexCat.type eq 4}
		{* 不输出内容单页栏目（在最上方导航式栏目中已输出） *}
	{/if}
	{/foreach}
     </section>


	<!-- 底部 -->
	<footer class="foot">{$footprint}</footer>
    </div>
	{include file="./footer.html"}
    </div>
    </div>
	</body>
</html>