<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{$article.title} - {$title}</title>
		<meta name="keywords" content="{$keywords}" />
		<meta name="description" content="{$description}" />
		<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
		<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style.css" type="text/css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/content.css" type="text/css" />
		<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.easing.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.scrollTo-min.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="{$site_url}js/script.js"></script>
	</head>
	<body>
		<!-- 头部 -->
		{include file="./_header.html"}
		<!-- 产品页主体 -->
		<article>
			<h3><a href="{$article.category.link}"><span class="bgc">{$article.category.name}</span></a></h3>
			<section class="article-header clearfix">
				<ul class="article-images fl">
					{foreach name=image item=image from=$article.images}
					<li class="fl"><img src="{$image.image}" alt="{$image.title}" /></li>
					{/foreach}
				</ul>
				<div class="article-title fr">
					<h2>{$article.title}</h2>
					<hr />
					<time datetime="{$article.pubdate}" pubdate="pubdate">{$article.pubdate}</time>
					<p>{$article.description}</p>
				</div>
			</section>
			<section class="article-content">{$article.content|unescape:"html"}</section>
		</article>
		<!-- 底部 -->
		{include file="./_footer.html"}
	</body>
</html>