<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
		// 跳转手机页面
		{if $site_another_url}
			if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{$title}</title>

		<meta name="keywords" content="{$keywords}" />
		<meta name="description" content="{$description}" />
		<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
		<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
		<link rel="stylesheet" href="{$site_url}css/flexslider.css" type="text/css" media="screen" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style.css" type="text/css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
		<style type="text/css">header { margin-top: 100vh; }</style>
		<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.easing.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.scrollTo-min.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="{$site_url}js/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="{$site_url}js/script.js"></script>
		<script type="text/javascript" src="{$site_url}js/index.js"></script>
		{$headscript}
	</head>
	<body>
        {$site_another_url}
		<!-- 引导图 -->
		<section id="prepics" class="pr">
			<h1>{$title}</h1>
			<ul class="slides pa">
				{foreach name=slidepics item=slidepic from=$index.slidepics}
				<li class="slide">
					<img src="{$slidepic.image}" alt="{$slidepic.title}" />
					<div class="content">
						<div class="inner">
							<h3 class="title"><a href="{$slidepic.link}">{$slidepic.title}</a></h3>
							<div class="excerpt">{$slidepic.description}</div>
						</div>
					</div>
				</li>
				{/foreach}
			</ul>
			<a class="down-btn" href="javascript:;">↓</a>
		</section>
		<!-- 头部 -->
		{include file="./_header.html"}
		<!-- 最新产品 -->
		<section id="lastest">
			<div class="lastest-container">
				<h2><span class="bgc">{$index.lastest_title}</span></h2>
				<ul class="list clearfix">
					{foreach name=lastest item=article from=$index.lastest.data}
					<li>
						<a class="img hover_mask" href="{$article.link}" target="_blank"><img src="{$article.image}" alt="{$article.title}" /></a>
						<dl>
							<dd class="cat"><a href="{$article.category.link}" target="_blank">{$article.category.name}</a></dd>
							<dt>{$article.title}</dt>
							<dd>{$article.description|truncate:80:"…"}</dd>
							<dd class="more"><a class="readmore" href="javascript:;">阅读详情</a></dd>
						</dl>
					</li>
					{if $article@index+1 == 4}{break}{/if}
					{/foreach}
				</ul>
			</div>
		</section>
		<!-- 热门产品 -->
		<section id="hots">
			<div class="hots-container">
				<ul class="clearfix">
					{foreach name=hots item=article from=$index.hots.data}
					<li class="fl"><a class="img hover_mask" href="{$article.link}" target="_blank"><img src="{$article.image}" alt="{$article.title}" /></a></li>
					{if $article@index+1 == 5}{break}{/if}
					{/foreach}
				</ul>
			</div>
		</section>
		<!-- XXX栏目 -->
		<section id="list1">
			<div class="list-container">
				<div class="list-content clearfix">
					<div class="list-title fl">
						<h2>{$index.list1.name}</h2>
						<em>{$index.list1.description}</em>
						<a class="readmore" href="#">查看栏目</a>
					</div>
					<ul class="fl">
						{foreach name=list1 item=article from=$index.list1.data}
						<li class="fl"><a class="img hover_mask" href="{$article.link}" target="_blank"><img src="{$article.image}" alt="{$article.title}" /></a></li>
						{if $article@index+1 == 8}{break}{/if}
						{/foreach}
					</ul>
				</div>
			</div>
		</section>
		<!-- XXX栏目 -->
		<section id="list2">
			<div class="list-container">
				<div class="list-content clearfix">
					<div class="list-title fl">
						<h2>{$index.list2.name}</h2>
						<em>{$index.list2.description}</em>
						<a class="readmore" href="#">查看栏目</a>
					</div>
					<ul class="fl">
						{foreach name=list2 item=article from=$index.list2.data}
						<li class="fl"><a class="img hover_mask" href="{$article.link}" target="_blank"><img src="{$article.image}" alt="{$article.title}" /></a></li>
						{if $article@index+1 == 8}{break}{/if}
						{/foreach}
					</ul>
				</div>
			</div>
		</section>
		<!-- 底部 -->
		{include file="./_footer.html"}
	</body>
</html>
