 <!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection">
<title>{$article.title} - {$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link href="css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/public.css" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script src="js/TouchSlide.1.1.js"></script>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/share.js"></script>
<script src="js/idangerous.swiper-2.0.min.js"></script>
<script src="js/simple-app.js"></script>
</head>
<body>
<div class="body">
<div class="opacity2"></div> 
<!-- 隐藏导航 -->
{include file="./_header_hidenav.html"}
<!-- 隐藏导航End -->
<div class="wrap">
<!-- 底部导航 -->
{include file="./_footer.html"}
<!-- 底部导航End -->
<div class="index-wrap">
      <h1 class="box-top1 fixed-top public_bg1 "><span class="back"><a href="javascript:window.history.back()">返回</a></span><span class="more2" id="font">字+</span><span class="z ">{$article.category.name}</span></h1>
      <div class="font fix-font  public_bg1 public_color1 ">
        <dl class="big">
          大
        </dl>
        <dl class="normal">
          中
        </dl>
        <dl class="small">
          小
        </dl>
      </div>
      <div class="main ny-wrap">
        <div class="box-id">
          <div class=" about-m">
            	<div class=" news_detail">
            	<h1 class="title1">{$article.title}</h1>
                <!-- <dl class=" title2">发布日期：2014年04月28日  23:49</dl> -->
                <dl class=" title2">发布日期：{$article.pubdate}</dl>
                <div class="edite">     
                  {$article.content|unescape:"html"}
                </div>
            </div>
            <div class="next2">
            	<dl><a href="{$article.prev.link} ">上一篇：{$article.prev.title}</a></dl>
                <dl><a href="{$article.next.link}">下一篇：{$article.next.title}</a></dl>
            </div>
			
            </div>
        </div>
      </div>
      {include file="./_footprint.html"}
    </div>
</div>
</div>
</body>
</html>
