.boxmain{ width:100%; height:auto; overflow:hidden; margin:10px auto 0px;}
.boxmain-top{ height:35px; overflow: hidden; line-height:35px; padding:0px 7px; font-size:1.12em; color:#fff;}
.more a{ padding:0px 10px; background:#FFF; border-radius:12px; height:21px; margin-top:7px; float:right; color:#00527e; line-height:21px; font-size:0.8em;}
.boxmain-news{ width:100%; height:auto; overflow:hidden; margin:5px 0px 0px;}
ul.newslist{ margin:0px; padding:0px;}
ul.newslist li{ border-bottom:1px solid #e4e4e4; padding:7px; height:auto; overflow:hidden;}
ul.newslist li .date{  overflow:hidden; text-align:center; float:left; display:inline; margin-right:2px;}
ul.newslist li .date .year,ul.newslist li .date .month{ font-size:1.5em; text-align:center; color:#fff; width:100%;}
ul.newslist li .date .year{ background:#337ea7; margin-bottom:2px;}
ul.newslist li .date .month{ background:#a6a6a6; font-size:1.3em;}
ul.newslist li .img{ float:left; display:inline; margin-right:10px;}
ul.newslist li .title{ height:24px; overflow:hidden; font-size:1.12em; color:#000;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;}
ul.newslist li .date1{ height:18px; overflow:hidden; line-height:18px;}
ul.newslist li .date1 img{ float:left; display:inline; width:14px; margin-top:2px; margin-right:4px;}
.boxmain-pro{ width:100%; height:auto; overflow:hidden; padding:5px 0px;}
ul.picture2{ height:auto; overflow:hidden; }
ul.picture2 li{ margin:6px 0px; height:auto; overflow:hidden; float:left; display: inline;}
ul.picture2 li div{ margin:0px 5px; height:auto; overflow:hidden; position:relative; padding:3px; background:#337ea7}
ul.picture2 li div .img{ width:100%; }
ul.picture2 li div .title1{height:30px; line-height:30px; text-align:center;  }
ul.picture2 li a{ display:block; color:#fff;}

.boxmain-ny{ margin:12px 0px 12px; height:auto; overflow:hidden; background:#fff; border-radius:4px; position:relative;}
.boxmain-ny-top{ height:35px; overflow:hidden; border-bottom:2px solid #00527e; font-size:1.12em; line-height:35px; color:#005380; text-indent:7px; }
.more2{height:25px; padding:0px 7px; line-height:25px;background:#125e87; display:block; border-radius:13px;  text-align:center; color:#fff; font-size:0.9em; float:right; margin-right:4px; position:relative; z-index:99999 }
#up{ display: none;}
.hide-class{ height:auto; overflow:hidden; display:none; margin:7px; }
.hide-class dl{ height:30px; overflow:hidden; line-height:30px;  position:relative; background:#ededed; margin-bottom:5px;  }
.hide-class dl:before{ height:30px; width:30px; content:"●"; position:absolute; left:0px; top:0px;color:#999999;text-align:center; }
.hide-class dl a{ display:block;padding:0px 20px 0px 25px;color:#666666}
.hide-class dl a:active {background:rgba(0,0,0,0.1);}
.font{ width:46px; text-align:center;background:#387ea2;position:absolute; top:15px; right:4px; display:none; z-index:9999; padding-top:10px; border-radius:0px 0px 3px 3px}
.fixed-font{ right:0px; top:35px; padding-top:0px;}
.font dl{ height:30px; line-height:30px; color:#fff; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}
.boxmain-ny-m{ height:auto; overflow: hidden; }
.edite{ height:auto; overflow:hidden; padding:8px 12px 0px;color:#616161;}



.next1{ clear:both; height:auto; overflow:hidden; text-align:center; padding:10px 0px;margin:0px 7px; }
.next1 a{ padding:2px 5px;background:#387ea2; color:#fff; margin:0px 5px; }
.next1 a:active{  }

.fixed-top{ width:100%; position: absolute; top:0px; left:0px; text-align:center; z-index:999; background:#00527e; height:35px; line-height:35px; color:#fff; font-size:1.12em;}
.ny-wrap{ margin:35px 0px 0px;}
.back{ float:left; display:inline; font-size:0.9em; width:46px; height:35px; background:#043955;}
.back a{ color:#fff; display:block;}
.news_detail{ height:auto; overflow:hidden; padding:10px 8px 10px; }
.news_detail .title1{ height:auto; overflow:hidden; text-align:center; font-size:1.15em; color:#00527e}
.news_detail .title2{ height:30px; text-align:center; color:#666666; border-bottom:1px dotted #aeaeae; }

.next2{ height:auto; overflow:hidden; width:100%; }
.next2 dl{ height:24px; overflow:hidden; width:100%;}
.next2 dl a{ color:#00527e;  display:block; padding:0px 4px;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;}
.next2 dl a:active {background:rgba(0,0,0,0.2);}



.bigimgbox{ width:80%; margin:10px auto; height:auto; overflow:hidden;}
.bigimg{ width:100%; height:auto; overflow:hidden;}
.bigimgtitle{ height:30px;border-bottom:1px dotted #aeaeae;  color:#00527e; margin:4px 7px 0px; text-align:center; line-height:30px;}
.prodetail{ padding:0px 7px 7px;}
.prodetail .title2{ border-bottom:1px solid #bababa; color:#aa0000; line-height:30px;}

.fr{float:right; display:inline;}

.teambox{ margin:17px 8px 15px; height:auto; overflow:hidden; background:#fff; border-radius:4px; clear:both }
.teambox .team-title{ height:40px; line-height:40px; overflow:hidden; margin:0px 12px; clear:both; color:#f08200; font-size:1.14em;}
@media screen and (min-width: 320px) and (max-width: 480px){
ul.newslist li .date{ width:38px;}
ul.newslist li .img{ width:100px; height:78px;}
ul.newslist li .date .year,ul.newslist li .date .month{ height:38px; line-height:38px;}
ul.newslist li .nr{ height:36px; overflow:hidden; line-height:18px; color:#737373; font-size:0.9em;}
ul.picture2 li{ width:50%}
}
@media screen and (min-width: 480px) {
ul.newslist li .date{ width:50px;}
ul.newslist li .img{ width:131px; height:102px;}
ul.newslist li .date .year,ul.newslist li .date .month{ height:50px; line-height:50px;}
ul.newslist li .nr{ height:60px; overflow:hidden; line-height:20px; color:#737373; font-size:1.0em;}
ul.picture2 li{ width:33%}
}
