<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>

<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />

<title>{$title}</title>
<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css" />
<script src="{$site_url}js/dd_delatedpng.js" type="text/javascript"></script>
<script src="{$site_url}js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="{$site_url}js/jquery.SuperSlide.2.1.js" type="text/javascript"></script>
<script src="{$site_url}js/index.js" type="text/javascript"></script>

<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,a,p,img,h3');
</script>
<![endif]-->
</head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>
{$headscript}
<body>
<div class='wrapper'>
	{include file="./_header.html"}	
		<div class="content">
			<div class="public">
				<div class="content_top">
					<div class="list_lf fl">
						<ul class="">
							{foreach name=homenavs item=navho from=$index.homenavs.childmenu}
							<li class="{if $navho.current}current{/if}"><a href="{$navho.link}" class="choose">{$navho.name}</a>
                             </li>
							{/foreach}
						</ul>
					</div>
					<div class="Village fl">
						<h3 class="c_title"><a href="{$global.about.link}" class="more">MORE>></a>{$global.about.name}<i>{$global.about.en_name}</i></h3>
						<div class="Village_art">
							<img src="{$global.about.image}">{$global.about.description}
						</div>
						<ul class="Village_list">
							
							{foreach key=key item=naver from=$global.second_navs}
								<li><a href="{$naver.link}">{$naver.link}</a></li>
							{/foreach}
							
						</ul>
					</div>
					<div class="video fr">
						<div class="video_img"><embed src="{$index.video}" allowFullScreen="true" quality="high" width="238" height="238" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
						<span class="tel margin_15 "><i>尊贵预约 / </i>{$contact.telephone}<a href="{$global.onlin.link}">{$global.onlin.description}</a></span>
					</div>
				</div>

				<div class="products">
					<h3 class="c_title"><a href="{$index.products.link}" class="more">MORE>></a>{$index.products.name}<i>{$index.products.en_name}</i></h3>
					<div class="picMarquee-left">			
						<div class="bd">
							<ul class="picList">
							{foreach item=product from=$index.products.data}
								<li>
									<a href="{$product.link}"><img src="{$product.image}" /><span class='case_title'>{$product.title}</span></a>
								</li>
								
								{/foreach}
							</ul>
						</div>
					</div>
				</div> 
			</div>
		</div>		
	{include file="./_footer.html"}	
</div>
</body>
</html>