@charset "utf-8";
/*author:blackgecko*/
*{ margin:0px; padding:0px;}
a{ color:#666; text-decoration:none}
a:hover{ color:#0a720a;}
a img{ border:none;}
table{border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left; font-weight:normal; color:#4a4a4a; line-height:24px; background:url(../images/bg_01.jpg) repeat-x #fff;}
ul,ol,p,dl,li{margin:0;pading:0; list-style:none;}
ul,ol,dl{height:100%;overflow:hidden; list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
input {font:12px;}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0px; padding:0px;}
.wappers{ width:100%; height:auto; overflow:hidden;}
.headers{ width:1000px; background:url(../images/headerbg.jpg) no-repeat;  height:103px; overflow:hidden; margin:0px auto;}
.headers .home{ float:right; display:inline; margin-top:2px; margin-right:29px; width:240px; overflow:hidden; color:#4d4d4d; text-align:right;}
.headers .home span{ width:65px; height:18px; overflow:hidden; padding:2px 7px 5px; line-height:25px; color:#4d4d4d;}
.headers span a{ line-height:35px; overflow:hidden;}
.headers span a:link,.headers span a:visited{ color:#4d4d4d;}
.headers span a:hover{ color:#16880d;} 
.menu{  width:1000px; height:37px; overflow:hidden; margin:0px auto 0px; }
ul.nav{ width:1000px; text-align:center;  height:37px; margin-left:0px; margin-top:0px; margin:0px auto;}
ul.nav li{ float:left;line-height:37px; height:37px;text-align:left; font-size:14px;  width:142px;}
ul.nav li a{line-height:37px; height:37px; width:100%;display:block; text-decoration:none; text-align:center; font-size:14px; font-weight:bold;}
ul.nav li a:link,ul.nav li a:visited{ color:#fff;}
ul.nav li a:hover{ color:#000;}

.banners{ width:1000px; margin:10px auto; height:269px; overflow:hidden;}

.left{ width:198px; height:auto; overflow:hidden; float:left; display:inline; margin-top:0px;}
.list{ width:196px; border:1px solid #67c800; height:auto; overflow:hidden; margin-bottom:10px;}
.left h3{ width:196px; height:30px; background:url(../images/lefti_03.jpg) no-repeat;  line-height:29px; font-size:14px; font-weight:bold; text-indent:15px; color:#fff; }
.left h3 span { float:right; margin-top:0px; font-size:12PX; font-weight:normal; margin-right:10PX; margin-top:10px;}
.listbg{ width:172px; height:auto; overflow:hidden; padding-top:0px;  padding-bottom:10px;border-top:none; margin-left:12px;}
.listbg ul li{ width:172px;  }
.listbg ul li a{padding-left:0px;background:url(../images/sicon.jpg) no-repeat 3PX 9px; margin-left:0px; text-indent:15px;display:block; height:30px; line-height:30px; color:#d6ffa1; overflow:hidden; display:block; width:204px;border-bottom:1PX dotted #289707;}
.listbg ul li a:link,.listbg ul li a:visited{ color:#333;}
.listbg ul li a:hover{ color:#2ea81d;}
.listbg ul li ul{ padding-top:0px; margin:0px; margin-bottom:3px;}
.listbg  li.module_nav2 a{width:100%; font-size:12px;height:auto; line-height:24px; font-weight:normal; border:none;padding-left:0px; text-indent:0px; display:block;background:none; width:175px; margin-left:16px; margin-bottom:0px;}
.listbg  li.module_nav2 a:link,.listbg  li.module_nav2 a:visited{ color:#333;}
.listbg  li.module_nav2 a:hover{color:#2ea81d;font-weight:normal; background:none;}

.contactsw{ width:196px; border:1px solid #a9dd8f; height:auto; overflow:hidden; padding-bottom:15px; margin-bottom:10px; background:url(../images/teslt.jpg) right bottom no-repeat;}
.telw h1{ font-weight:bold; font-size:14px; color:#1d8d07; padding:10px 0px }
.telw{padding-left:15px; width:170px;}
.containers{ width:1000px; height:auto; overflow:hidden; margin:0px auto;}
.middle{ width:558px; float:left; display:inline; margin-left:7px; height:auto; overflow:hidden;}
.right{ width:794px; float:right; display:inline; overflow:hidden; height:auto; overflow:hidden;}

.about_t{ margin-top:0px; width:556px; border:1px solid #67c800; border-top:none; overflow:hidden; height:196px;margin-bottom:10px;}
.about_t h3{ width:556px; height:30px; background:url(../images/lefti_02.jpg) no-repeat;  line-height:32px; font-size:14px; font-weight:bold; text-indent:10px; color:#43b000; }
.about_t h3 span { float:right; margin-top:0px; font-size:12PX; font-weight:normal; margin-right:10PX; margin-top:10px;}
.border{  width:536px; height:155px; margin-right:5px; padding-top:10px; margin-left:11px; }
.border img{ width:133px; height:94px; float:left;margin-right:10px; display:inline; overflow:hidden; margin-top:5px; padding:0px; border:1px solid #707070;}
.about_p{ color:#4d4d4d; line-height:26px; margin-top:0px; padding-right:0px; margin-left:1px; margin-right:0px; margin-left:0px;text-align:Justify;text-justify:inter-ideograph;}
.about_p  span{ text-align:right;}
.about_p a:link,.about_p a:visited{ color:#4d4d4d}
.about_p a:hover{ color:#43b000}
.news{ margin-top:0px;  width:556px; border:1px solid #a9dd8f; height:240px}
.news h3{ width:556px; height:30px; background:url(../images/lefti_02.jpg) no-repeat;  line-height:32px; font-size:14px; font-weight:bold; text-indent:10px; color:#43b000; }
.news h3 span { float:right; margin-top:0px; font-size:12PX; font-weight:normal; margin-right:10PX; margin-top:10px;}

.news_deta5{ padding-top:0px; height:204px; overflow:hidden; width:536px;border-top:none; margin-left:10px;}
.news_deta5 ul{ width:536px; padding-top:5px; height:auto; overflow:hidden;}
.news_deta5 li{ width:536px; height:27px; line-height:27px;  overflow:hidden; margin-left:3px; border-bottom:1px dotted #4d4d4d   }
.news_deta5 li a{  display: block;
    line-height: 27px;
    margin-left: 3px; 
    padding-left: 0px;height:27px; overflow:hidden; width:536px;   
 background:url(../images/icons.jpg) left 9px  no-repeat; text-indent:12px;}
.news_deta5 li span{float:right; margin-right:10px; margin-left:10px;}
.news_deta5 li a:link,.news_deta5 li a:visited{ color:#4d4d4d;}
.news_deta5 li a:hover{ color:#43b000;}
.risrcolw{ width:227px; float:right; display:inline; overflow:hidden;border:1px solid #a9dd8f; height:auto;}
.risrcolw h3{ width:227px; height:30px; background:url(../images/lefti_01.jpg) no-repeat; margin-bottom:10px;  line-height:32px; font-size:14px; font-weight:bold; text-indent:10px; color:#fff; }
.risrcolw h3 span { float:right; margin-top:0px; font-size:12PX; font-weight:normal; margin-right:10PX; margin-top:10px;}
.showpro{ height:auto; width:210px; margin:0px auto; overflow:hidden; margin-bottom:10px;}
.showpro li{ width:210px;  overflow:hidden;}
.showpro li img { width:201px; height:110px; padding:3px; vertical-align:top; border:1px solid #c7c7c7;  }
.showpro li a{ width:100%; display:block;margin-left:0px; margin-top:0px; width:209px; height:150px; margin-top:0px;}
.showpro li a:link,.showpro li a:visited{ color:#4d4d4d;}
.showpro li a:hover{ color:#43b000;}
.showpro h2 { width:100%;width:209px; height:30px; line-height:30px; text-align:center; }
.foptes{ background:url(../images/fotbt.jpg) repeat-x; height:88px; overflow:hidden; margin-top:25px; width:100%}
.fot_nujde{ width:1000px; margin:0px auto; text-align:center; padding-top:25px; line-height:45px; }
.fot_nujde a:link,.fot_nujde a:visited{ color:#4d4d4d;}
.fot_nujde a:hover{ color:#43b000;}


.detal_s{  width:792px; height:auto; overflow:hidden; margin-top:0px; margin-bottom:0px;padding-left:0px; margin-left:0px; border:1px solid #67c800;}
.detal_s{  width:792px; }
.detal_s h3{ width:792px; height:30px; background:url(../images/lefti_09.jpg) no-repeat;  line-height:32px; font-size:14px; font-weight:bold; text-indent:10px; color:#43b000; }
.detal_s h3 span { float:right; font-family:"宋体"; margin-top:0px; margin-right:10px; font-size:12px; font-weight:normal; color:#fff;}
.detal_s h3 span a:link,.detal_s h3 span a:visited{ color:#fff}
.detal_s h3 span a:hover{ color:#000;}
.deteo{ height:auto; overflow:hidden; width:792px;min-height:300px;  _height:expression(this.scrollHeight < 300? "300px" : "auto");  border-top:none; padding-bottom:20px; }

.about_edit2{ color:#333; line-height:24px; margin-top:11px; padding-right:0px; margin-left:8px; margin-right:8px;text-align:Justify;text-justify:inter-ideograph;}

.module_page{ width:100%;  line-height:20px;margin-top:30px;text-align:center;  color:#333;}
.module_page a{ text-decoration:none; color:#333; /*color:#0c2d63;*/}
.module_page span{ padding-left:20px; padding-right:20px;}
.module_page a:hover{ text-decoration:none; color:#43b000;}
.module_page  select{ margin-left:5px; color:#000;}


.news_deta4{ padding-top:10px; height:auto; overflow:hidden; width:775px; margin-left:7px;}
.news_deta4 li{ width:775px; height:28px; line-height:28px;  overflow:hidden; margin-left:0px; border-bottom:1px dotted #4d4d4d;  }
.news_deta4 li a{  display: block;
    line-height: 28px;
    margin-left: 3px; 
    padding-left: 0px;height:28px; overflow:hidden; width:775px; background:url(../images/icons.jpg) left 10px  no-repeat; text-indent:18px;}
.news_deta4 li span{float:right; margin-right:10px; margin-left:10px;}
.news_deta4 li a:link,.news_deta4 li a:visited{ color:#4d4d4d;}
.news_deta4 li a:hover{ color:#43b000;}


.main_right_con{ padding:8px 10px 12px;color:#333; overflow:hidden;}
h1.inner_news_tit{height:30px; padding:8px 0px;text-align:center; font-size:14px;  color: #43b000; font-weight: bold; border-bottom:1px dashed #ccc;}
h2.inner_news_time{height:25px; line-height:25px;color:#333; padding-left:10px; margin-bottom:4px; text-align:center; border-bottom:1px dashed #CCCCCC;}
h2.inner_news_time a{ color:#333;}
h2.inner_news_time a:hover{ color:#43b000; text-decoration:underline;}
h2.inner_news_time span{ float:right; text-align:right; padding-right:10px;}



.edit{overflow:hidden;text-align:Justify;text-justify:inter-ideograph; color:#333; margin:10px 5px 0px;}

ul.inner_pages{ padding-top:8px;margin:10px auto 10px; margin-left:5px;}
ul.inner_pages li{line-height:26px;color:#333;}
ul.inner_pages a{color:#333;}
ul.inner_pages a:hover{color:#43b000}


ul.inner_pro{height:auto; overflow:hidden; padding-bottom:10px; width:796px;}
ul.inner_pro li{ float:left; margin:10px 5px 5px 12px;display:inline; }
ul.inner_pro li img{ width:175px; height:96px; padding:0px; vertical-align:top; border:1px solid #ccc; padding:1px;}
ul.inner_pro li a{ width:179px; height:130px; display:block; color:#555454; overflow:hidden;}
ul.inner_pro li a:hover{ color:#43b000;}
p.photo_title{height:30px; line-height:30px; text-align:center;}


.main_right_con2{overflow:hidden;}

.description{ height:auto; overflow:hidden; width:95%; margin:10px 10px; }
.pimgw{width:250px; height:137px; border:1px solid #c1c1c1; padding:1px; overflow:hidden; float:left; display:inline; margin-bottom:10px; margin-right:15px;}
.show_t{ color:#289707;padding:0px;width:255px; text-align:left; line-height:20px; float:left; display:inline; }
.descriptcot{margin:0px; padding:0px; float:left; width:60%; position:relative;}
.text_p{ color:#289707;padding:0px;width:90%; position:absolute; top:0px; left:16px; }
.moule_edot{  color:#333;width:99%; margin-left:5px; clear:both;text-align:Justify;
text-justify:inter-ideograph;}