<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" /><!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,a,p,img');
</script>
<![endif]-->
<script type="text/javascript" src="{$site_url}js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
 <script type="text/javascript" src="{$site_url}js/index.js"></script>
<title>{$title}</title>
{$headscript}
</head>

<body>
	<div class="wappers">
        {include file='./_header.html'} 
        <div class="containers">
           <div class="left">
               <div class="list">
                   <div class="list_title">{$pagenavs[0].name}</div>
                    <div class="listbg">
                         <ul>
                            {foreach name=pagenavs item=nav from=$pagenavs}    
                        <li><a href="{$nav.link}">{$nav.name}</a></li>
			{/foreach}               
                        </ul>
                      </div>             
                </div>
               <div class="contact_t">
                   <div class="list_title">联系方式</div>
<div class="tla">{$title}<br />
手机：{$contact.mobile}<br />
联系人：{$contact.name}<br />
地址：{$contact.address}                   <br /></div>
                   </div>
                            
           </div>
<div class="rights">
<div class="detal_s">
                    <div class="list_title2"><i>当前位置:<a href="index.html">首页</a> >>{$list.name} </i>{$list.data[0].category.name}</div>
<div class="deteo">
<div class="main_right_con" >
                	 <h1 class="inner_news_tit">{$article.title} </h1>
   <h2 class="inner_news_time">添加时间{$article.pubdate}</h2>
   <div class="edit">
        {$article.content|unescape:"html"}
   </div>
<div style="height:30px;overflow: hidden; padding-top:7px; color:#fff;"><!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style=" float:right;">
        <span class="bds_more" style=" line-height:15px;">分享给好友：</span>
        <a href="#" title="分享到QQ空间" class="bds_qzone"></a>
        <a href="#" title="分享到新浪微博" class="bds_tsina"></a>
        <a href="#" title="分享到腾讯微博" class="bds_tqq"></a>
        <a href="#" title="分享到人人网" class="bds_renren"></a>
        <a href="#" title="分享到百度搜藏" class="bds_baidu"></a>
        <a href="#" title="分享到豆瓣网" class="bds_douban"></a>
        <a href="#" title="分享到搜狐微博" class="bds_tsohu"></a>
        <a href="#" title="分享到我的淘宝" class="bds_taobao"></a>
		<a title="累计分享0次" href="#" class="shareCount">0</a>
    </div>
<script src="{$site_url}js/bds_s_v2.js" type="text/javascript" id="bdshare_js" data="type=tools"></script>
<script src="{$site_url}js/shell_v2.js" type="text/javascript" id="bdshell_js"></script>
<!-- Baidu Button END -->
                </div>
    <ul class="inner_pages">
     <li>上一篇：<a href="{$article.prev.link}">{$article.prev.title}</a></li>
     <li>下一篇：<a href="{$article.next.link}">{$article.next.title}</a></li>
    </ul>
   			</div>         
             
                        </div>
                    </div>                	
                   
                </div>            
        </div> 
            {include file='./_footer.html'} 
               
   </div>
</body>
</html>
















