<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />

<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,a,p,img');
</script>
<![endif]-->
<title>{$title}</title>
{$headscript}
</head>

<body>
	<div class="wappers">
        <div class="headers">
              <div class="home"><span><a href="javascript:void(0);" onclick="SetHome(this, window.location)">设为首页</a> </span>| <span><a href="javascript:void(0);" onclick="shoucang(document.title, window.location)">加入收藏</a> </span></div>
        </div>
        <div class="containters">
          {include file='./header.html'}
         <div class="left">
            	<div class="list">
                     <h3>{$pagenavs[0].name}</h3>
                     <div class="listbg">             
                         <ul>      
                           {foreach name=pagenavs item=nav from=$pagenavs}     
                            <li><a href="{$nav.link}">{$nav.name}</a></li>
                           {/foreach} 
                       </ul>
                     </div>
                </div>
                <div class="contattt">
                	<h3></h3>
                    <div class="lxtt">
                    地址：{$contact.address}<br />
电话：{$contact.telephone}<br />
手机：{$contact.mobile}<br />
联系人：{$contact.name}<br />
                    </div>
                </div>
            </div>
<div class="right_t">
<div class="detal">
                    	<div class="detal_s">
				  <h3><span>所在位置:<a href="index.html">首页</a>
            {foreach item=nav from=$pagenavs}
              >> <a href="{$nav.link}">{$nav.name}</a>
            {/foreach}
           </span></h3>
<div class="deteo">
<div class="main_right_con2" >
        	<div class="description">
                	<div class="descripimg"><img src="{$article.images[0].image}" height="181" width="230"/></div>
                    <div class="descriptcot">
                            　　<div class="text_p">
产品名称：{$article.images[0].title}<br />
<!--产品编号：<br />-->
产品类别：{$article.category.name}
                            </div> </div>
	<div class="moule_edot">
    	<b style="font-size:14px;">产品介绍</b><br />
        {$article.content} 
        </div>
</div>
    <ul class="inner_pages" style="margin-left:15px;">
     <li>上一篇：<a href="{$article.prev.link}">{$article.prev.title}</a></li>
     <li>下一篇：<a href="{$article.next.link}">{$article.next.title}</a></li>
    </ul>
 			</div>             </div>  
             
                        </div>
                    </div>            
            </div>          
      </div>
        {include file="./footer.html"}
      </div>
</body>
</html>
















