@charset "utf-8";
/*author:blackgecko*/
*{ margin:0px; padding:0px;}
a{ color:#555; text-decoration:none}
a:hover{ color:#048cc6;}
a img{ border:none;}
table{border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left; font-weight:normal; color:#4a4a4a; line-height:24px; background:url(../images/bg.jpg) repeat-x #2a2a2a;}
ul,ol,p,dl,li{margin:0;pading:0; list-style:none;}
ul,ol,dl{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
input {font:12px;}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0px; padding:0px;}
.wappers{ width:100%; height:auto; overflow:hidden; }
.headerbg{ width:1002px; height:91px; margin:0px auto 12px; overflow:hidden; background:url(../images/headerbg.jpg) no-repeat;}
.logo{ width:400px; height:91px; float:left; display:inline; overflow:hidden;} 
.menu{ width:602px; text-align:center;  height:25px; margin:0px auto; float:right; display:inline; margin-top:50PX;overflow:hidden; }
.menu ul{ width:595px; margin:0px auto; height:25px; overflow:hidden; }
.menu ul li{float:left;position:relative;text-align:left;line-height:25px;height:25px;overflow:hidden; width:85px; background:url(../images/linew.jpg) right 5px no-repeat; }
.menu ul li a{position:relative;/* 必要元素 */display:block;width:75px;height:25px; margin-left:5PX; text-align:center;overflow:hidden;font-size:14px; font-family:"微软雅黑";text-decoration:none;cursor:pointer;}
.menu ul li a span{position:absolute;/* 必要元素 */left:0;width:75px;}
.menu ul li a span.out{top:0px;}
.menu ul li a span.over,.menu ul li a span.bg{top:-25px;}
#menu ul li a{color:#fff;}
#menu ul li a span.over{color:#fff;}
#menu ul li span.bg{height:25px;background:#6c0202;}
.menu ul li a#home{height:40px;background:#6c0202; color:#fff;}
#menu ul li a#home span.over{color:#fff;}
.banners{overflow:hidden; position:relative; margin:0px auto; background:url(../images/bannersbg.jpg) no-repeat; width:982px; height:245px; padding:10px;}
.focusBox { position: relative; width:982px; height:245px; overflow: hidden; }
.focusBox .pic{ position:relative; z-index:0; }
.focusBox .pic img { width:982px; height:245px; display: block; }
.focusBox .hd { width:100%; position: absolute; bottom: 10px; text-align: center; font-size:0; z-index:1; }
.focusBox .hd li{margin: 0 5px; background: url(../images/dot.png) no-repeat 0 -16px; height: 16px; overflow: hidden; width: 16px; cursor: pointer;
	display:inline-block; *display:inline; zoom:1;  _background: url(../images/dot.gif) no-repeat 0 -16px;
}
.focusBox .hd .on{ background-position:0 0; }

.focusBox .prev,
.focusBox .next { width: 60px; height: 90px; margin: -60px 0 0; display: none;  position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
.focusBox .prev { left: 0; }
.focusBox .next { background-position: 0 -90px; right: 0; }
.focusBox .prev:hover,
.focusBox .next:hover { filter:alpha(opacity=50) !important;opacity:0.5 !important;  }
.containers{ width:982px; height:auto; overflow:hidden; margin:12px auto; }
.index{ width:982px; height:210px; margin:0px auto 12px; overflow:hidden;}
.left{ width:187px; height:auto; overflow:hidden; float:left; display:inline;}
.list{ height:auto; overflow:hidden; margin-bottom:0px; overflow:hidden; width:187px; background:#161616; padding-bottom:10px;}
.listbg{ width:177px; height:auto; overflow:hidden; margin:0px auto; padding:5px 0px;}
.listbg ul{ width:177px; height:auto; overflow:hidden;}
.listbg ul li{height:auto; width:177px;}
.listbg ul li a{ font-size:12px; height:26px; display:block;line-height:26px;overflow:hidden;text-indent:20px; margin-bottom:0px;background:url(../images/dian1.jpg) no-repeat 5px 8px; border-bottom:1px dotted #d4d4d4; }
.listbg ul li a:link,.listbg ul li a:visited{ color:#7a7a7a;}
.listbg ul li a:hover{ color:#e61b2b;}
.listbg ul li a.choose{ color:#e61b2b;}
.listbg ul li ul{ padding-top:0px;margin:0px;}
ul.second li a{width:100%; font-size:12px;height:auto; line-height:24px; font-weight:normal; border:none;padding-left:0px;display:block; background:none;margin-top:0px;}
ul.second li a:link,ul.second li a:visited{ color:#7a7a7a; background:none;}
ul.second li a:hover{color:#e61b2b;font-weight:normal; background:none;  border:none;}
.listbg  li.module_nav3 a{width:100%; font-size:12px;height:24px; line-height:24px; font-weight:normal; border:none;padding-left:0px; text-indent:0px; display:block;background:none; margin-left:25px;}
.listbg  li.module_nav3 a:link,.listbg  li.module_nav3 a:visited{ color:#e61b2b;}
.listbg  li.module_nav3 a:hover{color:#e61b2b;font-weight:normal; background:none;}
.list_title{ background:url(../images/a_title.jpg) no-repeat; width:187px; height:33px; font-family:"微软雅黑"; font-size:14px; line-height:33px;text-indent:15px; color:#fff;}
.aboiut{ width:506px; height:210px; background:#161616; float:left; display:inline; margin-left:20px; overflow:hidden;}
.list_title2{ background:url(../images/a_title2.jpg) no-repeat; width:100%; height:33px; font-family:"微软雅黑"; font-size:14px; line-height:33px;text-indent:15px; color:#fff;}
.list_title2 span{ float:right; display:inline; overflow:hidden; }
.list_title2 i{ float:right; display:inline; font-size:12px; margin-right:10px; font-style:normal;}
.list_title2 i a:link,.list_title2 i a:visited{ color:#fff;}
.list_title2 i a:hover{ color:#e61b2b;}
.border{  margin-left:0px; width:486px; height:auto; margin:5px auto 0px; }
.border img{ width:130px; height:86px; float:left;margin-right:10px; display:inline; overflow:hidden; margin-top:5px;}
.anputt{text-align:Justify;text-justify:inter-ideograph; color:#7a7a7a;  margin-left:0px; margin-top:5px; line-height:24px;}
.anputt h1{ color:#333; font-weight:bold;}
.anputt span{ text-align:right; overflow:hidden}
.anputt span a:link,.anputt span a:visited{ color:#7a7a7a;}
.anputt span a:hover{ color:#e61b2b;}
.news{ width:250px; height:210px; overflow:hidden; float:right; display:inline; background:#161616;  }
.news_deta3{ padding-top:14px; height:160px; overflow:hidden; width:230px; margin:0px auto; padding-top:5px;}
.news_deta3 li{ width:230px; height:30px; line-height:30px;  overflow:hidden; margin-left:0px; border-bottom:1px dotted #ccc;  }
.news_deta3 li a{  display: block;
    line-height: 30px;
    margin-left: 3px; 
    padding-left: 0px;height:30px; overflow:hidden; width:230px; background:url(../images/ico.png) left 10px  no-repeat;_background:url(../images/ico.gif) left 10px  no-repeat; text-indent:12px;}
.news_deta3 li span{float:right; margin-right:5px; margin-left:10px;}
.news_deta3 li a:link,.news_deta3 li a:visited{ color:#7a7a7a;}
.news_deta3 li a:hover{ color:#e61b2b;}

.show_pic{ width:982px; height:190px; overflow:hidden; margin:0px auto; background:#161616;}
/* 滚动代码 */
.rollBox{width:972px;overflow:hidden;margin-top:0px; height:190px; padding-bottom:0px; margin:0px auto 0px; padding-top:20px;}
.rollBox .LeftBotton{height:131px;width:17px;background:url(../images/pro_06.png) no-repeat left center;_background:url(../images/pro_06.gif) no-repeat left center;overflow:hidden;float:left;display:inline;cursor:pointer; margin-right:0px; margin-left:10px;}
.rollBox .RightBotton{height:131px;width:17px;background:url(../images/pro_08.png) no-repeat right center;_background:url(../images/pro_08.gif) no-repeat right center;overflow:hidden;float:right;display:inline;cursor:pointer; margin-right:10px;}
.rollBox .Cont{width:92%;overflow:hidden;float:left; margin-left:10px; margin-right:0px;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:195px; height:163px;float:left;margin-right:20px; display:inline;}
.rollBox .Cont .pic img{ width:193px; height:131px;vertical-align:top; border:1px solid #7d7d7d; }
.rollBox .Cont .pic h1{height:30px; line-height:30px; text-align:center; width:195px; margin-left:0px;}
.rollBox #List1,.rollBox #List2{float:left;}
.rollBox .Cont .pic a:link,.rollBox .Cont .pic a:visited{ color:#7a7a7a;}
.rollBox .Cont .pic a:hover{ color:#e61b2b;}
.foooters{ background:url(../images/fbg.jpg) repeat-x; height:75px; margin:0px auto; width:100%; }
.mid_fts{ width:1002px; height:auto; overflow:hidden; margin:0px auto; color:#fff; padding-top:10px; line-height:50px;text-align:center;}
.mid_fts a:link,.mid_fts a:visited{ color:#fff;}
.mid_fts a:hover{ color:#000;}
.rights{ width:780px; height:auto; overflow:hidden; float:right; display:inline;}
.detal_s{  width:780px; padding-bottom:5px;height:auto; overflow:hidden; margin-left:0px; padding-top:0px; background:#161616; }
.deteo{ padding:0px 0px 0px; height:auto; overflow:hidden; height:auto; width:780px; padding-bottom:15px;min-height:400px; _height:expression(this.scrollHeight < 400? "400px" : "auto") ; }
.about_edit{ color:#7a7a7a; line-height:24px; margin-top:11px; padding-right:0px; margin-left:8px; margin-right:8px;text-align:Justify;text-justify:inter-ideograph;}
.contact_t{ height:150px; overflow:hidden; margin-bottom:0px; overflow:hidden; width:187px; margin-top:10px; background:url(../images/lianxipic.png) right bottom no-repeat #161616; padding-bottom:10px;}
.tla{ padding-left:10px; padding-top:5px; color:#7a7a7a;}
.news_deta5{ padding-top:10px; height:auto; overflow:hidden; width:760px; margin-left:10px;}
.news_deta5 li{ width:760px; height:29px; line-height:29px;  overflow:hidden; margin-left:0px;  border-bottom:1px dotted #565656;  }
.news_deta5 li a{  display: block;
    line-height: 29px;
    margin-left: 3px; 
    padding-left: 0px;height:29px; overflow:hidden; width:760px;background:url(../images/ico.png) no-repeat left 10px;_background:url(../images/ico.gif) no-repeat left 10px;text-indent:12px;}
.news_deta5 li span{float:right; margin-right:5px; margin-left:10px;}
.news_deta5 li a:link,.news_deta5 li a:visited{ color:#7a7a7a;}
.news_deta5 li a:hover{ color:#e61b2b;}
.module_page{ width:100%;  line-height:20px;margin-top:30px;text-align:center; height:30px;}
.module_page a{ text-decoration:none; color:#333333; /*color:#0c2d63;*/color:#7a7a7a; background:#eeeeee; padding:3px 4px;}
.module_page span{ padding-left:20px; padding-right:20px;}
.module_page a:hover{ text-decoration:none; color:#fff; background:#e61b2b}
.module_page  select{ margin-left:5px; color:#000;}

.main_right_con{ padding:8px 15px 12px;color:#333; overflow:hidden;}
h1.inner_news_tit{height:30px; padding:8px 0px;text-align:center; font-size:14px;  color: #fff; font-weight: bold; }
h2.inner_news_time{height:25px; line-height:25px;color:#7a7a7a; padding-left:10px; margin-bottom:4px; text-align:center; border-bottom:1px dotted #ccc;}
h2.inner_news_time a{ color:#7a7a7a;}
h2.inner_news_time a:hover{ color:#e61b2b; text-decoration:underline;}
h2.inner_news_time span{ float:right; text-align:right; padding-right:10px;}
.edit{overflow:hidden;text-align:Justify;text-justify:inter-ideograph; color:#7a7a7a; margin:10px 0px 0px;}
ul.inner_pages{ padding-top:8px;margin:10px auto 10px; margin-left:0px; border-top:1px dotted #ccc;}
ul.inner_pages li{line-height:26px;color:#7a7a7a;}
ul.inner_pages a{color:#7a7a7a;}
ul.inner_pages a:hover{color:#e61b2b}
ul.inner_pro{height:auto; overflow:hidden; padding-bottom:10px; width:800px; padding-top:15px;}
ul.inner_pro li{ float:left; margin:0px 15px 5px 24px;display:inline; }
ul.inner_pro li img{width:215px; height:146px; padding:0px; vertical-align:top; border:1px solid #f1f1f1; }
ul.inner_pro li a{ width:217px; height:178px; display:block; color:#7a7a7a; overflow:hidden;}
ul.inner_pro li a:hover{ color:#e61b2b;}
p.photo_title{text-align:center; height:30px; line-height:30px;}
ul.inner_pro li a:hover img{ border:1px solid #e61b2b;}

.prod_show{ width:100%; height:auto; overflow:hidden; margin:0px auto;}
.pirngs{ width:356px; height:auto; overflow:hidden; margin:15px auto; text-align:center; color:#e61b2b; font-weight:bold;}
.pirngs img{ width:350px; height:238px; padding:2px; border:1px solid #e6e6e6;}
.pirngs h1{ height:30px; line-height:30px; text-align:center;}

.moule_edot{  color:#7a7a7a; margin-left:0px; clear:both;text-align:Justify;
text-justify:inter-ideograph;}