<!-- 二级栏目列表（展示到三级子栏目） -->
{if $pagenavs}
<nav>
	<h3><span>{$posnavs[0].name}</span></h3>	<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
	<ul class="first">
		{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="{if $nav.current}current{/if}">
			<a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="sub">
				{foreach key=key item=nav_list from=$nav.childmenu}
				<li class="{if $nav_list.current}current{/if}"><a href="{if $nav_list.childmenu}javascript:;{else}{$nav_list.link}{/if}">{$nav_list.name}</a>
					{if $nav_list.childmenu}
						<ul class="three">
							{foreach key=key item=nav_next_list from=$nav_list.childmenu}
							<li class="{if $nav_next_list.current}current{/if}"><a href="{$nav_next_list.link}">{$nav_next_listt.name}</a>
							{/foreach}
						</ul>
						{/if}
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
</nav>
{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<nav>
	<h3><span>{$_pagenavs_sub3.pagenavs.name}</span></h3>
	<ul class="first">
		{foreach name=pagenavs2 item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="{if $nav.current}current{/if}">
			<a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="sub">
				{foreach key=key item=nav_list from=$nav.childmenu}
				<li class="{if $nav_list.current}current{/if}"><a href="{if $nav_list.childmenu}javascript:;{else}{$nav_list.link}{/if}">{$nav_list.name}</a>
					{if $nav_list.childmenu}
						<ul class="three">
							{foreach key=key item=nav_next_list from=$nav_list.childmenu}
							<li class="{if $nav_next_list.current}current{/if}"><a href="{$nav_next_list.link}">{$nav_next_listt.name}</a>
							{/foreach}
						</ul>
						{/if}
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
</nav>
{/if}