.prod{ width:100%; height:auto; overflow:hidden; padding:0px 0px 15px;}
.prod ul{ width:100%; height:auto; overflow:hidden;}
.prod ul li{ width:50%; float:left; display:inline; overflow:hidden; margin-top:15px;}
.prod ul li .proimg{ padding:0px 15px; height:auto; overflow:hidden;}
.prod ul li .showpp{ position:relative; height:auto; width:100%; overflow:hidden;}
.prod ul li .showpp img{ border-radius:4px; height:auto; overflow:hidden;}
.prod ul li .showword{ border-bottom-left-radius:4px; border-bottom-right-radius:4px; height:30px; background:rgba(0,0,0,0.4); line-height:30px; text-align:center; color:#fff; font-size:1.13em; position:absolute; left:0px; bottom:0px; width:100%;}
.pro_title{ height:30px; background:#f3f3f3; border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; box-shadow:1px 1px 2px #f3f3f3;  line-height:30px; width:100%;}
.pro_title div.licion{ float:left;display: inline-block; overflow:hidden; height:25px; margin-left:10px;margin-top:0px; margin-right:10px;}
.pro_title div.licion span{ border-radius:5px; background:#3faba9; color:#ffffff; width:35px; padding:1px 3px; height:17px; line-height:17px; }
.pro_title div.licion{animation:licion 1s linear infinite alternate;-webkit-animation:licion 1s linear infinite alternate; }
.lefttitle{ width:100px; float:left; display:inline; text-align:left; display:inline; color:#a0a0a0; font-size:1.13em;}
.pro_title .more{ float:right; display:inline; text-transform:uppercase; font-size:1em; color:#3faba9;}
.newshow{ padding:0px 10px; height:auto; overflow:hidden;}
.nimgs{ width:110px; height:70px;  overflow:hidden; float:left; display:inline; margin-right:10px;}
.c_edits{ height:20px; margin:3px 0px 5px; line-height:20px; overflow:hidden; color:#a0a0a0;overflow:hidden;
text-overflow:ellipsis; width:95%;
white-space:nowrap;}
.c_edits:after{content:"...";}
.news_titles{ height:auto; overflow:hidden;}
.ndate{ height:25px; line-height:20px; margin-top:5px; width:100%;}
.ndate span{ float:right; display:inline; color:#ff0000; font-size:1.11em;}
.ndate b{ font-weight:normal; padding:3px 10px; color:#ffffff; background:#3faba9;}
.newshow ul li{ height:70px; overflow:hidden; width:100%; padding:13px 0px; border-bottom:1px solid #d7d7d7;}
.newshow ul li:last-child{ border-bottom:none;}
.boxmain-m .newshow ul li:last-child{ border-bottom:1px solid #d7d7d7;}
.newshow ul li a{ width:100%; height:auto; overflow:hidden;}
.c_city{ font-size:1.12em; color:#3faba9; height:20px; line-height:20px; margin-bottom:3px; overflow:hidden;}
.c_data{ color:#a0a0a0; font-size:1em; height:25px; line-height:25px;}
.tourism{ width:100%; height:auto; overflow:hidden; padding-top:1px; position:relative;}
.tourism:before{ position:absolute; left:0px; top:0px; height:1px; background:#f29566; content:""; width:100%}
.tour_titles{ background:#f29566; border-top:1px solid #fff; border-bottom:1px solid #fff; height:32px; line-height:32px; position:relative;}
.liciona{float:left;display: inline-block; overflow:hidden; height:25px; margin-left:10px;margin-top:0px; margin-right:10px; width:25px;animation:licion 1s linear infinite alternate;-webkit-animation:licion 1s linear infinite alternate; margin-top:3px;}
.lefttitlea{ width:100px; float:left; display:inline; text-align:left; display:inline; color:#fff; font-size:1.13em;}
.tour_titles .more{ float:right; display:inline; text-transform:uppercase; font-size:1em; color:#ffffff;}
.lvyoudetal{ position:relative; height:auto; overflow:hidden; padding:1px 0px 10px; }
.lvyoudetal:before{ content:""; position:absolute; left:0px; top:0px; width:100%; height:1px; background:#f29566;}
.boxmain-m .lvyoudetal:before{ content:""; position:absolute; left:0px; top:0px; width:100%; height:0px;}

.lvyoudetal ul li{ width:25%; height:auto; overflow:hidden; float:left; display:inline; margin-top:10px;}
.lvyoudetal ul li a{ margin:0px 10px; display:block; background:#eeeeee; height:30px; line-height:30px; text-align:center; color:#a0a0a0;}
.secturo .tour_titles{ background:#65abcf;}
.secturo:before{ position:absolute; left:0px; top:0px; height:1px; background:#65abcf; content:""; width:100%}
.secturo .lvyoudetal:before{ content:""; position:absolute; left:0px; top:0px; width:100%; height:1px; background:#65abcf;}

.thiruro .tour_titles{ background:#f2ba49;}
.thiruro:before{ position:absolute; left:0px; top:0px; height:1px; background:#f2ba49; content:""; width:100%}
.thiruro .lvyoudetal:before{ content:""; position:absolute; left:0px; top:0px; width:100%; height:1px; background:#f2ba49;}
.hide-class dl{ height:30px; overflow:hidden; line-height:30px; float:left; display:inline; padding:0px 10px; position:relative; }
.hide-class dl:before{ height:30px; width:30px; position:absolute; left:0px; top:0px;color:#f8c604;text-align:center; }
.hide-class dl a{ display:block;color:#fff}
.hide-class dl a:active {background:rgba(0,0,0,0.2);}
.font{ width:40px; text-align:center;background:#279190;position:absolute; top:32px; right:0px; display:none; z-index:9999}
.hide-class{background:#3faba9; height:auto; overflow:hidden; display:none; margin:0px 0px;   }
.font dl{ height:30px; line-height:30px; color:#fff; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}
.lefttitleb{ width:100px; float:left; display:inline; text-align:left; display:inline; color:#a0a0a0; font-size:1.13em; padding-left:10px;}
.more2{height:30px; padding:0px 7px; line-height:27px;background:#3faba9; display:block;  text-align:center; color:#fff; font-size:0.9em; float:right; margin-left:1px;position:relative;}
#up{ display: none;}
.boxmain-m{ height:auto; overflow: hidden;  margin:0px 10px; }
.edite{ height:auto; overflow:hidden; padding:10px 0px;color:#a0a0a0;}
.less_more{ display:none;}
.newshow .mores{ margin-top:15px; color:#fff;}
.mores{border-radius:5px; border:1px solid #3faba9;height:30px; color:#3faba9;line-height:30px; text-align:center; width:100px; margin:10px auto; clear:both;}
.mores a{ color:#3faba9;}
.newshow .mores{ margin-top:15px; color:#3faba9;}
.fixed-top{ text-align:center; z-index:100; position: absolute; top:0px; left:0px; width:100%; background:#f3f3f3; height:31px; line-height:31px; color:#1e1c1a; font-size:1.14em; border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;}
.fixed-btn{ background:#3faba9; color:#fff; padding:0px 7px; float:right;font-size:0.9em;}
.back{ float:left;  text-indent:0px; height:31px; text-align:center}
.back a{ color:#fff; display:block;}
.active{ height:auto; overflow:hidden; margin:13px 5px 5px; position:relative}
.ny-wrap{ margin:40px 6px 0px;}
.news_detail{ padding:5px 10px; height:auto; overflow:hidden;}
.news_detail .baner{ padding:0px; border:none;}
.pro_titlea{ color:#989898; font-size:1.11em; line-height:26px; margin-bottom:5px; }
.pro_cont{ padding:5px 10px; height:auto; overflow:hidden;}
.telnum{ width:100%; height:25px; line-height:25px; color:#ff0000; font-size:1.12em; padding-bottom:5px; border-bottom:1px solid #3faba9;}
.telnum span{ float:right; display:inline; padding:2px 3px; color:#fff; background:#3faba9; line-height:20px; height:20px;}
.telnum span a{ color:#fff;}
.address{ padding:5px 0px; color:#a0a0a0; font-size:1.1em;}
.a_title{ position:relative; height:26px; line-height:26px; width:100%; border-bottom:1px solid #d7d7d7; color:#3faba9; text-indent:5px; font-size:1.1em;}
.a_title:before{ position:absolute; left:0px; top:26px; height:1px; content:""; background:#3faba9; width:70px;}
.address b{ font-weight:normal; color:#3faba9;}
.pimg{ width:100%; height:auto; overflow:hidden; padding-bottom:10px;}
.pimg ul li{ width:50%; height:auto; overflow:hidden; float:left; display:inline;}
.pimg ul li .imga{ padding:0px 10px; height:auto; overflow:hidden;}
.news_detail .title1{ height:auto; overflow:hidden; text-align:center; font-size:1.15em; color:#3faba9;}
.news_detail .title2{ height:30px; text-align:center; color:#a0a0a0;  border-bottom:1px solid #d7d7d7; margin-bottom:10px;}
.pruces{ color:#ff0000; font-size:1.1em; border-bottom:1px solid #ccc; margin-top:0px; line-height:30px; text-align:center;}
@media screen and (min-width: 320px) and (max-width: 480px){
.navtitle{ text-align:center; font-size:1em; color:#a0a0a0; line-height:30px; height:30px;}

}
@media screen and (min-width: 480px) {

}

@keyframes licion{
0%{ padding-top:0px;}
100%{ padding-top:3px;}
}
@-webkit-keyframes licion{
0%{ padding-top:0px;}
100%{ padding-top:3px;}
}
@keyframes animation{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}
@-webkit-keyframes animation{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}

@keyframes back{
0%{ position:relative; left:0px;}
100%{ position:relative; left:10px;}
}
@-webkit-keyframes back{
0%{ position:relative; left:0px;}
100%{ position:relative; left:10px;}
}
@keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}
@-webkit-keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}