<div class="opacity2"></div>
<div class="class">
  <h1 class="class-top"><span class="class-close">×</span>快速导航</h1>
  <div class="class-m">
  <div class="swiper-container scroll-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
  	<ul class="class-list">
    	<li><a href="/">首 页</a></li>
		{foreach name=navs item=nav from=$navs}
        <li class="menu_head">
        <dl class="icon"><span class="icon1">-</span><span class="icon2">+</span></dl>
        <a href="{$nav.link}">{$nav.name}</a></li>
			{if $nav.children}
			<li class="menu_body">
				{foreach from=$nav.children item=$nav_list}
				<dl><a href="{$nav_list.link}">&gt;{$nav_list.name}</a></dl>
				{/foreach}
			</li>		
			{/if}
		{/foreach}
    </ul>
    </div>
    </div>
    </div>
  </div>
</div>
<div class="wrap">
<div class="share-con">
	<a title="复制链接" href="javascript:void(0)" onclick="copyLink()"><span class="copylink"></span></a>
	<a title="分享到腾讯微博" href="javascript:void(0)" onclick="postToWb();"><span class="tengxunweibo"></span></a>
	<a title="分享到新浪微博" href="javascript:void(0);"><span class="xinlang"></span></a>
	<a title="分享到Qzone空间" href="javascript:void(0);"><span class="qqzone"></span></a>
	<a title="分享到人人网" href="javascript:void(0);"><span class="renren"></span></a>
	<a title="分享到开心网" href="javascript:void(0);"><span class="kaixin"></span></a>
	<a title="分享到淘江湖" href="javascript:void(0);"><span class="taojianghu"></span></a>
	<a title="分享到豆瓣" href="javascript:void(0);"><span class="douban"></span></a>
	<a title="分享到百度收藏" href="javascript:void(0);"><span class="baidusoucang"></span></a>
</div>
<div class="fixed">
	<ul class=" box" id="box">
    <li><a href="#" id="class"><p class="fix_icon"><img src="{$site_url}{$path}icon/6.png" width="33" width="33"></p><p class="title">导航</p></a></li>
	<li><a href="#"><p class="fix_icon"><img src="{$site_url}{$path}icon/2.png" width="33" width="33"></p><p class="title">电话</p></a></li>
    <li><a href="#"><p class="fix_icon"><img src="{$site_url}{$path}icon/3.png" width="33" width="33"></p><p class="title">短信</p></a></li>
    <li><a href="#"><p class="fix_icon"><img src="{$site_url}{$path}icon/5.png" width="33" width="33"></p><p class="title">咨询</p></a></li>
    <li><a href="#"><p class="fix_icon"><img src="{$site_url}{$path}icon/4.png" width="33" width="33"></p><p class="title">地图</p></a></li>
    <li><a href="#" id="share_btn"><p class="fix_icon"><img src="{$site_url}{$path}icon/8.png" width="33" width="33"></p><p class="title">分享</p></a></li>
    </ul>
</div>
<div class="index-wrap">
<div class="swiper-container scroll-container">
  <div class="swiper-wrapper">
      <div class="swiper-slide">

	<div class="heaer">
    	<div class="logo"><img src="{$logo}" width="100%" alt="{$title}"></div>
    </div>
    <div class="baner">
	<div id="slideBox" class="slideBox">
    <div class="hd">
            <ul></ul>
              </div>
	<div class="bd">
		<ul>
			{foreach from=$global.slidepics item=slidepic}
			<li><a class="pic" href="{$slidepics.link}"><img src="{$slidepic.src}" /></a></li>
			{/foreach}
		</ul>
	</div>
	
			</div>
			<script type="text/javascript">
				TouchSlide({ 
					slideCell:"#slideBox",
					titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
					mainCell:".bd ul", 
					effect:"leftLoop", 
					autoPage:true,//自动分页
					autoPlay:1000,
					interTime:6000 //自动播放
				});
			</script>
   </div>
   <div class="menu">
            	<div class="nav">
            	<a class="arrow-left" href="#">&lt;</a> 
   				 <a class="arrow-right" href="#">&gt;</a>
               <div class="swiper-nav swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide"><span><a href="/">网站首页</a></span></div>
                      {foreach from=$navs item=nav}
					  <div class="swiper-slide"><span><a href="{$nav.link}">{$nav.name}</a></span></div>
					  {/foreach}
                  </div>
				</div>
                </div>
    </div>