<div class="class public_bg">
  <h1 class="class-top"><span class="class-close">×</span>快速导航</h1>
  <div class="class-m">
  <div class="swiper-container scroll-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
  	<ul class="class-list">
    		<li><a href="index.html">网站首页</a></li>
	{foreach name=key item=nav from=$navs}
		 <li class="menu_head">
        <dl class="icon"><span class="icon1">-</span><span class="icon2">+</span></dl>
        <a href="{$nav.link}">{$nav.name}</a></li>
		{if $nav.children}
		{foreach name=key2 item=son from=$nav.children}
		<li class="menu_body">
        	<dl><a href="{$son.link}"><span>〉</span>{$son.name}</a></dl>
        </li>
		{/foreach}
		{/if}
	{/foreach}
        
    </ul>
    </div>
    </div>
    </div>
  </div>
</div>