<div class="headers">
          <div class="logo"><img src="{$logo}" height="103" width="545"  /></div>
            <div class="topic">
              <div class="home"><a href="javascript:void(0);" onclick="SetHome(this, window.location);">设为首页</a>   <a href="javascript:void(0);" onclick="shoucang(document.title, window.location);">加入收藏</a>   <a href="#">联系我们</a></div>
            </div>
        </div>
      <div class="menu">
      <ul class="nav">
         <li><a href="index.html">首页</a></li> 
        {foreach name=key item=nav from=$navs} 
          <li><a href="{$nav.link}">{$nav.name}</a></li> 
        {/foreach}                                                                                      
      </ul>           
    </div>
    <div class="h1title"><a href="#">庆祝福建创亿管业有限公司网站开通</a></div>
    <div class="banners"><img src="{$index.slidepics[0].image}" height="275" width="952" /></div>