 <div class="header">
        	<div class="home"><a href="javascript:void(0);" onclick="SetHome(this, window.location);">设为首页</a> <span>| </span><a href="javascript:void(0);" onclick="shoucang(document.title, window.location);">加入收藏</a></div>
        	<div class="logo"><img src="{$logo}" /></div>
            <div class="search">
            	<b>产品搜索：</b>
                <input name="" type="button" class="botton" />
                <input name="" type="text" class="input" />
                
            </div>
        </div>
        <div class="menu">
        <ul class="nav">
        <li class="i1" ><a href="index.html" class="cu">首页</a></li> 
        {foreach name=key item=nav from=$navs}
        <li class="i1" ><a href="{$nav.link}">{$nav.name}</a></li> 
        {/foreach}  
        </ul>
	</div>
    <div class="baner">
        <div id="myFocus"><!--焦点图盒子-->
  <div class="pic"><!--图片列表-->
  	<ul>
         {foreach from=$index.slidepics item=list} 
        <li><a href="{$list.link}"><img src="{$list.image}" width="985" height="353" thumb="" alt="" text="" /></a></li>
        {/foreach}
  	</ul>
  </div>
</div>
        </div>