<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more');
</script>
<![endif]-->
<script type="text/javascript" src="{$site_url}js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$site_url}js/myfocus-2.0.4.min.js"></script>

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
{$headscript}
</head>

<body>
<div class="wrap">
	<div class="zhezhao"></div>
	<div class="main">
    	 {include file='./_header.html'}
        <div class="conten">
        	<div class="left">
        	<div class="class">
            	<h1 class="class_top">{$pagenavs[0].name}<br /><span class="en">{$pagenavs[0].module}</span></h1>
                <div class="class_m">
                <ul class="first">
                  {foreach name=pagenavs item=nav from=$pagenavs}    
                    <li><a href="{$nav.link}">{$nav.name}</a></li>
		  {/foreach} 
              </ul>
                </div>
            </div>
            <div class="contact">
            地址：{$contact.address}<br />
电话：{$contact.telephone}<br />
联系人：{$contact.name}
            </div>
            </div>
            <div class=" right">
            	<h1 class=" about_top right_top"><strong class="lujin">您现在的位置：<a href="index.html">首页</a>
                {foreach item=nav from=$pagenavs}
                  >> <a href="{$nav.link}">{$nav.name}</a>
                {/foreach}
                </strong></h1>
                <div class="right_m">
                    {$list.data[0].description}
                </div>
            </div>
        </div>
      
       {include file='./_footer.html'}
    </div>
</div>
</body>
</html>
