<div class="headerbg">
              <div class="logo"><a href="index.html"><img src="{$logo}" height="85" width="530" /></a></div>
              <div class="home"><span><a href="javascript:void(0);" onclick="SetHome(this, window.location);">设为首页</a> </span>| <span><a href="javascript:void(0);" onclick="shoucang(document.title, window.location);">加入收藏</a></span></div>    
           </div>  
        <div id="menu" class="menu">
            <ul>   
                <li><a href="index.html">首页</a></li>                   
              {foreach name=key item=nav from=$navs}   
                <li><a href="{$nav.link}">{$nav.name}</a></li>
              {/foreach}   
            </ul>
        </div>      
<div class="banners">
	<div class="focusBox" style="margin:0 auto">
			<ul class="pic">
				 {foreach from=$index.slidepics item=list} 
                            <li><a href="{$list.link}"><img src="{$list.image}" width="985" height="353" thumb="" alt="" text="" /></a></li>
                                {/foreach} 

			</ul>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
			<ul class="hd">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
	</div>     
       
        </div> 