@charset "utf-8";
/*author:blackgecko*/
*{ margin:0px; padding:0px;}
a{ color:#666; text-decoration:none}
a:hover{ color:#b72a2a;}
a img{ border:none;}
table{border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left; font-weight:normal; color:#4a4a4a; line-height:24px; background:url(../images/bg.jpg) repeat-x #d2f3ff;}
ul,ol,p,dl,li{margin:0;pading:0; list-style:none;}
ul,ol,dl{height:100%;overflow:hidden; list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
input {font:12px;}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0px; padding:0px;}

.wrapper{ width:1029px; height:auto; overflow:hidden; margin:0px auto; background:#fff; }
.headers{ width:1003px; height:103px; margin:0px auto; overflow:hidden;}
.t1{ background:url(../images/l3_06.jpg) repeat-x; width:120px; border:1px solid #cfcfcf; margin-right:8px; color:#c9c9c9; background:#fff;}
.logo{ width:545px; display:inline; float:left; overflow:hidden; height:103px;}
.topic{ width:400px; float:right; display:inline; overflow:hidden; text-align:right}
.home{ width:250px;text-align:right; margin-top:22px; margin-left:160px;}
.home a{ margin-right:24px; font-size:12px; color:#f78508;}
.home a:link, .home a:visited{ color:#3383da;}
.home a:hover{ color:#f78508;}
.text{ margin-top:20px; margin-right:22px;}
.text img{ vertical-align:bottom;}
.menu{ clear:both; width:1003px; background:url(../images/menubg.jpg) repeat-x; height:31px; margin:0px auto;}
.menu ul li{ float:left; display:inline;text-align:center; overflow:hidden; width:125px; height:31px; background:url(../images/line2.jpg) right no-repeat;}
.menu ul li a{  line-height:31px; font-size:13px; font-weight:bold; width:125px; display:block;}
.menu ul li a:link,.menu ul li a:visited{ color:#646464}
.menu ul li a:hover{ color:#fff; background:url(../images/menu_hover.jpg) left repeat-x;}
.h1title{ width:1003px; height:28px; margin:0px auto; overflow:hidden; background:url(../images/htbg.jpg) repeat-x; font-weight:bold; text-indent:25px; line-height:28px; }
.h1title a:link,.h1title a:visited{ color:#Fff;}
.h1title a:hover{ color:#ff8c16;}
.banners{ width:1003px; margin:0px auto; height:316px; overflow:hidden;}
.line3{ width:1003px; margin:0px auto; height:15px; overflow:hidden;}
.container{ width:1003px; height:auto; overflow:hidden; margin:0px auto; background:#fff;}


.left{ height:auto; overflow:hidden; float:left; width:227px; display:inline; margin-left:0px;}

.list{ height:auto; overflow:hidden; width:224px;  }
.list2{ height:auto; overflow:hidden; width:235px;  }
.list2 h3{ height:35px; line-height:35px;font-size:13px; font-weight:bold; color:#fff; background:url(../images/listh1.jpg) no-repeat; width:227px; overflow:hidden; text-indent:30px;}
.list2 span{float:right; padding-right:15px; margin-top:0px; color:#2d7ebd; font-weight:bold; font-size:12px; font-weight:normal;}
.list2 a:link,.list2 a:visited{ color:#2d7ebd;}
.list2 a:hover{ color:#666;}


.listbg{ margin-top:0px; margin-left:0px; width:227px; height:auto; overflow:hidden; background:url(../images/line23_34.jpg) repeat-y; border-bottom:1px solid #eaeceb;}
.listbg ul { margin-top:2px; margin-bottom:8px;}
.listbg ul li{ margin-bottom:0px; margin-left:10px; }
.listbg ul li a{padding-left:0px;background:url(../images/list_links.jpg) no-repeat; margin-left:0px; text-indent:15px;display:block; height:26px; line-height:26px; overflow:hidden; font-size:13px;}
.listbg ul li a:link,.listbg ul li a:visited{ color:#252525;}
.listbg ul li a:hover{ color:#2f84ff; }
.img1{ margin:10px 0px; width:227px; height:78px;}
.contactp h2{ color:#ff0000; font-size:13px; font-weight:bold; margin:0px 5px; text-align:center; padding-top:8px;}
.cont_edit{ color:#252525; padding-left:15px; width:180px; line-height:19px; padding-top:8px;}
.contact h3{ margin-bottom:2px;}
.contactp{ background:url(../images/contimg.jpg) no-repeat; width:227px; height:171px; overflow:hidden;}
.img2{ margin-top:15px}
.right{ width:769px; float:right; display:inline; overflow:hidden; margin-left:0px; height:auto;}
.topcomt{ width:769px; height:265px; overflow:hidden;}
.about{ display:inline; width:528px; height:265px; overflow:hidden; float:left;}
.about h3{ width:528px; background:url(../images/about.jpg) no-repeat; height:35px; color:#fff; font-size:13px; font-weight:bold; text-indent:23px; line-height:35px;}
.about h3 span{ float:right; margin-right:7px; margin-top:3px;}
.about_border{ height:229px; overflow:hidden; background:url(../images/border1.jpg) left repeat-y; border-bottom:1px solid #eaeceb;}
.about_edit img{ margin-top:5px;  background:#fff; padding:1px; border:3px solid #e9eeea; margin-bottom:5px; margin-left:0px; margin-right:10px; float:left; display:inline; overflow:hidden; width:145px;}
.about_edit{ margin-top:5px; color:#252525; line-height:25px; margin-left:10px; margin-right:10px;}

.news{ width:236px; margin-left:5px; display:inline; float:left; overflow:hidden; height:265px}
.news h3{ height:35px; line-height:35px;font-size:13px; font-weight:bold; color:#fff; background:url(../images/news3.jpg) no-repeat; width:236px; overflow:hidden; text-indent:30px;}
.newsbg{ width:236px; background:url(../images/line4.jpg) repeat-y; height:229px;border-bottom:1px solid #eaeceb;}
.newsbg ul{padding-top:0px; margin-bottom:0px;}
.newsbg ul li{ margin-bottom:0px; margin-left:10px;  width:210px; }
.newsbg ul li a{padding-left:0px;background:url(../images/icons.jpg) no-repeat; margin-left:0px; text-indent:15px;display:block; height:27px; line-height:27px; overflow:hidden; font-size:12px;}
.newsbg ul li a:link,.newsbg ul li a:visited{ color:#252525;}
.newsbg ul li a:hover{ color:#2f84ff; }
.prod{ clear:both; margin-top:10px; width:769px; height:auto; overflow:hidden;}
.prod h3{ width:769px; background:url(../images/pro_h3.jpg) no-repeat; height:35px; color:#fff; font-size:13px; font-weight:bold; text-indent:23px; line-height:35px;}
.prod h3 span{ float:right; margin-right:7px; margin-top:3px;}
.prodbg{width:769px; background:url(../images/line24.jpg) repeat-y; height:180px;border-bottom:1px solid #eaeceb;}

.pro table td img{ width:193px; height:126px; border:1px solid #c7c7c7; padding:0px; margin-bottom:5px;}
.pro table td a{ width:195px; height:156px; display:block;color:#252525; margin-right:40px; line-height:30px;}
.pro table td a:link,.pro table td a:visited{ color:#252525;}
.pro table td a:hover{ color:#2f84ff; }


.display{ clear:both;  width:1003px; height:auto; overflow:hidden; padding-top:10px;}
.display h3{ width:1003px; background:url(../images/pro_t.jpg) no-repeat; height:35px; color:#fff; font-size:13px; font-weight:bold; text-indent:23px; line-height:35px;}
.display h3 span{ float:right; margin-right:7px; margin-top:3px;}
.dispbg{ height:237px;border:1px solid #eaeceb; border-top:none; width:1001px;}

.show table td img{ width:213px; height:170px; border:1px solid #c7c7c7; padding:0px; margin-bottom:5px;}
.show table td a{ width:213px; height:200px; display:block;color:#252525; margin-right:40px; line-height:30px;}
.show table td a:link,.show table td a:visited{ color:#252525;}
.show table td a:hover{ color:#2f84ff; }

.footer{ width:1003px; margin:0px auto; background:url(../images/footbg.jpg) repeat-x; height:99px; overflow:hidden; clear:both; margin-top:10px;}
.fotmenu{ height:35px; text-align:center; line-height:35px; font-size:13px; color:#fff;}
.fotmenu a{ margin:0px 3px;}
.fotmenu a:link,.fotmenu a:visited{ color:#fff;}
.fotmenu a:hover{ color:#f78508; }
.fopts{ line-height:35px; font-size:13px; color:#252525; text-align:center; margin-top:8px;}
.fopts a:link,.fopts a:visited{ color:#252525;}
.fopts a:hover{ color:#f78508}

.detal{ clear:both; margin-top:0px; width:769px; height:auto; overflow:hidden;}
.detal h3{ width:769px; background:url(../images/pro_h3.jpg) no-repeat; height:35px; color:#fff; font-size:13px; font-weight:bold; text-indent:33px; line-height:35px;}
.detal h3 span{ float:right; margin-right:7px; margin-top:0px; font-size:12px; font-weight:normal; color:#252525; line-height:30px;}
.detal h3 span a:link,.detal h3 span a:visited{ color:#252525;}
.detal h3 span a:hover{ color:#f78508}

.detalbg{width:769px; background:url(../images/line24.jpg) repeat-y; border-bottom:1px solid #eaeceb;min-height:450px; color:#252525; _height:expression(this.scrollHeight < 450? "450px" : "auto"); overflow:hidden;}
.detalbg .about_edit{ margin-top:5px; color:#252525; line-height:25px; margin-left:10px; margin-right:10px; padding-bottom:50px;}


.news_deta2{ height:auto; padding:15px 0px 5px 15px;overflow:hidden; width:730px; }
.news_deta2 li{ width:730px ; height:30px; line-height:30px; border-bottom:1px dashed #999 }
.news_deta2 li a{  display: block;
    line-height: 30px;
    margin-left: 3px; background:url(../images/icons_07.jpg) left  10px no-repeat;
    padding-left: 15px;height:30px; overflow:hidden; width:730px;}
.news_deta2 li span{float:right; margin-right:20px; margin-left:10px;}
.news_deta2 li a:link,.news_deta2 li a:visited{ color:#252525;}
.news_deta2 li a:hover{ color:#f78508;}

.module_page{ width:100%;  line-height:20px;margin-top:30px;text-align:center;  color:#252525; padding-bottom:40px;}
.module_page a{ text-decoration:none; color:#252525; /*color:#0c2d63;*/}
.module_page span{ padding-left:20px; padding-right:20px;}
.module_page a:hover{ text-decoration:none; color:#f78508;}
.module_page  select{ margin-left:5px; color:#3e3e3e;}

.main_right_con{ padding:8px 10px 12px;min-height:260px; color:#252525; _height:expression(this.scrollHeight < 260? "260px" : "auto"); overflow:hidden;}
h1.inner_news_tit{height:30px; padding:8px 0px;text-align:center; font-size:14px;  color: #f78508; font-weight: bold; border-bottom:1px dashed #ccc;}
h2.inner_news_time{height:25px; line-height:25px;color:#252525; padding-left:10px; margin-bottom:4px; text-align:center; border-bottom:1px dashed #CCCCCC;}
h2.inner_news_time a{ color:#252525;}
h2.inner_news_time a:hover{ color:#f78508; text-decoration:underline;}
h2.inner_news_time span{ float:right; text-align:right; padding-right:10px;}

.edit{min-height:260px;  _height:expression(this.scrollHeight < 260? "260px" : "auto"); overflow:hidden; color:#252525; margin:10px 5px 0px;}


ul.inner_pages{ padding-top:8px;margin:10px auto 10px; margin-left:0px;}
ul.inner_pages li{line-height:26px;color:#252525;}
ul.inner_pages a{color:#252525;}
ul.inner_pages a:hover{color:#f78508}

ul.inner_pro{height:auto; overflow:hidden; padding-bottom:10px; width:100%;}
ul.inner_pro li{ float:left; margin:11px 3px 0px 4px;display:inline;}
ul.inner_pro li img{ width:174px; height:114px; padding:0px; vertical-align:top; border:1px solid #cdced0; padding:0px;}
ul.inner_pro li a{ width:180px; height:144px; display:block; color:#252525; overflow:hidden;}
ul.inner_pro li a:hover{ color:#f78508;}
p.photo_title{height:30px; line-height:30px; text-align:center;}


.description{  padding:15px 10px 13px;width:96%;_width:99%; _margin-left:10px;height:auto; overflow:hidden; }

.descripimg{ float:left; background:none; width:240px; height:160px; margin-bottom:15px; }
.descripimg img{ padding:3px; width:220px; height:144px; border:1px solid #cbced0;}
.descriptcot{margin:0px; padding:0px; float:left; width:60%;}
.text_p{ color:#000;padding:0px; margin:-20px 0px 0px 15px; width:90%; }
.moule_edot{  color:#252525;width:99%; margin-left:5px; clear:both;}



ul.inner_pro2{height:auto; overflow:hidden; padding-bottom:10px; width:100%;}
ul.inner_pro2 li{ float:left; margin:11px 3px 0px 4px;display:inline;}
ul.inner_pro2 li img{ width:174px; height:139px; padding:0px; vertical-align:top; border:1px solid #cdced0; padding:0px;}
ul.inner_pro2 li a{ width:180px; height:169px; display:block; color:#252525; overflow:hidden;}
ul.inner_pro2 li a:hover{ color:#f78508;}
p.photo_title{height:30px; line-height:30px; text-align:center;}


.description2{  padding:15px 10px 13px;width:96%;_width:99%; _margin-left:10px;height:auto; overflow:hidden; }

.descripimg2{ float:left; background:none; width:240px; height:185px; margin-bottom:15px; }
.descripimg2 img{ padding:3px; width:220px; height:176px; border:1px solid #cbced0;}
.descriptcot2{margin:0px; padding:0px; float:left; width:60%;}
.text_p2{ color:#000;padding:0px; margin:-20px 0px 0px 15px; width:90%; }
.moule_edot2{  color:#252525;width:99%; margin-left:5px; clear:both;}
