    <div class="opacity2"></div>
    <div class="newsclass">
      <div class="share-con">
        <div class="swiper-container thumbs-cotnainer">
          <div class="swiper-wrapper">
            <div class="swiper-slide"> <a title="分享到Qzone空间" href="javascript:void(0);" class="qqzone"><img src="icon/kongjian.gif" width="60" height="60">
              <dt class=" title">Qzone</dt>
              </a></div>
            <div class="swiper-slide"><a title="分享到腾讯微博" href="javascript:void(0);"  onclick="postToWb();" class="qqweibo"><img src="icon/tengxun.gif" width="60" height="60">
              <dt class=" title">TENGXUN</dt>
              </a></div>
            <div class="swiper-slide"> <a title="分享到百度收藏" href="javascript:void(0);" class="baidusoucang"><img src="icon/baidu.gif" width="60" height="60">
              <dt class=" title">BAIDU</dt>
              </a></div>
            <div class="swiper-slide"><a title="分享到新浪微博" href="javascript:void(0)" class="xinlang"><img src="icon/xinlang.gif" width="60" height="60">
              <dt class=" title">SINA</dt>
              </a></div>
          </div>
        </div>
      </div>
      <div class="share-cance">OFF</div>
    </div>
    <div class="fixed public_bg">
      <ul class=" box" id="box">
        <li><a href="#" id="class" class="public_color1">
          <p class="fix_icon"><img src="icon/6.png" width="33" height="33"></p>
          <p class="title">NAV</p>
          </a></li>
          {foreach name=bot item=bot from=$global.bottomnavs}
              {if $bot.type neq share}
              <li><a href="{$bot.link}" class="public_color1">
              <p class="fix_icon"><img src="{$bot.image}" width="33" height="33"></p>
              <p class="title">{$bot.name}</p>
              </a></li>
              {else}
              <li><a href="{$bot.link}" id="share_btn" class="public_color1">
              <p class="fix_icon"><img src="{$bot.image}" width="33" height="33"></p>
              <p class="title">{$bot.name}</p>
              </a></li>
              {/if}
          {/foreach}
      </ul>
    </div>