      <header>
      	<div class="logo public_bg"><img src="images/logo.png" width="100%"></div>
        <div class="menu public_bg">
            	<div class="nav">
            	<a class="arrow-left" href="#">&lt;</a> 
   				 <a class="arrow-right" href="#">&gt;</a>
               <div class="swiper-nav swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide"><span><a href="index.html" class="public_color1">Home</a></span></div>
                      {foreach name=navs item=nav from=$navs}
                      <div class="swiper-slide"><span><a href="{$nav.link}" class="public_color1">{$nav.name}</a></span></div>
                      {/foreach}
                  </div>
				</div>
                </div>
    </div>
    <div class="baner public_bg2">
	<div id="slideBox" class="slideBox1">
    <div class="hd">
            <ul></ul>
      </div>
      <span class="next">&gt;</span>
      <span class="prev">&lt;</span>
	<div class="bd">
		<ul>
        {foreach name=slidepics item=slidepic from=$global.slidepics}
          <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" /></a></li>
        {/foreach}
		</ul>
	</div>
	
			</div>
   </div>
      </header>