
<header>
	<section class="headtop">
<div class='header'>

	<div class='container'>
        <div class="logo"><a href="{$site_url}"><img src="{$logo}" width="403" height="86"></a></div>
		<span class="home"><a href="{$site_url}">返回首页</a> | <a href='{$global.map.link}'>网站地图</a></span>
	</div>
</div>
        		
<div class="nav-box"> 
<div class="menu">      
<ul id="nav" class="nav clearfix">
			<li class="nLi on" style="width:{100/($navs|count+1)}%">
				<h3><a href="{$site_url}" target="_blank">首页</a></h3>
			</li>
            {foreach name=navs item=nav from=$navs}
			<li  class="fl{if $nav.current} current{/if} nLi" style="width:{100/($navs|count+1)}%">
					<h3><a href="{$nav.link}">{$nav.name}</a></h3>
				<ul class="sub clearfix">
                {if $nav.childmenu}
					{foreach key=key item=nav_list from=$nav.childmenu}
					<li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
					{/foreach}
                    {/if}
				</ul>
			</li>
          {/foreach}
                                          
		</ul>
		<div class='tel'>
			<span>全国免费热线:</span>{$contact.telephone}
		</div>        
        </div>     
       </div>
<script type="text/javascript">
	/*SuperSlide图片切换*/
	jQuery(".focusBox").slide({ mainCell:".pic",effect:"fold", autoPlay:true, delayTime:500, trigger:"click"});
</script>             
             <div class="banner">
             		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul><li>1</li><li>2</li><li>3</li></ul>
			</div>
			<div class="bd">
				<ul>
                  {foreach name=slidepics item=slidepic from=$global.slidepics}
                      <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>
                    
                    {/foreach}                     
					
				</ul>
			</div>	


		</div>


             </div> 
 </section>
 </header>
 
 




