<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <script type="text/javascript">
  // 跳转手机页面
  {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
      location.href = '{$site_another_url}';
    }
  {/if}
  </script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{$site_url}js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>

<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<title>{$title}</title>
{$headscript}
</head>

<body>
{include file="./_header.html"}
<div class='content index'>
	<div class='container'>
		<div class='aside'>
{include file="./_pagenavs_sub3.html"} 			
		</div>
<div class='main'>
<h4><span>{$article.category.name}</span><strong>
<ul class="clearfix">
	<li class="fl"><a href="/">首页</a></li>
	{foreach item=nav from=$posnavs}
	<li class="fl"> >> <b><a href="{$nav.link}">{$nav.name}</a></b></li>
	{/foreach}
</ul> 
</strong></h4>
<div class='details pro-det'>
			<div class='pro-pic' ><img width='350' height='231' src="{$article.image}" /></div>
			<dl>
				<dt>{$article.title}</dt>
				<dd></dd>
				<dd></dd>
				<dd></dd>
			</dl>
			<h1>详细说明:</h1>
			<p>   {$article.content|unescape:"html"} </p>
			
							<div style="height:30px;overflow: hidden; padding-top:7px; margin-top:15px; color:#000; float:right;"><!-- Baidu Button BEGIN -->
{shareExt shareText=$article.content|unescape:"html"|strip_tags|truncate:140:"…" sharePic=$article.image}
                      </div>
			<div class='other'>
上一篇：<a href="{$article.prev.link}">{$article.prev.title}</a><br />
下一篇：<a href="{$article.next.link}">{$article.next.title}</a>     
			</div>
		</div>
		</div>        

		
	</div>
</div>



{include file="./_footer.html"}
</body>
</html>