<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,a,p,img');
</script>
<![endif]-->

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<title>{$title}</title>
{$headscript}
</head>

<body>
	<div class="wappers">
	 {include file='./_header.html'} 
              
          <div class="containers">
          	<div class="left_list">
                <div class="list">
                     <h3>{$pagenavs[0].name}</h3>
                     <div class="listbg">
                         <ul>
                             {foreach name=pagenavs item=nav from=$pagenavs}    
                                <li><a href="{$nav.link}">{$nav.name}</a></li>
                             {/foreach}                                                            
                       </ul>
                     </div>
                </div>     
                <div class="contact">
                	<h3>联系我们</h3>
                    <div class="lixit">
                    	<h1>{$title}</h1>
                        地  址：{$contact.address}<br />
手  机：{$contact.mobile} <br />
电  话：{$contact.telephone}<br />
<!--传  真：0597-2665981<br />-->
联系人：{$contact.name}<br />
邮  箱：{$contact.email}<br />
                    </div>
                </div>           
            </div>
            <div class="right_t">
                 <div class="detal">
                    	<div class="detal_s">
                    <h3><span>您当前位置:<a href="index.html">首页</a>
                  {foreach item=nav from=$pagenavs}
                  >> <a href="{$nav.link}">{$nav.name}</a>
                {/foreach}
                  </span></h3>
<div class="deteo">
            <div class="main_right_con" >
                	 <h1 class="inner_news_tit">{$article.title} </h1>
   <h2 class="inner_news_time">添加时间{$article.pubdate} </h2>
   <div class="edit">
       {$article.content|unescape:"html"}
   </div>
    <ul class="inner_pages">
     <li>上一篇：<a href="{$article.prev.link}">{$article.prev.title}</a></li>
     <li>下一篇：<a href="{$article.next.link}">{$article.next.title}</a></li>
    </ul>
   			</div>
             </div>  
             
                        </div>
                    </div>            	

            </div>
          </div>
          {include file='./_footer.html'} 
                   
      </div>
</body>
</html>
















