@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ text-decoration:none}
li{list-style:none;}
a:link, a:visited{text-decoration:none; }
a:hover{ text-decoration:none; color:#d2b186;}
a img{ border:none;}
img{ vertical-align:top;}
#clear{ clear:both;}
body{font-size:12px; text-align:left;font-weight:normal; line-height:24px; font-family:"宋体";  color:#333333; background: url(../images/bg.jpg) left top repeat;}
a{blr:expression(this.onFocus=this.blur())} /* */
 /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
ol,p,dl,li{margin:0;pading:0; list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
.wrap{ width:100%; height: auto; overflow:hidden; min-width:1000px;}
.public{ width:1000px; height:auto; overflow:hidden; margin:0px auto; position:relative; background:url(../images/mainbg.jpg) left top no-repeat #fff;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.header{  height:124px; overflow:hidden; position:relative; margin:0px 8px;}
.search{  position:absolute; top:18px; right:10px; height:auto;overflow:hidden; text-align:center;}
.tell{ float:right; display:inline; padding-left:42px; margin-top:55px; overflow:hidden; background:url(../images/tell.png) left center no-repeat; font-family:"微软雅黑"; font-size:14px; color:#333333; height:30px; line-height:30px; margin-right:12px;}
.tell .num{ color:#d90200; font-size:18px;}

.menu{ height:55px; background:url(../images/menubg.jpg) left top no-repeat; width:986px; position:relative; z-index:5; margin:0px auto;}
ul.nav{ margin:0px; padding:0px;}
ul.nav li{ position:relative; width:123px;float:left; display:inline;height:55px; font-family:"微软雅黑"; background:url(../images/menuli.jpg) right center no-repeat; }
ul.nav li a{color:#fff; display:block; width:100%; height:55px; line-height:55px;overflow:hidden;text-align:center; font-size:14px;   }
ul.nav li.i7{ background:none;}
ul.nav li:hover a,ul.nav li a.cu{ color:#fada03}
ul.sunav{ padding:5px 13px; width:114px; position:absolute; top:55px; left:0px; display:none; background:url(../images/sunavbg.png) left top repeat;}
ul.sunav li{  width:114px; height:31px; overflow:hidden; border-bottom:1px solid #d6e9fc;font-family:"宋体"; background:none;}
ul.sunav li a{width:100%; height:31px; line-height:31px; overflow:hidden; font-size:12px;}
ul.nav li:hover ul.sunav li a{ color:#fff;}
ul.nav li:hover ul.sunav li a{ height:31px; line-height:31px; overflow:hidden;}
ul.nav li:hover ul.sunav li a:hover{ color:#fada03}


.baner{ width:988px; height:254px;overflow:hidden; position: relative; margin:7px auto 7px; }
/* 本例子css */
.focusBox { height:254px;width:988px; position: relative; overflow: hidden; text-align:center;}
.focusBox .pic li{height:254px;width:988px; text-align:center}
.focusBox .hd { overflow:hidden; zoom:1; position:absolute; bottom:5px; right:48%; z-index:555}
.focusBox .hd li{float:left; line-height:15px; text-align:center; font-size:12px; width:18px; height:16px; cursor:pointer; overflow:hidden; background: url(../images/dot.png) left top no-repeat; margin-left:4px; }
.focusBox .hd .on{background: url(../images/dot.png) left bottom no-repeat; }


.content{ padding:17px 0px 10px; width:100%; height:auto; overflow:hidden; background: url(../images/contentbg.jpg) left top repeat-x;}
.slideleft{ width:248px; height:auto; overflow:hidden; margin-left:7px;}

.class{ width:100%; height:auto; overflow:hidden;}
.class h3{ height:36px; overflow:hidden; line-height:36px; background:url(../images/classtop.jpg) left top no-repeat; font-size:14px; color:#fff;font-family:"微软雅黑"; text-indent:22px;white-space: nowrap;overflow: hidden;padding-right: 10px;}
.class h3 span{display: block;width: 90px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;margin-right: 10px;}
.class_m{ padding:5px 0px; height: auto; overflow:hidden;}
ul.clearfix,ul.first{ padding:0px; overflow:hidden;}
ul.clearfix li a,ul.first>li>a{display:block; width:100%; height:31px; line-height:31px; background:url(../images/sty.jpg) 22px center no-repeat; border-bottom: solid 1px #e0dfdf;text-indent:39px; overflow:hidden; color:#333;}
ul.clearfix li a:hover,ul.first>li>a:hover{ color:#ff0000}
ul.sub{display: none;margin-left: 30px;padding: 10px 5px}
ul.sub li a{display:block;line-height: 30px;color: #333;}
ul.sub li a:hover{color: #f00;}


ul.second{ padding:0px;}
ul.second li a{ text-indent:36px; background:none; font-weight:normal;}

.contact{ margin:10px auto 0px;}
.contact-top{ height:34px; overflow:hidden; line-height:28px; font-size:14px; color:#333;font-family:"微软雅黑"; text-indent:22px; background:url(../images/top.jpg) left top no-repeat;}
.contact-top .en{ font-size:12px;}
.contact-m{ padding:11px 0px; height:auto; overflow:hidden;}
.contact-ed{ padding:8px 0px 0px; height:auto; overflow:hidden;}
.contact-qq{ height:40px; overflow:hidden;margin-top:5px;}
.contact-qq dl{ float:left; display:inline; margin-right:10px; }

.right{ width:718px; height:auto; overflow:hidden; margin-right:8px;}
.about{ width:425px; height:auto; overflow:hidden;}
.more{ width:34px; height:34px; display:block; background: url(../images/more.png) center center no-repeat; overflow:hidden; text-indent:0px; cursor:pointer;}
.about-m{ height:192px; overflow:hidden; padding-top:10px;}
.about-m img{ width:134px; height:107px; overflow:hidden; float:left; display:inline; margin-right:14px;}

.show{ width:279px;}
.show-m{ height:201px; overflow:hidden; background:url(../images/showbg.jpg) left top no-repeat; margin-top:11px; position:relative;}

#YSlide{position:relative;z-index:1;overflow:hidden;width:268px; height:192px; margin:2px auto 0px;}
.YSample{margin:0 auto;overflow:hidden;}
.YSample img{width:268px; height:192px;}
.titlebg{ width:174px; height:25px; position:absolute; left:5px; bottom:15px; display:block; z-index:1100}
.YSample dd{ width:174px; height:25px; position:absolute; left:0px; bottom:8px; background:url(../images/titlebg.png) left top no-repeat; color:#fff; text-indent:10px;}
#YSIndex{position:absolute;z-index:6;bottom:10px; right:0px;width:268px;text-align:right;height:16px;line-height:16px;overflow:hidden;}
#YSIndex a{position:relative;z-index:6; width:15px; height:15px; overflow:hidden; float:right; display:block; line-height:15px;color:#333;text-decoration:none;font-size:10px; background:url(../images/dian1.png) left top no-repeat; margin-right:4px;font-family:"微软雅黑"; text-align:center}
#YSIndex a:hover,#YSIndex a.current:link,#YSIndex a.current:visited,#YSIndex a.current:hover{background:url(../images/dian.png) left top repeat-x;color:#fff;}

.pro{ width:100%; margin-top:15px;}
/*
.colee_left{overflow:hidden; width:100%; margin:5px auto 0px; }
.colee_left td table td{ padding:7px 11px 7px; width:169px; height: auto; overflow:hidden; }
.colee_left td table td img{ width:159px; height:121px; overflow:hidden; border:5px solid #918e8e; }
.colee_left td table td .title{ line-height:27px; height:27px; background:#dad9d9; margin:1px auto 0px;}
.colee_left td table td a{ display:block; color:#333333}
.colee_left td table td a:hover img{border:5px solid #218ae5;}
.colee_left td table td a:hover .title{ background:#0e81e5; color:#fff;}*/
.photos {overflow:hidden;border:1px solid #e3e2dd;padding:10px 0;/**padding-top:13px;_height:161px;_padding-top:20px;*/position: relative;}
	.photos .photos-button {position: absolute;top: 40px;width: 57px;height: 102px;z-index: 10;}
	.photos .photos-prev {
		left: -5px;
		background: url(images/photos-prev.png) no-repeat;
	}
	.photos .photos-next {
		right: -18px;
		background: url(images/photos-next.png) no-repeat;
	}
 
	.photos .photos-content {height:171px;margin: 0 auto;overflow: hidden;}
	.photos .photos-content li {
		float:left;display:inline;/*width:165;*/text-align:center;margin:0px 5px;
	}
	.photos .photos-content li img {
		width:159px; height:121px; overflow:hidden; border:5px solid #918e8e;
	}
	.photos .photos-content li a h2{line-height: 30px;}




.link{ width:987px; border-top:7px solid #ededed; height:auto; overflow:hidden; margin-top:12px; margin-left:8px; padding:7px 0px 4px; color:#666666}
.link a{color:#666666; padding:0px 4px;}
.link a:hover{ color:#ff0000}
.bottom{ width:1000px; margin:0px auto; padding:20px 0px; height:auto; overflow:hidden; background:url(../images/footbg.png) left top repeat-x; text-align:center; position:relative; color:#d0e7fc}
.bottom a{ color:#d0e7fc; padding:0px 5px;}
.bottom a:hover{ text-decoration:underline;}
.banquan{ color:#71baf9}
.banquan a{ color:#71baf9;}

.lujin{ float:right; display:inline; padding-right:6px;font-weight:normal;font-size:12px;color:#999999; background:url(../images/sty1.png) left center no-repeat; padding-left:10px; text-indent:0px; font-family:"宋体"   }
.lujin a{ color:#999999;}
.lujin a:hover{ color:#f7040f;}
.right-m{ padding:10px 0px; height:auto; overflow:hidden;}
ul.news_list1{ margin:0px; padding:0px; overflow:hidden;}
ul.news_list1 li a{ color:#333333; display:block; width:100%; height:30px; line-height:30px; border-bottom:1px dotted #999999; overflow:hidden; text-indent:16px; background:url(../images/sty2.png) 5px center no-repeat; }
ul.news_list1 li a span{float: right;}
ul.news_list1 li a:hover{ color:#ff0000;}

.next2{text-align:center; padding-top:10px; line-height:30px; font-weight:normal;color:#333333; clear:both;}
.next2 a{ color:#333333; padding:3px 5px; background:#ffffff; border:1px solid #9f9f9e}
.next2 a:hover{ color:#ff0000;}
.date{ float:right; display:inline; color:#999999}

.right_news_detail{height:auto;overflow:hidden; }
.right_news_detail h1{ padding:7px 0px;text-align:center;font-size:16px; font-weight:bold;}
.right_news_detail .much{ height:28px; line-height:28px; text-align: center; color:#666666; background:#dfdfdf;}
.right_news_detail .much a{color:#ff0000;}
.next1{ height:auto; overflow:hidden;padding:10px 0px; font-size:12px; clear:both; border-top:1px solid #efefef; color:#666666}
.next1 li{ height:25px; line-height:25px;}
.next1 li a{ color:#666666}
.next1 a:hover{ color:#ff0000;}
.detail{ height:auto; overflow:hidden; padding:10px 0px; color:#666666  }

.relate{ margin:0px auto 0px; height:auto; overflow:hidden; width:100%; }
.relatetop{ height:34px; background:url(../images/titlebg1.jpg) left center no-repeat; font-size:14px; color:#fff; font-weight:bold; line-height:34px; text-indent:20px; margin-bottom:10px;}


ul.right_products{ margin:0px; padding-top:10px;}
ul.right_products li{ float:left; display:inline; margin:6px 5px 7px; width:169px; height: auto; overflow:hidden; text-align:center}
ul.right_products li img{width:159px; height:121px;vertical-align:top; border:5px solid #918e8e;  }
ul.right_products li .title{ line-height:27px; height:27px; background:#dad9d9; margin:1px auto 0px;}
ul.right_products li a{ display:block; color:#333333}
ul.right_products li a:hover img{border:5px solid #218ae5;}
ul.right_products li a:hover .title{ background:#0e81e5; color:#fff;}





.bigimg{ /*width:355px; height: auto; overflow:hidden; float:left; display:inline; margin-right:15px; margin-bottom:15px;*/}
.bigimg{height:313px;margin-bottom:20px;overflow: hidden;}

/*.bigimg img{width:345px; height:263px;vertical-align:top; border:5px solid #218ae5;}*/
.bigimg dt{ line-height:27px; height:27px; background:#0e81e5; color:#fff; margin:1px auto 0px; text-align:center}
/*.right_details{  height:auto; overflow:hidden;line-height:30px;}*/

/*.detailtop{ border-top:1px dotted #999999; width:100%; padding:7px 0px 0px; color:#0e81e5; font-size:14px; font-weight:bold; clear:both;}*/

.map{ margin:0px 0px; padding:10px 0px; height:auto; overflow:hidden; background:#fff;}
.maplist{ border-bottom:1px solid #d9d9d9; margin:0px 8px; height:41px; line-height:41px; overflow:hidden;}
.maplist dt{ width:79px; height:41px; float:left; font-family:"微软雅黑";font-size:14px; text-indent:-5px;display:inline; background:url(../images/maptop.jpg) left top no-repeat; text-align:center; line-height:41px; color:#2d2d2d}
.maplist dt a{ display:block; color:#2d2d2d}
.maplist dd a{ padding:0px 7px; color:#666666}
.maplist a:hover{ color:#ff0000;}


		.slideBoxb{ width:500px; height:313px; overflow:hidden; position:relative;float: left;}
		.slideBoxb .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; display:none; }
		.slideBoxb .hd ul{ overflow:hidden; zoom:1; float:left; display:none;  }
		.slideBoxb .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; display:none; cursor:pointer; }
		.slideBoxb .hd ul li.on{ background:#f00; color:#fff; }
		.slideBoxb .bd{ position:relative; height:100%; z-index:0; width:355px; height:313px; margin:0px auto; text-align:center;   }
		.slideBoxb .bd li{ zoom:1; vertical-align:middle; }
		.slideBoxb .bd img{ width:345px; height:263px; display:block;border:5px solid #218ae5; margin:0px auto; text-align:center; }
		.slideBoxb .bd h3{ width:345px; height:40px;line-height: 40px; }
			



		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBoxb .prev,
		.slideBoxb .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/prev.png) left no-repeat;}
		.slideBoxb .next{ left:auto; right:3%; background:url(../images/next.png) right no-repeat; }
		.slideBoxb .prevStop{ display:none;  }
		.slideBoxb .nextStop{ display:none;  }		   