<!-- 分享 -->  
<div class="newsclass">
<div class="share-con">
<div class="swiper-container thumbs-cotnainer">
		<div class="swiper-wrapper">
            <div class="swiper-slide"> <a title="{$global.Qzone.title}" href="javascript:void(0);" class="qqzone"><img src="{$global.Qzone.image}" width="60" height="60"><dt class=" title">{$global.Qzone.description}</dt></a></div> 
            <div class="swiper-slide"><a title="{$global.TCweibo.title}" href="javascript:void(0);"  onclick="postToWb();" class="qqweibo"><img src="{$global.TCweibo.image}" width="60" height="60"><dt class=" title">{$global.TCweibo.description}</dt></a></div> 
            <div class="swiper-slide"> <a title="{$global.baidu.title}" href="javascript:void(0);" class="baidusoucang"><img src="{$global.baidu.image}" width="60" height="60"><dt class=" title">{$global.baidu.description}</dt></a></div>
            <div class="swiper-slide"><a title="{$global.sinaweibo.title}" href="javascript:void(0)" class="xinlang"><img src="{$global.sinaweibo.image}" width="60" height="60"><dt class=" title">{$global.sinaweibo.description}</dt></a></div>  
		</div>
	</div>
</div>  
<div class="share-cance">取消</div>     
</div>
<!-- 分享End -->
<!-- 底部导航 -->
<div class="fixed public-bg1">
	<ul class=" box" id="box">
        <li><a href="#" id="class"><p class="fix_icon"><img src="{$site_url}icon/6.png" width="33" width="33"></p><p class="title">导航</p></a></li>
        {foreach name=bot item=bot from=$global.bottomnavs}
            {if $bot.type neq share}
            <li><a href="#"><p class="fix_icon"><img src="{$bot.image}" width="33" width="33"></p><p class="title">{$bot.name}</p></a></li>
            {else}
            <li><a href="#" id="share_btn"><p class="fix_icon"><img src="{$bot.image}" width="33" width="33"></p><p class="title">{$bot.name}</p></a></li>
            {/if}
        {/foreach}
    </ul>
</div>
<!-- 底部导航End -->
