@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; }
a{ color:#000;font-family: "微软雅黑"; }
a:hover{ color:#ff0000}
a img{ border:none;}
img{ vertical-align:top;}
#clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left;font-weight:normal;background:#f8f4e8;  line-height:24px; font-family: "宋体";  color:#252525;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}
i,em{font-style:normal;}


.wrapper{ width:100%; height: auto;overflow:hidden;margin:0 auto;  position: relative;}
.public{ width:1040px; height:auto; position:relative;margin-left:-493px; left:50%; z-index: }/*公用标签*/
.fl{ float:left; display:inline;}/*左浮动标签*/
.fr{ float:right; display:inline;}/*右浮动标签*/
.boxmain{ width:100%; height:auto; overflow:hidden;}/*模块公用*/
.border_3{border-bottom:3px solid #e3e3e3;}/**/
/*全局变量end*/

/*首页 开始*/
.header{height:166px;background: url(../images/h_bg.jpg) repeat-x; }
 
 
 .logo{height:162px;padding-left:24px; }
 .logo img{display:block;height:162px;}
	
.h_right{height:100%; margin-top:21px;padding-right:17px; }
.right_top{height:40px; overflow: hidden; width:480px; margin-left:250px;}
.tel{display: block; color: #fcf8d1; font-family: "微软雅黑";background: url(../images/dot2.png) no-repeat left ;padding-left:35px;font-size:16px; width:240px;height:100%; line-height: 20px; }
.tel a{display: block; font-size: 12px; color:#82926C;font-family: "宋体";}
.tel a:hover{color: #fcf8d1;}
.tel i{border-bottom: 1px solid #4d7140;}

 .search{height:27px; width:205px; padding-top:5px;}
 .search .text_01{width:176px;height:27px;display:inline;  float: left;margin-right:1px; outline-style:none; border:none; line-height:27px;text-indent:10px; color:#585858; background: url(../images/sr.png) no-repeat;}
 .search .submit_01{width:27px;height:27px;display: inline;  cursor:pointer;  background:url(../images/serc.png) no-repeat; outline-style:none; border:none;}

	.mune{height:43px;background:url(../images/mune.png) no-repeat; position:relative;z-index:99;width:750px;margin:25px 0 0 0; }
	.nav {padding:0;margin: 0; width: 100%; display: table;}
	 .nav .nLi{  position:relative; display:table-cell;}
		.nav .nLi  a{ display:block;font-size:13px;text-align:center; line-height: 20px;padding-top:5px;  color:#fff6d2; font-family:"微软雅黑";   }
		.nav .nLi  a em{font-size:8px; color:#465C3F; display: block; line-height: 10px;}
		.nav .sub{ display:none;width:100%; background: #1b361c; border:1px solid #395B37; left:0; top:42px;  position:absolute;   z-index:10;  line-height:40px; }
		.nav .sub li{ zoom:1; overflow:hidden; line-height:24px; padding:0 15px;}
		.nav .sub li a{ display:block;text-decoration:none; background: url(../images/re.png) no-repeat left center; overflow:hidden;font-family:"宋体";font-size: 12px;  font-weight:normal; color:#6D9E5A; height: 24px; overflow: hidden; }
		.nav .sub li a:hover{color:#fcf8d1;background: url(../images/re.png) no-repeat left center; }
		.nav .nLi  a:hover {background: url(../images/pim.png) no-repeat top center; }
		.current a{background: url(../images/pim.png) no-repeat top center;}

 
 
 .li_bg{background:url(../images/l_bg.png) no-repeat right; }
		/*焦点广告 开始*/
	
		.banner{width:100%; position:relative;height:460px;overflow:hidden;  background: url(../images/br.jpg) repeat; border-bottom: 1px solid #2C502C;}
		.slideBox{ width:1127px; background: url(../images/babg.png) no-repeat center;margin-left:-536px; position: relative;left:50%;margin-top:10px;}
		/*.slideBox .hd{overflow:hidden; position:absolute; right:50%; bottom:22px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:8px; height:8px;text-align:center;border:1px solid #E93B1F; border-radius:100%;cursor:pointer; }
		.slideBox .hd ul li.on{ background:#E93B1F;  color:#fff; }*/
		
		.slideBox .bd{position:relative;z-index:0;padding:10px;width:1026px; background: #ffffff;margin-left:-525px; position: relative;left:50%;}
		.slideBox .bd li{ zoom:1; vertical-align:middle; }
		.slideBox .bd img{ width:1026px; display:block; position:relative;height:418px;}
		
		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBox .prev,.slideBox .next{ position:absolute; left:25%; top:50%; display:block; width:34px; height:57px; background:url(../images/im_lg.png) 0px 0px no-repeat; z-index:99 filter:alpha(opacity=50);opacity:.5;   }
		.slideBox .next{ left:auto; right:25%; background-position:-34px 0px; }
		.slideBox .prev:hover,
		.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.slideBox .prevStop{ display:none;  }
		.slideBox .nextStop{ display:none;  }
		
		/*焦点广告 结束*/
		
	.content{background: url(../images/c_bg.jpg) repeat; height:auto; overflow: hidden; clear: both;}

	.content_top{height:340px; overflow: hidden; padding:25px 0;}
	.list_lf{width:165px;height:auto; overflow: hidden; background: url(../images/bei.jpg) no-repeat bottom; padding-bottom: 89px;}
	.list_lf ul{/*padding:0 10px;*/}
	.list_lf ul li{height:30px; line-height: 30px; background: url(../images/line.png) no-repeat bottom;padding-bottom: 20px;}
	.list_lf ul li a{line-height: 30px; display:block;background: url(../images/dot.png) no-repeat left; font-size: 14px; color: #f1f1b2;font-family: "微软雅黑";padding-left:35px;}
	.list_lf ul li a:hover{color:#ffffff;}

	.Village{width:550px; height:auto;padding:0 35px;}
	.c_title{height:45px; border-bottom: 1px dotted #5D724B;padding-left:33px;font-size: 18px; color: #fff2ba;font-family: "微软雅黑"; background: url(../images/dot2.png) no-repeat left; line-height: 40px; }
	.c_title i{ color: #9A9D73; font-family: "Arial"; font-size:12px;padding-left:8px;}
	.c_title .more{display:inline-block; float: right;margin-top:15px; width: 55px;height:20px; font-family: "Arial"; font-size:12px;background: url(../images/more.jpg) no-repeat;text-align: center;line-height: 20px; color: #fff2ba}
	.c_title .more:hover{color:#ffffff;}
	.Village_art {height:195px; overflow: hidden; padding:15px 0; color: #fff2ba; }
	.Village_art img{display: inline; float: left; width:162px;height:127px; border:8px solid #112f13;margin-right:10px;}

	ul.Village_list{height:77px; overflow: hidden;}
	ul.Village_list li{ line-height: 33px; }
	ul.Village_list li a{background: url(../images/lx.png) no-repeat left;border-bottom: 1px dotted #47613D;line-height: 33px; height:33px; overflow: hidden; width: 275px; color: #fff2ba; font-family: "宋体";display: inline-block; float: left;}
	ul.Village_list li a i{color:#52603f;}
	ul.Village_list li a:hover{color:#ffffff;}
	ul.Village_list li a:nth-child(2n){display: inline; float: right;}

	.video{width:252px; height:auto; overflow: hidden;padding:25px 0 0 0;}
	.video_img{width:238px;height:238px; border:7px solid #112f13;}
	.video_img img{display: block; height:238px;}
	
	.margin_15{margin-top:15px;}



	.products{height:auto; overflow: hidden;padding:0 0 25px 0;}
	.products .title{background: url(../images/t_bg.png) no-repeat center;height:30px; line-height: 15px; font-family: "微软雅黑"; font-size: 16px; text-align: center; }
	.products .title em{ font-size:12px; color: #464646; display: block; line-height: 15px;}
	
	.picMarquee-left{ width:100%; height:221px; overflow:hidden; position:relative;padding:20px 0;}
	
	.picMarquee-left .bd{padding:0px; }
	.picMarquee-left .bd ul{ zoom:1;height: 100% !important; }
	.picMarquee-left .bd ul li{ margin:0 14px; float:left;display:inline; position: relative; width:223px; text-align:center;  }
	.picMarquee-left .bd ul li a{ text-align:center;  color:#fff2ba; font-size: 14px; display:block; font-family: "微软雅黑"; }
	.picMarquee-left .bd ul li img{ width:209px; height:207px; border:7px solid #112f13;}

	.tempWrap{height: 100% !important;}

	.picMarquee-left .bd ul li  a:hover{color:#dc4724;  }
	.picMarquee-left .bd ul li  a:hover img{opacity: 0.8;}
	.picMarquee-left .bd ul li .case_title{display:block; line-height:25px; height:25px;overflow:hidden; }
	

		
		
		/*底部*/
		.footer{height:91px;padding:30px; clear:both; overflow:hidden;  background:url(../images/f_bg.jpg) repeat; color:#666666;}
		.footer img{display: inline; float: left; height:91px; overflow: hidden;}
		.footer_li{display:inline; float: left; padding:25px;color: #94946F;}
		.footer span a{color: #94946F;font-family: "宋体";}
		.footer span a:hover{color:#EAE0AB }
		.select1{display: inline;float: right;width:90px;height:20px;margin:50px 0 0 0;}
		/*首页 结束*/
	
	    /*关于我们 开始*/
		
		.left{width:232px; height:auto; overflow: hidden;padding:25px 0 25px 0; }

		.left .title{height:50px; padding:29px 0 0 0 ; font-size:18px;font-family: "微软雅黑";  color:#fff2ba; background: url(../images/qiu.jpg) no-repeat; }
		.left .title i{display:  block; line-height:23px;color: #757F59;font-family: "Arial"; font-size:12px;}
		.class{width:214px;padding:0 0 89px 0; border:1px solid #395B37;border-radius: 1px; background: url(../images/bei.png) no-repeat bottom #1b361c;}
		
		
		
		
		ul.first{margin:0;padding:15px 10px 15px 0;}
		ul.first li { height:auto; overflow: hidden;}
		ul.first li a{line-height: 15px; display:block;background: url(../images/1.png) no-repeat left; font-size: 14px; color: #f1f1b2;font-family: "微软雅黑";padding:0 0 35px 50px;}
		ul.first li a:hover{ color:#af2d2b;}
		ul.first .second{display: none;}
		ul.first .second li a{ background: url(../images/2.png) no-repeat left; }
		ul.first .second li a:hover{color:#970f0f;}
		ul.first.third{padding:0px; display: none;}
		ul.first .third li a{ background: url(../images/3.png) no-repeat left;text-indent: 45px; }
		ul.first .selected a{color: red;}

		.contacts{padding:25px 0;height:auto; overflow: hidden;}
		.contacts li{display: inline; float: left; padding:0 10px; background: url(../images/er.png) no-repeat right;}
		.contacts li a{ color: #f1f1b2;font-family:"微软雅黑";text-align: center; font-size:12px;}
		.contacts li a i{display: block; line-height: 15px; color: #7f7f7f;font-family: "Arial"; font-size:11px;}
		.contacts li a img{display: block; width:37px;height:37px; margin:0 auto;}
		.contacts li a:hover{opacity: 0.8;}
		.contacts li:nth-child(3){background: none;}

		.right{width:808px; height:auto; overflow: hidden; padding:50px 0 25px 0;}
		
		.article{color:#fff2ba; overflow: hidden;height:auto;padding:10px 0px; line-height:28px;font-family:"宋体"; font-size:12px;}
		
		.location{ float:right;height:30px;color:#8B9068;display:block; overflow:hidden; font-size:12px; line-height:30px; font-family:"宋体"; font-size:12px;}
		.location  a{color:#8B9068;font-family:"宋体"; font-size:12px; background: none;}
		.location em{color:#af2d2b;}
		.location  a:hover{color:#af2d2b;}
		
	/*	.more_fr{ width:170px;height:37px;margin:20px auto;}
		.more_fr a{display:block; background:#af2d2b; border-radius:5px;color:#fff; text-align:center; line-height:37px;}
		.more_fr a:hover{background:#2b3035;}*/
		
		/*关于我们 结束*/
		
		
		/*新闻列表开始*/
		.news_ls{ overflow:hidden;height:auto;padding:0 8px;}
		.news_ls li{ height:95px;  overflow:hidden; background: url(../images/n_line.png) no-repeat bottom; padding:10px 0;}
		.news_ls li a{text-indent:20px;color:#fcf8d1;line-height:40px; font-family:"宋体";display:block; font-size: 14px; font-weight: bold; background:url(../images/news1_03.png) no-repeat left;}
		.news_ls li a:hover{color:#E93B1F;}
		.news_ls li .date{display:inline; float:right; font-weight: normal; font-size: 12px; }
		.news_ls li .decript{height:50px; overflow: hidden; line-height: 24px; color: #fff2ba;}

		.news1_ls{ overflow:hidden;height:auto;padding:0 8px;}
		.news1_ls li{ height:120px;  overflow:hidden; background: url(../images/n_line.png) no-repeat bottom; padding:15px 0;}
		.news1_ls li .news1_tt{display: inline; float: right;width:645px;}
		.news1_ls li .news1_tt a{text-indent:20px;color:#fcf8d1;line-height:40px; font-family:"宋体";display:block; font-size: 14px; font-weight: bold; background:url(../images/news1_03.png) no-repeat left;}
		.news1_ls li .news1_tt a:hover{color:#E93B1F;}
		.news1_ls li .news1_tt .date{display:inline; float:right; font-weight: normal; font-size: 12px; }
		.news1_ls li .news1_tt .decript{height:50px; overflow: hidden; line-height: 24px; color: #fff2ba;}
	
		.news1_ls li .image{display: inline; float: left;}
		.news1_ls li .image img{display: block; width: 118px;height:110px; border: 5px solid #112f13;}
		.news1_ls li .image img:hover{opacity: 0.8;}
		ul.ny_news_list{ height:auto; overflow:hidden;}
		ul.ny_news_list li{ height:88px; border-bottom:1px solid #e5e5e5; padding:10px 0; overflow:hidden;}
		ul.ny_news_list .img{display:inline; float:left;width:141px; }
		ul.ny_news_list .img img{display:bolck; width:129px;height:76px;padding:5px; border:1px solid #d7d7d7;  background: #ffffff; }
		.news_right{ display:inline; float:right; width:534px; height:100%; overflow: hidden;}
		 .news_right h1 a{color:#1d1d1d; display:block;font-size:14px; line-height: 25px; font-family:"宋体"; }
		.news_right h1 a:hover{color:#E93B1F;}
		 .titil_01{ font-size:19px;display:block; line-height:24px;}
		 .article_01{ font-family:"宋体"; color:#434343; line-height:20px; height:40px; overflow: hidden;}
		ul.ny_news_list .img img:hover{opacity:.85;}
		.news_right .more_1{display: block; float: right; width:78px ;height:24px ; background: url(../images/cdm.png) no-repeat; text-align: center; line-height: 24px;}
		
		/*新闻列表 结束*/
		
		/*序号开始*/
		.munber{ width:100%; height:auto; overflow:hidden;  text-align:center; padding:20px 0;}
		.munber li{display:inline;  color:#999999;  margin:0 2px;}
		.munber li a{color:#808080;padding:2px 4px; background: #1b361c;}
		.munber li a:hover{ color:#ffffff;}
		/*序号结束*/
		
		/*新闻详情 开始*/
		.news_detail{ width:100%; height:auto;padding:10px 0; overflow:hidden;border-bottom:1px solid #19351A;}
		.news_detail  .Title{ font-size:14px;text-align:center; color:#fcf8d1; font-family:"宋体";  font-weight:bold;  height:35px; line-height:35px; overflow:hidden;}
		.news_detail .Time{  line-height:25px; color:#fff2ba;text-align:center; font-size:12px; padding-bottom:10px; }
		.news_detail .Time a{color:#fff2ba;padding-left:10px;}
		.news_detail .Time a:hover{color:#f16262;}
		/*.detail_news{ width:100%; height:auto; overflow:hidden;padding:10px 0; color:#666; line-height:30px;}*/

		.news_nr{ color: #fff2ba; font-family:"宋体";  line-height: 30px;border-top:1px solid #244D25;padding-top:16px;}
		
		.next_pre{ width:100%;color:#D7D7D7;  padding:20px 0;border-top:1px dotted #a5a39c;height:auto; overflow:hidden;}
		
		.next_pre a{color:#D7D7D7;font-family:"宋体";}
		.next_pre li a:hover{ color:#fff2ba;}
		
		/*新闻详情 结束*/
		
		/*产品列表开始*/
		
		
		.pro_list{padding:0 15px;margin:0;width:780px; overflow:hidden;}
		.pro_list  li{margin:15px 15px 15px 0px;float:left;display:inline; width:180px; overflow:hidden; text-align:center;  }
		.pro_list  li a{ text-align:center; color:#fff2ba; display:block;  font-family:"微软雅黑";overflow:hidden; position:relative; }
		.pro_list  li img{ width:170px; height:160px; border:5px solid #112f13; }
		.pro_list  li .case_title{display:block; line-height:30px; background:url(../images/op.png) repeat-x; width:100%; height:30px;overflow:hidden; }
		.pro_list  li  a img:hover{opacity:0.60;}
		.pro_list  li  a:hover{color:#fffeef;}

		
		/*产品列表结束*/
		
	
		/*产品详情开始*/
		.products_detail{ height:auto; overflow:hidden; margin:0 auto;}
		
		.products_detail h3{font-size:12px;  color:#fff2ba; line-height:36px; text-align:center; }
		.products_detail img{width:410px;margin:0 auto;height:;}
		.products_nr1{height:auto; overflow:hidden; color:#fff2ba; font-size:12px; line-height: 30px; width:100%;padding:10px 0; }
		.products_nr1 h4{ font-size: 14px; background: url(../images/bg.jpg) repeat-x bottom; line-height: 30px;font-weight:bold;}
		.products_nr1 p{padding:10px 0;}
		
		.dtBox{ width:667px; position: relative;margin:0 auto;padding:30px 50px 0 50px; overflow: hidden;}
		
		
		.dtBox .bd{padding:0; width: 454px; margin-right: auto;display: inline; float: left;}
		.dtBox .bd li{ zoom:1; vertical-align:middle; }
		.dtBox .bd img{ width:454px; display:block; position:relative;height:303px; border:5px solid #112f13; }
		
		/* 下面是前/dtBox */
		.dtBox .prev{ width:51px; height:52px; display: inline; float: left;background:url(../images/pre.png) 0px 0px no-repeat;margin:135px 35px 0 0; filter:alpha(opacity=50);opacity:.5;}
		.dtBox .next{  width:51px; height:52px; display: inline; float: right; background:url(../images/pre.png) -51px 0px no-repeat; z-index:99; filter:alpha(opacity=50);opacity:.5;margin:135px  35px 0 0 ;   }
	
		.dtBox .prev:hover,
		.dtBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		

		.search_ls{ overflow:hidden;height:auto;padding:0 8px;}
		.search_ls h3{ font-size: 14px; font-family: "微软雅黑";text-align: center;}
		.search_ls li{ height:28px;  overflow:hidden; background: url(../images/n_line.png) no-repeat bottom; padding:10px 0;}
		.search_ls li a{text-indent:20px;color:#fcf8d1;line-height:28px; font-family:"宋体";display:block; font-size: 14px; font-weight: bold; background:url(../images/news1_03.png) no-repeat left;}
		.search_ls li a:hover{color:#E93B1F;}
		.search_ls li .date{display:inline; float:right; font-weight: normal; font-size: 12px; }
		

