	<div class="heaer  public_bg">

    	<div class="logo"><img src="{$logo}" width="100%"></div>
    </div>
	
    <div class="baner">
	<div id="slideBox" class="slideBox">
    <div class="hd">
            <ul></ul>
     </div>
	<div class="bd">
		<ul>
			{foreach name=slidepics item=slidepic from=$global.slidepics}
            	<li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" /></a></li>
            {/foreach}
		</ul>
	</div>
	<div class="menu">
            	<div class="nav">
               <div class="swiper-nav swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide"><span><a href="index.html"><div class="english">ABOUT US</div>网站首页</a></span></div>
                  	{foreach name=navs item=nav from=$navs}
                    <div class="swiper-slide"><span><a href="{$nav.link}"><div class="english">{$nav.name}</div>{$nav.name}</a></span></div>
                    {/foreach}
                  </div>
				</div>
                </div>
    </div>
	 </div>
   </div>
 