<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
    // 跳转PC页面
    {if $site_another_url}
      if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection">
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link href="css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/public.css" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script src="js/TouchSlide.1.1.js"></script>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/share.js"></script>
<script src="js/idangerous.swiper-2.0.min.js"></script>
<script src="js/simple-app.js"></script>
</head>
<body>
<div class="body">
<!-- 隐藏导航 -->
{include file="./_header_hidenav.html"}
<!-- 隐藏导航End -->
<div class="wrap">
<!-- 底部导航 -->
{include file="./_footer.html"}
<!-- 底部导航End -->
<div class="index-wrap">
 <!-- 底部导航 -->
{include file="./_header.html"}
<!-- 底部导航End --> 
    <div class="main">
    	<div class="box-id">
        	<h1 class="public_bg public_border1"><span class="more-ny" id="first">分类<span id="down"> &darr;</span><span id="up"> &uarr; </span></span><div class="text public_bg"><a>{$list.name}</a></div></h1>
            <div class="hide-class">
              {foreach name=cnavs item=cnav from=$navs}
              {if $cnav.current and $cnav.childmenu}
                {foreach name=pagenavs item=nav from=$cnav.childmenu}
                <dl><a href="{$nav.link}">{$nav.name}</a></dl>
                {/foreach} 
              {/if}
              {/foreach}
          </div>
            <div class=" about-m">
            	<div class="font">
            	<dl class="big">大</dl>
                <dl class="normal">中</dl>
                <dl class="small">小</dl>
            	</div>
            	<div class="edite">{$list.content|unescape:"html"}

                </div>
                
            </div>
        </div>
    </div>
    {include file="./_footprint.html"}
</div>
</div></div>
</body>
</html>
