<div class="top">
    	<div class="logo"><img src="{$logo}" /></div>
    	<div class="baner">
        	<div id="myFocus"><!--焦点图盒子-->
  <div class="loading"></div><!--载入画面(可删除)-->
  <div class="pic"><!--图片列表-->
  	<ul>
        {foreach from=$index.slidepics item=list} 
        <li><a href="{$list.link}"><img src="{$list.image}" width="1003" height="301" /></a></li>
        {/foreach}
  	</ul>
  </div>
</div>
        </div>
        <div class="menu">
        <ul class="nav">
        {foreach name=key item=nav from=$navs}
        <li><a href="{$nav.link}" style="background:none;">{$nav.name}</a></li>
        {/foreach}
        </ul>

	</div>
    </div>