<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{$title}</title>
		<meta name="keywords" content="{$keywords}" />
		<meta name="description" content="{$description}" />
		<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/global.css" type="text/css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style.css" type="text/css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
		<script type="text/javascript" src="{$site_url}js/script.js"></script>
	</head>
	<body>
		<!-- 头部 -->
		{include file="./_header.html"}
		<!-- 文章列表 -->
		<section>
			<ul class="clearfix">
				{foreach name=article item=article from=$list.data}
				<li class="fl">
					<dl>
						<dt><a href="{$article.link}">{$article.title}</a></dt>
						<dd><a href="{$article.link}"><img src="{$article.image}" alt="{$article.title}" /></a></dd>
						<dd>{$article.description}</dd>
					</dl>
				</li>
				{/foreach}
			</ul>
			<!-- 分页链接 -->
			<ul class="clearfix fr">
				<li class="fl"><a href="{$page_links.first_url}">首页</a></li>
				<li class="fl"><a href="{$page_links.prev_url}">上一页</a></li>
				{foreach name=nears_url item=near_url key=near_page from=$page_links.nears_url}
				{if $near_page == $page_links.current_page}
					<li class="fl current"><a>{$near_page}</a></li>
				{else}
					<li class="fl"><a href="{$near_url}">{$near_page}</a></li>
				{/if}
				{/foreach}
				<li class="fl"><a href="{$page_links.next_url}">下一页</a></li>
				<li class="fl"><a href="{$page_links.last_url}">末页</a></li>
			</ul>
		</section>
		<!-- 底部 -->
		{include file="./_footer.html"}
	</body>
</html>