<header>
	<h1>{$title}</h1>
	<div>LOGO引用方式1：<img src="{$logo}" alt="{$title}" />调用数据库LOGO</div>
	<div>LOGO引用方式2：<img src="{$header.logo.image}" alt="{$header.logo.title}" />模板自定义LOGO</div>
	<nav>
		<ul class="clearfix">
			{foreach name=navs item=nav from=$navs}
			<li class="fl" style="{if $nav.current}background-color:#C7DBFF{/if}">
				<a href="{$nav.link}">{$nav.name}</a>
				{if $nav.childmenu}
					<ul class="clearfix">
						{foreach key=key item=nav_list from=$nav.childmenu}
						<li style="{if $nav_list.current}background-color:#B0CCFF{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
						{/foreach}
					</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
	</nav>
</header>