html {
	font-size: 80%;
}
@media only screen and (max-width: 1500px) {
	html { font-size: 62.5%; }
}

@media only screen and (max-width: 1300px) {
	html { font-size: 50%; }
}

@media only screen and (max-width: 1100px) {
	html { font-size: 40%; }
}

@media only screen and (max-width: 500px) {
	html { font-size: 30%; }
}

body {
	background-color: #FFF;
	-webkit-font-smoothing: antialiased;
}

header, section, footer {
	background-color: #FFF;
}

a, a:before {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #111;
}
a:hover {
	color: #dec7cd;
}

/* 公共类 */
.bgc {
	background-color: #FFF;
}

.tst-all {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.hover_mask {
	position: relative;
	display: block;
}
.hover_mask:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background: none;
}
.hover_mask:hover:before {
	background: rgba(255,255,255,0.4);
}

ul.list {
	margin: 15px -2px 0;
}
	ul.list li {
		position: relative;
		float: left;
		width: 50%;
		padding: 2px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	ul.list li .img img {
		width: 100%;
		height: auto;
	}
	ul.list li:hover .hover_mask:before {
		background: rgba(255,255,255,0.4);
	}
	ul.list li dl {
		position: absolute;
		top: 20%;
		left: 20%;
		right: 20%;
		bottom: 20%;
		padding: 10% 5%;
		background-color: #FFF;
		overflow: hidden;
	}
		ul.list li dl dt {
			font: 18px/24px "Microsoft Yahei";
			font: 1.8rem/2.4rem "Microsoft Yahei";
			color: #000;
			text-align: center;
		}
		ul.list li dl dd {
			margin-top: 10%;
			font: 14px/18px "Microsoft Yahei";
			font: 1.4rem/1.8rem "Microsoft Yahei";
			color: #666;
			text-align: center;
		}
			ul.list li dl dd.cat {
				margin-top: 0;
				margin-bottom: 10%;
				text-align: center;
			}
			ul.list li dl dd.cat a {
				font: 12px/14px "Microsoft Yahei";
				font: 1.2rem/1.4rem "Microsoft Yahei";
				letter-spacing: 0.2em;
			}
			ul.list li dl dd.more {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 3em;
				padding-bottom: 10%;
				background-color: #FFF;
			}
			ul.list li dl dd a.readmore {
				position: absolute;
				left: 15%;
				right: 15%;
				height: 3em;
				line-height: 3em;
				color: #555;
				border: 1px solid #b7b7b7;
			}
			ul.list li dl dd a.readmore:hover {
				background: #dec7cd;
				color: #FFF;
				border-color: #dec7cd;
			}


/* 引导图 */
#prepics {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}
#prepics h1 {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
	font: 80px/100px "Microsoft Yahei";
	color: #FFF;
	letter-spacing: 0.05em;
}
#prepics, #prepics .slides {
	width: 100%;
	height: 100%;
	z-index: -1;
}
#prepics .slides img {
	width: 100%;
	height: 100%;
}
#prepics .slides {
	position: absolute;
	top: 0px;
	left: 0px;
}
#prepics .slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2)
}
#prepics .slide .content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	color: #FFF;
}
	#prepics .slide .title {
		font: 24px/28px "Microsoft Yahei";
		color: #FFF;
		margin-bottom: 10px;
	}
		.slide .title a {
			color: #FFF;
		}
	#prepics .slide .excerpt {
		font: 14px/18px "Microsoft Yahei";
		color: #FFF;
	}

#prepics .flex-control-nav {
    bottom: 150px;
}
@media only screen and (max-height: 400px) {
    #prepics .flex-control-nav {
        display:none
    }
}

/* ↓图标 */
#prepics .down-btn {
    position: absolute;
    bottom: 2em;
    left: 50%;
	margin-left: -15px;
    color: #FFF
}
@media only screen and (max-width: 600px) {
    #prepics .down-btn {
        bottom:1em
    }
}
.down-btn {
    display: block;
    font-size: 36px;
	width: 36px;
    text-transform: none;
	text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 头部 */
header {
	position: relative;
	z-index: 100;
}
header .top {
	height: 60px;
	background: #f8f3f0;
	border-top: 3px solid #727272;
	border-bottom: 3px solid #f2e9e3;
}
header .head {
	padding: 80px 0;
}
	header .head h1 {
		width: 300px;
		margin: 0 auto;
		font: 48px/48px "Microsoft Yahei";
		text-align: center;
		letter-spacing: 0.1em;
	}
	header .head nav {
		width: 80%;
		margin: -48px auto 0;
	}
	header .head nav > ul > li {
		position: relative;
		padding: 0px 25px;
		margin: 0px 20px;
		letter-spacing: 0.2em;
	}
	@media only screen and (max-width: 1400px) {
		header .head nav > ul > li:nth-child(3) { float: right; }
		header .head nav > ul > li:nth-child(5) { display: none; }
		header .head nav > ul > li:nth-child(6) { display: none; }
	}
	@media only screen and (max-width: 1000px) {
		header .head nav > ul > li:nth-child(2) { float: right; }
		header .head nav > ul > li:nth-child(3) { display: none; }
		header .head nav > ul > li:nth-child(4) { display: none; }
	}
	@media only screen and (max-width: 600px) {
		header .head nav > ul > li:nth-child(1) { display: none; }
		header .head nav > ul > li:nth-child(2) { display: none; }
	}
	header .head nav > ul > li > a {
		font: 14px/5em "Microsoft Yahei";
		padding: 1em 0px;
		border-top: 3px solid transparent;
	}
	header .head nav > ul > li > a:hover { border-top-color: #e9eaeb; }
	header .head nav > ul > li:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -9px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 10px 9px;
		border-color: transparent transparent #f5f5f5 transparent;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		filter: Alpha(opacity=0);
		opacity: 0;
	}
		header .head nav > ul > li .nav-dropdown {
			position: absolute;
			min-width: 600px;
			min-width: 42vw;
			min-height: 200px;
			border-bottom: 3px solid #dec7cd;
			background-color: #f5f5f5;
			filter: Alpha(opacity=0);
			opacity: 0;
			visibility: hidden;
		}
		header .head nav > ul > li .nav-dropdown.onlycat { min-width:200px; min-width:15vw; }
		header .head nav > ul > li.fr .nav-dropdown {right: 0px;}
			header .head nav > ul > li:hover:before,
			header .head nav > ul > li:hover .nav-dropdown {
				filter: Alpha(opacity=100);
				opacity: 1;
				visibility: visible;
			}
		header .head nav > ul > li .nav-dropdown-subnavs,
		header .head nav > ul > li .nav-dropdown-lastest {
			width: 35%;
			padding: 1.6em;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		header .head nav > ul > li .nav-dropdown-lastest {
			width: 65%;
			margin-bottom: 1.6em;
			background-color: #EEE;
		}
		header .head nav > ul > li .onlycat .nav-dropdown-subnavs { width: 100%; }
		header .head nav > ul > li .onlylist .nav-dropdown-lastest { width: 100%; }
			.nav-dropdown-subnavs > ul > li {
				height: 40px;
				margin-bottom: 1px;
				background-color: #FFF;
			}
			.nav-dropdown-subnavs > ul > li > a {
				display: block;
				line-height: 40px;
				padding-left: 1em;
			}
			.nav-dropdown-lastest dl {
				width: 33%;
				margin: 0 .15%;
				background-color: #FFF;
			}
			.onlylist .nav-dropdown-lastest dl { width: 19.8%; margin: 0 .1%; }
			.nav-dropdown-lastest dl:hover { background-color: #727272; }
			.nav-dropdown-lastest dl:hover a { color: #FFF; }
			.nav-dropdown-lastest dl dt {
				padding: 20px 10px;
				line-height: 24px;
				font-weight: bold;
				text-align: center;
			}
			.nav-dropdown-lastest dl dd.cat a {
				display: block;
				line-height: 40px;
				text-align: center;
			}
			.nav-dropdown-lastest dl dd .img {
				display: block;
				overflow: hidden;
				text-align: center;
				height: 250px;
				height: 30vh;
			}
			.nav-dropdown-lastest dl dd .img img {
				height: 100%;
			}

/* 最新产品 */
#lastest .lastest-container {
	width: 80%;
	margin: 0 auto;
	padding-top: 1em;
}
#lastest h2 {
	height: 3px;
	background-color: #EEE;
	line-height: 1px;
}
	#lastest h2 span {
		display: block;
		width: 120px;
		margin: -.6em auto 0;
		font: 700 12px/3px "Microsoft Yahei";
		letter-spacing: 0.5em;
		color: #666;
		text-align: center;
		white-space: nowrap;
		word-break: keep-all;
	}

/* 热门产品 */
#hots {
	padding: 40px 0 25px;
}
#hots .hots-container {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	background-color: #dadada;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#hots ul {
	padding: 20px 10px;
	background-color: #FFF;
}
	#hots ul li {
		width: 18%;
		margin: 0px 1%;
	}
	#hots ul li .img {
		overflow: hidden;
	}
	#hots ul li .img img {
		width: 100%;
	}

/* XXX栏目 */
#list1 {
	background-color: #f1f1f1;
	padding: 25px 0;
}
.list-container {
	width: 80%;
	margin: 0 auto;
	background-color: #FFF;
}
.list-content {
	border-left: 10px solid #dec7cd;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}
.list-title {
	width: 25%;
	padding: 50px 20px;
	text-align: center;
}
	.list-title h2 {
		font: 24px/32px "Microsoft Yahei";
		color: #666;
		margin-bottom: 30px;
	}
	.list-title em {
		display: block;
		font: 10px/14px "Microsoft Yahei";
		color: #999;
		margin-bottom: 20px;
	}
	.list-title a.readmore {
		display: block;
		width: 60%;
		height: 40px;
		margin: 0 auto;
		line-height: 40px;
		color: #555;
		border: 1px solid #b7b7b7;
		text-align: center;
		overflow: hidden;
	}
	.list-title a.readmore:hover {
		background: #dec7cd;
		color: #FFF;
		border-color: #dec7cd;
	}
.list-content > ul {
	width: 75%;
}
	.list-content > ul > li {
		width: 24.6%;
		margin: 1px .2%;
	}
	.list-content > ul > li img {
		width: 100%;
	}
#list2 {
	background-color: #FFF;
	padding: 25px 0;
}
#list2 .list-container {
	background-color: #f1f1f1;
}
	#list2 .list-title h2 {
		color: #333;
	}


/* 底部 */
footer {
	padding-top: 20px;
}

/* ↓图标 */
.up-btn {
    display: block;
    font-size: 36px;
	width: 36px;
	margin: 0 auto;
    text-transform: none;
	text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
footer .up-btn {
	width: 100px;
	margin: 0 auto;
	text-align: center;
}
footer .up-btn em {
	display: block;
    font-size: 14px;
	letter-spacing: 0.1em;
}
footer nav {
	margin-top: 50px;
	padding: 30px 0px;
	background-color: #111;
}
	footer nav h1 {
		width: 300px;
		margin: 0 auto;
		font: 48px/48px "Microsoft Yahei";
		text-align: center;
		letter-spacing: 0.1em;
	}
	footer nav h1 a {
		color: #FFF;
	}
	footer nav h1 a:hover { color: #FFF; }
	footer nav > ul {
		width: 80%;
		margin: -48px auto 0;
	}
	footer nav > ul > li {
		position: relative;
		padding: 0px 25px;
		margin: 0px 20px;
		letter-spacing: 0.2em;
	}
	footer nav > ul > li > a {
		font: 14px/5em "Microsoft Yahei";
		padding: 1em 0px;
		border-top: 3px solid transparent;
		color: #DDD;
	}
	footer nav > ul > li > a:hover { color: #DDD; border-top-color: #e9eaeb; }
	footer nav > ul > li:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -9px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 10px 9px;
		border-color: transparent transparent #f5f5f5 transparent;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		filter: Alpha(opacity=0);
		opacity: 0;
	}

footer .copyright {
	padding: 15px 0px;
	background-color: #1b1b1b;
}
footer .copyright p {
	width: 80%;
	margin: 0 auto;
	font: 10px/20px "Comic Sans MS";
	color: #6C6C6B;
}