@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color:#666; text-decoration:none}
a:hover{color:#026fc1;}
a img{ border:none;}
table{border-collapse:collapse; border-spacing:0px;}
html{overflow-x:hidden;}
body{font-size:12px;font-family:'微软雅黑',arial;color:#666;overflow-x:hidden;background:#eff2f5;}
ul,dl{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;font-weight:normal;}
p{line-height:25px;}
.header{width:100%;background:url(../images/header_bg.png) repeat-x;}
.header .container{width:1000px;height:97px;margin:0 auto;}
.logo{width: 403px;height: 86px;padding: 5px 0 6px;float: left}
.logo a{display: block;width: 403px;height: 86px;}
.home{width: 150px;height: 30px;line-heigth:30px;display: block;float: right;text-align: right;padding: 32px 0 33px;}
.home a{display: inline-block;line-height: 30px;}
.fl{ float:left; display:inline;}
.nav-box{behavior:url(js/pie.htc);}
.nav-box{height:43px;box-shadow:0px 3px 5px 0 #2b5e9d;line-height:43px;background:url(../images/nav_bg.png) repeat-x;position:relative; z-index:5;}
.nav-box .fixed{width:1000px;margin:0 auto;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.nav{ margin:0 auto;float:left; width:730px;}
.nav a{ width:112px;color:#fff;display:block; text-align:center;}
.nav .nLi{ float:left;  position:relative; display:inline;}
.nav .nLi h3{ float:left;padding-right:2px;background:url(../images/nav_li.png) no-repeat right top;}
.nav .nLi h3 a{font-size:14px;}
.nav .nLi h3 a:hover,.nav .on h3 a{color:#fff;background:url(../images/nav_hover.png) no-repeat left center;}
.nav .sub{ display:none; width:100%; left:0; top:43px;background:#2960a3;position:absolute;line-height:25px;}
.nav .sub li{ zoom:1;}
.nav .sub a{color:#b3d5ff;}
.nav .sub a:hover{ background:#1e4d87;color:#fff;}
.nav-box .tel{float:right;font-size:20px;color:#fff;line-height:normal;padding-top:10px;}
.nav-box .tel span{font-size:14px;color:#d0e5ff;margin-right:5px;position:relative;top:-2px;}



.banner{ width:1920px; margin-left:-960px; left:50%; position:relative; height:359px;  overflow:hidden; }
.slideBox{ margin:0px auto; height:359px; overflow:hidden; position:relative; text-align:center;   }
		.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:50%; bottom:5px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#f00; color:#fff; }
		.slideBox .bd{ width:100%; height:auto; }
		.slideBox .bd li{ zoom:1; vertical-align:middle; }
		.slideBox .bd img{  height:359px; }


.content{background:url(../images/content_bg1.png) repeat-x;margin-top:3px;overflow:hidden;}
.content .container{width:1000px;margin:0 auto;overflow:hidden;background:url(../images/content_bg2.png) no-repeat;padding-top:30px;}
.aside{width:250px;float:left;overflow:hidden;background:#fff;padding-bottom:15px;}
.aside h4{color:#fff;height:52px;width:240px;padding:10px 0 0 10px;position:relative;background:url(../images/aside_tit.png) no-repeat;}
.content h4 .more-btn{display:block;width:66px;height:23px;position:absolute;right:10px;top:20px;background:url(../images/more.png) no-repeat;}
.aside h4 strong{font-size:18px;font-weight:normal;}
.aside h4 span{font-size:14px;color:#63b9e8;}
.content .aside .list{line-height:34px;margin-top:12px;padding:0 10px;}
.content .aside .list li a{display:block;color:#42444b;}
.content .aside .list   a{font-size:14px;text-indent:20px;border-bottom:1px solid #ddd;background:url(../images/list_arrow.png) no-repeat 7px center;}
.content .aside .list a:hover,.content .aside .list  a.selected{color:#026fc1;}
.content .aside .list  a:hover,.aside .list   a.selected{background-image:url(../images/list_hover.png)}
.content .aside li dl a{color:#666;text-indent:23px;}
.content .aside .list li li a{ background:none;}
.content .aside .list li li a:hover{ background:none;}

.content .main{float:right;overflow:hidden;width:732px;background:#fff;padding-bottom:26px;}
.main h4{color:#fff;line-height:38px;width:717px;padding-right:15px;height:38px;text-indent:36px;background:url(../images/main_tit.png) no-repeat;margin-bottom:25px;}
.main h4 .more-btn{position:static;float:right;margin-right:15px;margin-top:10px;background-image:url(../images/more_btn2.png);}
.main h4 span{float:left;font-size:18px;}
.main h4 strong{ text-indent:0px; font-weight:normal;}

.main .picList{/*min-height:460px;_height:460px;*/padding-left:2px;overflow:hidden;;clear:both;/*padding-bottom:26px;*/}
.main .picList li{float:left;display:inline;width:164px;text-align:center;margin:0 9px;}
.main .picList .pic img{padding:2px;border:1px solid #ddd;}
.main .picList .pic a:hover img{border-color:#026fc1;}
.main .picList .title a{font-family:'宋体';color:#333;line-height:42px;}
.main .picList .title a:hover{color:#026fc1;}

.main h4 strong{float:right;color:#026fc1;}
.main h4 strong a{color:#026fc1;font-weight:normal;}
.main h4 strong a:hover{text-decoration:underline;}
.content .num{clear:both;margin:40px 0 11px;text-align:center;}
.content .num a{padding:2px 6px;color:#888;position:relative;background:#dfdfdf;font-family:'宋体';}
.content .num span{position:relative;top:2px;}
.content .num a:hover,
.content .num a.selected{background:#026fc1;color:#fff;}

.pro-det .infos,.about .infos{padding:0 22px;overflow:hidden;}
.pro-det .pro-pic img{float:left;display:block;padding:2px;border:1px solid #ddd;margin-right:25px;}
.pro-det .infos  dl{float:left;color:#666;line-height:30px;}
.pro-det .infos h2.tit{clear:both;font-size:16px;color:#e5222a;margin:40px 0 20px;}
.pro-det .infos p{font-family:'宋体';margin-left:3px;color:#333;text-indent:24px;line-height:30px;}

.pro-det .infos #goleft,
.pro-det .infos #goright{font-family:'宋体';font-size:50px;color:#999;position:absolute;top:10px;left:0px;cursor:pointer;z-index:3}
.pro-det .infos #goright{left:auto;right:0px;}
.pro-det .infos #goright:hover,
.pro-det .infos #goleft:hover{color:#217fbd;}

#showArea  ul{width:400px;height:77px;}
#showArea  ul li{width:77px;float:left;}
#mainphoto{display:black;float:left;margin-right:25px;}
.pro-det .infos .pic{margin-bottom:12px;overflow:hidden;}
.pro-det .infos .Xgt{clear:both;position:relative;padding:0 26px;}
.pro-det .infos li{float:left;display:inline;width:77px;margin:0 5px;}
.pro-det .infos li img{width:71px;padding:2px;border:1px solid #ddd;display:block;}

.footer{width:100%;clear:both;color:#fff;line-height:24px;margin-top:34px;background:#2a5f9f url(../images/footer_bg.png) repeat-x;}
.flink{width:1000px;text-align:center;font-family:'宋体';line-height:70px;margin:0 auto;}
.flink span{margin:0 18px;}
.flink a{color:#fff;}
.flink a:hover{text-decoration:underline;}
/*关于我们*/
.about .infos{font-family:'宋体';}
.about .infos h2.tit{font-weight:bold;margin-bottom:30px;}

.map .container{width:1000px;border-bottom:1px solid #a0c9e8;}
.map ul{height:auto;clear:both;overflow:hidden;_height:50px;_overflow:visible;border:1px solid #a0c9e8;border-bottom:none;}
.map li{float:left; display:inline;margin-right:12px;line-height:40px;_line-height:55px;}
.map li h4{font-size:14px;font-family:'微软雅黑';color:#333;background:#e3e3e3;line-height:100%;width:72px;text-align:center;}
/*.map li .first-menu a:hover{color:#1f1d1d}*/
.map li a{font-family:'宋体';color:#333;}
.map li dl dd{line-height:normal;margin-bottom:15px;}
.map li dl a{color:#ee4339;}
.map li a:hover,.map li dl a.selected{color:#026fc1}




.menu{ margin:0px auto; width:1000px;}
.news-list{overflow:visible;padding:0 20px;}
.news-list li a{height:27px;line-height:27px; border-bottom:1px dotted #ccc; display:block;}
.news-list span{float:right;}
.module_page{ width:100%;  line-height:20px;margin-top:30px;text-align:center; height:30px; clear:both;}
.module_page a{ text-decoration:none; color:#333333; /*color:#0c2d63;*/color:#333333; background:#eeeeee; padding:3px 4px;}
.module_page span{ padding-left:20px; padding-right:20px;}
.module_page a:hover{ text-decoration:none; color:#fff; background:#0c9df5}
.module_page  select{ margin-left:5px; color:#000;}










.main h5{color:#d10d00;font-weight:bold;font-size:14px;height:36px;line-height:36px;}
.main .time{height:28px;line-height:28px;}
.main  .other{clear:both;border-top:1px dashed #d4d4d4;line-height:24px;padding-top:10px;}

.details{ padding:10px;}


.main .pro-pic{display:block;float:left;width:351px;height:231px;padding:10px;margin:0 20px 16px 0;background:url(../images/pro_det.png) no-repeat;}
.main .pro-det dl{margin:left;padding-top:10px;line-height:24px;}
.main .pro-det dl dt{color:#d10d00;}
.main .pro-det h1{clear:both;font-weight:bold;margin-bottom:5px;color:#d10d00;}

.second{ display:none;}