/* CSS Document */
/*全局变量start*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; }
a{ color:#535353}
a:hover{ color:#0073bd}
a img{ border:none;}
img{ vertical-align:top;}
#clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; font-weight:normal; line-height:24px; font-family: Arial, Helvetica, sans-serif,"宋体";  color:#686868; background:#edf2f6;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}


.wrap{ width:100%; height: auto;overflow:hidden;  position: relative; min-width:1283px;min-height: 800px;}
.public{ width:1003px; height:auto; overflow:hidden; margin:0px auto; position:relative;}/*公用标签*/
.fl{ float:left; display:inline;}/*左浮动标签*/
.fr{ float:right; display:inline;}/*右浮动标签*/
.boxmain{ width:100%; height:auto; overflow:hidden;}/*模块公用*/
/*全局变量end*/

/*首页start*/
/*.indexwrap{width: 1283px;height:879px;overflow: hidden;}*/
.aside{width: 175px;/*height:825px;*/background: url(../images/asidebg.jpg) left repeat-y;padding: 40px 0 40px 40px;margin-right: 40px;position:fixed;left:0;height:100%;min-height: 800px;}
.logo{width:158px;height: 80px;margin-bottom:20px; }
.menu{width: 158px;}
.menu .nav{}
.menu .nav li{width: 175px;height: 63px;margin-bottom: 20px;font-family: Microsoft YaHei;}
.menu .nav li a{display: block;text-align: center;padding-right: 20px;font-size: 14px;color: #4d4d4d;line-height: 20px;height:51px;padding-top: 12px; }
.menu .nav li a span{display: block;table-layout:fixed; word-break: break-all; overflow:hidden;color: #6a6a6a;font-size: 12px;line-height: 15px;}
.menu .nav li a:hover{background: url(../images/navli.png) no-repeat;color: #fff;}
.menu .nav li a:hover span{color: #fff;}
.search{padding: 30px 12px 10px;width: 135px;height: 24px;overflow: hidden;}
.searchbox{width: 97px;border: 1px solid #cdcdcd; height: 22px;line-height: 22px;padding-left: 5px;color: #ccc;float: left;}
.searchbtn{width: 31px;height: 24px;border: none;background: #426db1 url(../images/searchicon.png) center no-repeat;float:left;}
.contact{width:162px;height: 52px;}
.contact dl{width:55px;background: url(../images/tel.jpg) left center no-repeat; margin: 0 auto;padding-left: 20px;color: #030303;line-height: 30px;}
.contact dt{font-size: 20px;color: #fe9216;text-align: center;}
/*首页右边内容*/
.contain{/*width: 1028px;*/overflow: hidden;width: 78%;min-width: 1028px;margin-left: 255px;}
/*banner*/
.banner{/*width:1028px; */height:432px; position:relative;overflow: hidden;width: 100%;}
.slideBox{/* width:1028px;*/ height:432px; position:relative;margin-bottom: 20px;width: 100%;text-align: center;}
.slideBox .hd{display: none;;width:100%;height:7px; overflow:hidden; position:absolute; bottom:17px; z-index:100; }
.slideBox .hd ul{ overflow:hidden; zoom:1;width:219px;margin: 0 auto;}
.slideBox .hd ul li{ float:left; margin:0 6px;width:57px; height:3px;  cursor:pointer;border: 2px solid #ececec; }
.slideBox .hd ul li.on{  border: 2px solid #2e4d82; background: #2e4d82;}
.slideBox .bd{ position:relative; height:100%; z-index:10; }
.slideBox .bd ul{ position:relative; height:100%;  }

.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{height:432px; /*width:1028px;  display:block;*/}

.incontent{margin: 20px 0 40px;overflow: hidden;}
.pro{height: 116px;background: #fff;overflow: hidden;padding: 16px 8px;margin-bottom: 20px;}
/*.pro ul li{width: 136px;float: left;margin:0 6px;}*/


.photos {position: relative;margin: 0 auto;}
.photos .photos-button {display: none;position: absolute;top: 40px;width: 57px;height: 102px;z-index: 10;}
.photos .photos-prev {display: none;left: -5px;background: url(images/photos-prev.png) no-repeat;}
.photos .photos-next {display: none;right: -18px;background: url(images/photos-next.png) no-repeat;}

.photos .photos-content {margin: 0 auto;}
.photos .photos-content li {margin: 0 11px;float: left;}
.photos .photos-content li a{display: block;width: 132px;height: 114px;border: 1px solid #e2e2e2;}
.photos .photos-content li img {width: 132px;height: 114px;}
.photos .photos-content li a:hover {border-color: #ff001b;}





.row{/*height:180px;*/overflow: hidden;height: auto}
.row .news{/*width: 322px;*/overflow: hidden;width: 32%;}
.news h1{background: url(../images/newsico.jpg) left center no-repeat;padding-left: 28px;}
.title{height: 30px;line-height: 30px;font-size: 14px;font-family: Microsoft YaHei;color: #686868;margin-bottom: 10px;}
.title span{padding-left: 5px;font-size: 12px;color: #7f7f7f;}
.more{display:inline-block;width: 32px;height: 20px;background: url(../images/more.jpg) center no-repeat;float: right;margin: 5px 0;}
.newsbox{height:140px; }
/*ul.tab{width: 80px;float: left;margin-right: 10px;font-family: Microsoft YaHei;font-size: 14px;}
ul.tab li{width: 80px;height: 30px;line-height: 30px;margin-bottom: 5px;color: #484848;}
.tabbd{width: 230px;float: right;}
.tabbd{}*/


#tabs1 { text-align:left;/* width:322px;*/height: 136px;overflow: hidden;padding-top:3px;} 

.menu1box { position:relative; overflow:hidden;/* width: 80px;*/width:26%;min-height:80px;height: 136px; text-align:left;float: left;margin-right: 10px; } 
#menu1 {/*width: 80px;*/width:100%;min-width: 80px; position:absolute; top:0; left:0; z-index:1; } 
#menu1 li {display:block; cursor:pointer; width: 100%;min-width: 80px; text-align:center; line-height:30px; height:30px;background: #c2cdd3;font-size: 14px;font-family: Microsoft YaHei;margin-bottom: 5px;color: #484848; } 
#menu1 li a{display: block;color: #484848; }
#menu1 li.hover { background:#5682c1;}
#menu1 li.hover a{color: #fff;}
/*#menu1 li a:hover{background:#5682c1;color: #fff;}*/

.main1box {/* width: 230px;*/width:70%;float: right;/*clear:both;*/ height:136px;border-left:1px dotted #c4c9cd;border-bottom:1px dotted #c4c9cd; } 
#main1 ul { display: none; } 
#main1 ul.block { display: block; } 
#main1 ul li{width:100%;background: url(../images/lidot.jpg) 5px center no-repeat;padding-left: 15px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;border-bottom: 1px dotted #c4c9cd;line-height: 33px;}







/*网络营销*/
.row .net{/*width:342px;*//*height:180px;*//*margin: 0 12px;*/width:32%;margin:0 1.5%;height:180px;border-left: 1px solid #c4cbd1;border-right: 1px solid #c4cbd1;background: url(../images/map.jpg) top center no-repeat;position: relative;}
.nettit{height: 50px;/*padding:0 30px;*/position: absolute;bottom:0;font-family: Microsoft YaHei;width: 80%;padding: 0 10%;}
.nettit h1{width: 200px;float: left;font-size: 16px;color: #940000;}
.nettit h1 span{display: block;font-size: 12px;}
.nettit a{float: right;color: #3d3d3d;line-height: 60px;}
.nettit a:hover{text-decoration: underline;}
/*关于我们*/
.row .about{/*width: 330px;*/overflow: hidden;/*margin-right: 8px;*/width:32%; }
.about h1{background: url(../images/aboutico.jpg) left center no-repeat; padding-left: 32px;}
.about .aboutimg{width: 330px;height: 54px;margin-bottom: 5px;}
.aboutnr{height: 72px;overflow: hidden;}

/*底部*/
.footer{height: 24px;padding: 20px 0 19px;border-top: 1px solid #c4cbd1;overflow: hidden;}
.selectbox{float: right;width: 100px;}

/**********************************************************/
/*内页*/
.top{height: 36px;background: #363636;}


/*头部标签*/
.header{width: 1003px;height: 126px;margin: 0 auto;position: relative;}

.nylogo{width: 474px;height: 126px;margin: 0 auto;}
.nylogo a{display: block;width:474px;height: 126px;}
.header .search{position: absolute;bottom: 30px;right: 30px;}


/*menu*/
.nymenu{width:100%;height: 37px;border-top: 5px solid #edf2f6;background: #fff;border-bottom: 1px solid #d4d4d3;position: relative; }
.nymenu>ul{width:1003px;height:42px;position: absolute;left: 50%;margin-left: -501px;top: -5px;}
.nymenu>ul>li{width:143px;height: 42px;line-height:50px;float: left;position: relative;text-align: center;}
.nymenu>ul>li>h3{width: 107px;margin: 0 18px;}
.nymenu>ul>li>h3>a{display: block;width:107px;text-align: center;font-size: 14px;color: #4d4d4d;font-family: Microsoft YaHei;}
.nymenu>ul>li>h3>a:hover{background: #426db1;color: #fff;}
.on h3{background: #426db1;}
.on h3 a{color: #fff !important;}
/*.menu>ul>li>h3>a:hover{background: url(../images/hoverbg.png) repeat-x;}*/
.sub{ display:none; width:107px; position:absolute;background:#426db1;/* left:18px; */line-height:26px;z-index: 100;top: 45px;left: 18px;  }
.sub li{ zoom:1;text-align: center;height:26px;}
.sub a{ display:block;color: #f4f4f4;background: #426e9d; }
.sub a:hover{ background:#2e549b;  }

/*大图标签*/
.nybanner{width: 100%;position:relative;}
.nybanner .slideBox{ width:1500px; height:244px; position:relative;left: 50%;margin-left: -750px;}
.nybanner .slideBox .hd{display: none;;width:100%;height:7px; overflow:hidden; position:absolute; bottom:17px; z-index:100; }
.nybanner .slideBox .hd ul{ overflow:hidden; zoom:1;width:219px;margin: 0 auto;}
.nybanner .slideBox .hd ul li{ float:left; margin:0 6px;width:57px; height:3px;  cursor:pointer;border: 2px solid #ececec; }
.nybanner .slideBox .hd ul li.on{  border: 2px solid #2e4d82; background: #2e4d82;}
.nybanner .slideBox .bd{ position:relative; height:100%; z-index:10; }
.nybanner .slideBox .bd ul{ position:relative; height:100%;  }

.nybanner .slideBox .bd li{ zoom:1; vertical-align:middle; }
.nybanner .slideBox .bd img{ width:1500px; height:244px; display:block;}

/*.nybanner .slideBox{height: 279px;}
.nybanner .slideBox .bd img{  height:279px; display:block;}*/

/*内容区域标签*/
.content{width:973px;height:auto;position: relative;margin: 25px auto;overflow: hidden;padding: 0 20px 0 10px;}



/*关于我们*/

/*left*/
.nyfoot{width: 983px;margin: 0 auto;padding: 0 10px;}
.ny-left{width: 195px;padding-right: 20px;margin-right: 16px;border-right:1px solid #c4cbd1;overflow: hidden;}
/*.menuwrap{width: 216px;background: #3f6b9c;font-family: Microsoft YaHei; padding-left:15px; overflow: hidden;}
*/
/*.nymenu{width: 214px;background: #fff;border: 1px solid #d0d7df;overflow: hidden;}*/
.nysidebar{margin-bottom: 20px;overflow: hidden;}
.sidebar-tit{height: 14px;line-height:14px;font-size: 14px;color:#686868;margin-bottom: 25px;border-left: 6px solid #426db1;padding-left: 12px;font-family:Microsoft YaHei;font-size: 14px;color: #686868;}
.sidebar-tit span{font-size: 12px;padding-left: 5px;color: #7f7f7f;}
.first{/*padding: 10px 0 10px 28px;*/}
.first>li{margin-bottom: 8px;}
.first>li>a{display: block;border-bottom: 1px solid #d0d0d0;font-size: 14px;color: #0073bd;}
.first>li>a>span{display: block;color: #636363;height:28px;line-height: 28px;padding-left:45px;font-size: 14px;background: url(../images/arrow.png) 178px center no-repeat;border-radius: 4px;-webkit-border-radius: 4px;}
.first>li>a:hover span{color: #fff;background: #426db1 url(../images/arrowhover.png) 178px center no-repeat;margin-bottom: 8px;}
.second{margin-left: 30px;display: none;}
.second>li>a{display: block;border-bottom: 1px dashed #ccc;line-height: 28px;color: #0073bd;background: url(../images/sarrow.png) left center no-repeat;padding-left: 15px;}
.second>li>a:hover{background: url(../images/arrowd.png) left center no-repeat;}
.three{margin-left: 10px;display: none;}
.three li{border-bottom: 1px dashed #ccc;padding: 5px; }
.three li a{line-height: 28px;background: url(../images/sarrow.png) left center no-repeat;padding-left: 15px;}
/*.second li a{ line-height:26px;color: #676767;background: url(../images/sidebardot.jpg) 5px center no-repeat;padding-left: 15px;}
.second li a:hover{color: #6484ab;}*/
.sideitem{height: 55px;padding:25px 0 0 106px;font-family: Microsoft YaHei;}
.nycontact{background: url(../images/tel.png) 32px center no-repeat;border-bottom: 1px dotted #ccc;}
.sideitem dl{font-size: 14px;line-height: 20px;}
.sideitem dt{line-height: 12px}
.nyserve{background: url(../images/server.png) 32px center no-repeat;}



/*right*/
.ny-right{width: 735px;overflow: hidden;}
/*.ny-right .right-tit{height: 40px;background: url(../images/shadow.png) bottom repeat-x;overflow: hidden;}*/
.ny-right h1{height: 22px;line-height: 22px;background: url(../images/abouticon.png) left center no-repeat;padding-left: 20px;color: #686868;font-size: 14px;font-family: Microsoft YaHei;margin-bottom: 20px;}
.ny-right h1 span{font-size: 12px;color:#7f7f7f;}
.ny-right h1 .location{display: inline;float: right;font-size: 12px;font-family: "宋体";}
.ny-right h1 .location a{color: #494745;background:url(../images/arrow.png) left center no-repeat;padding-left: 15px;margin: 0 10px;}
.ny-right h1 .location a:hover{text-decoration: underline;}

.ny-right h1 span a:hover{color: #129501;text-decoration: underline;}
.edit{color: #555;padding:0 10px;line-height: 26px;}

/*news*/

ul.news-list{padding: 10px 0 20px;overflow: hidden;}
ul.news-list li{border-bottom: 1px dashed #ccc;line-height: 30px;background: url(../images/lidot.jpg) left center no-repeat;padding-left: 10px;}
ul.news-list li a{color: #494745;}
ul.news-list li a:hover{color:#0073bd;}
ul.news-list li a span{float: right;}
/*.page{ padding: 20px 0 10px; text-align: center;}
.page a{margin: 0 5px;color:#555;padding: 2px 4px;background: #dfdfdf;}
.page a:hover{color: #2e4d82;font-weight: bold;}
.current{color: #2e4d82 !important;font-weight: bold !important;}*/
/*prolist*/
.pro-list{margin:0 20px;overflow: hidden;padding: 20px 0;}
.pro-list li{float: left;/*margin:0 12px 15px 0;*/padding: 0 10px 15px;}
.pro-list li a{display: block;position: relative;}
.pro-list li a img{width: 148px;height: 128px;border: 1px solid #e2e2e2;}
.pro-list li a h2{height:40px;line-height: 40px;text-align: center;color: #333;}
.pro-list li a:hover h2{color: #3f6b9c;}


/*news-det*/
.ny-det{margin: 10px;border-bottom: 1px dotted #7e7e7e}
.det-top{padding: 10px 0 15px;text-align: center;}
.det-top h2{text-align: center;color: #333;font-size:24px;border-bottom: 1px dotted #a8acaf;padding-bottom: 20px;font-family: Microsoft YaHei;/*font-weight: bold;*/}
.det-top span{color: #494745;line-height: 30px;}
.det-top span a{color: #494745;padding-left: 5px;}
.det-top span a:hover{text-decoration: underline;}
.news-nr{overflow: hidden;line-height: 26px;color: #555}
.news-det{min-height:280px;overflow: hidden;padding:0 25px 20px;line-height: 30px;}
.next{margin:0 20px; overflow: hidden;}
.next li{width: 100%;color: #555;}

.next li a{color:#494745}
.next li a:hover{color: #0073bd}
.share{position: absolute;right: 30px;}

/*pro-det*/
.pro-img{width:428px;margin:0 auto;overflow: hidden;padding:15px 0 30px;}
.pro-img dl{width:414px; height: 301px;border: 1px solid #e2e2e2;padding: 6px;background: #fff;}
.pro-img dl img{width: 414px;height: 301px;}
.pro-img dt{text-align: center;height:30px;line-height: 30px;color: #333;}
.det-nr{line-height: 30px;overflow: hidden;}
.pro-det{min-height: 200px;overflow: hidden;padding-bottom: 20px;}

/*list*/
.list{padding: 20px;overflow: hidden;}
.list div{height: 125px;margin-bottom: 30px;}
.list div dl{width: 125px;float: left;margin-right: 16px;}
.list div dl a{display: block;border: 1px solid #cfd0d1;background: #fff;padding: 3px;}
.list div dl a img{width: 117px;height: 116px;}
.list div dt{white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.list div dt a{color: #494745;font-weight: bold;}
.list div dt a:hover{text-decoration: underline;}
.list div dd{height: 96px;overflow: hidden;color: #494745;}


/*search*/
.searchtxt{font-size: 14px;font-weight: bold;text-align: center;padding:20px 0;overflow: hidden;}



@media screen and (min-height : 600px) and (max-height : 800px){
		.aside{padding: 20px 0 20px 40px;}
		.logo{margin-bottom:5px; }
		.menu .nav li{margin-bottom: 5px;}
}
/*@media screen and (min-width : 1600px) and (max-width: 1920px){
   .photos .photos-content li img {width: 264px;height: 228px;}
}*/