
      <div class="heaer  public_bg">
        <div class="logo"><img src="{$logo}" width="100%"></div>
        <div class="menu">
          <div class="nav"> <a class="arrow-left" href="#">&lt;</a> <a class="arrow-right" href="#">&gt;</a>
            <div class="swiper-nav swiper-container">
              <div class="swiper-wrapper">
                {foreach name=navs item=nav from=$navs}
                <div class="swiper-slide"><span><a href="{$nav.link}" class="public_bg1 public_color">{$nav.name} </a></span></div>
                {/foreach}
              </div>
            </div>
          </div>
        </div>
      </div>
 