<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
    // 跳转PC页面
    {if $site_another_url}
      if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection">
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />

<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{$site_url}css/public.css" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
{$headscript}
</head>
<body>
<div class="body public_body">
<!-- 隐藏导航 -->
{include file="./_header_hidenav.html"}
<!-- 隐藏导航End -->
  <div class="wrap">
<!-- 底部导航 -->
{include file="./_footer.html"}
<!-- 底部导航End -->
    <div class="index-wrap">
<!-- 顶部导航 -->
{include file="./_header.html"}

      <div class="baner">
        <div id="slideBox" class="slideBox">
          <div class="hd">
            <ul>
            </ul>
          </div>
          <div class="bd">
            <ul>
            {foreach name=slidepics item=slidepic from=$global.slidepics}
              <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" /></a></li>
            {/foreach}
            </ul>
          </div>
        </div>
      </div>
<!-- 顶部导航End -->
      <div class="main">
        {$key = 0}
        {foreach name=mIndexCats_list item=mIndexCat from=$mIndexCats}
        <div class="box-id">
          <div class="box-pro">
            <div class="about-m">
              <ul class="picture1">
                {if $mIndexCat.type eq 2}
                  {foreach name=mIndexCats item=product from=$mIndexCats.data}
                  {$key = $key+1}
                  <li>
                    <div class="{if $key eq 1}pubiic_bor{else}pubiic_bor1{/if}"><a href="{$product.link}">
                      <p class="img public_bg"><img src="{$product.image}" width="100%" title="256*295" /></p>
                      </a></div>
                  </li>
                  {/foreach}
                {/if}
              </ul>
            </div>
          </div>
        </div>

        {if $mIndexCat.type eq 4}
        <div class="box-id clearfix">
          <h1 class="box-top public_bg public_color1"><span class="sz pubiic_bor public_body">1</span>{$mIndexCat.name}</h1>
          <div class="box-about clearfix">
            <dl class="nr">
                  <img src="{$mIndexCat.image}"  title="236*152" class="pubiic_bor"> {$mIndexCat.description}
            </dl>
          </div>
        </div>
        {/if}

        {if $mIndexCat.type eq 3}
        <div class="box-id clearfix">
          <h1 class="box-top public_bg public_color1 right"><span class="sz pubiic_bor public_body">2</span>{$mIndexCat.name}</h1>
          <div class="news about-m public_bg1 pubiic_bor">
              <div class="news-img"> <img src="{$site_url}images/news_img.jpg" title="229*214" /></div>
            <ul class="news-list1 list1">
            {foreach name=mIn_list item=mIn_list from=$mIndexCat.data}
              <li onclick="javascript:window.location.href='{$mIn_list.link}'" class="public_bg1"> <a href="{$mIn_list.link}">
                <div class="news_title clearfix public_color">
                  <div class="time public_body public_bor1"><span>{$mIn_list.pubdate}<br>
                    20</span></div>
                  <b> {$mIn_list.title}</b></div>
                </a></li>
            {/foreach}
            </ul>
          </div>
        </div>
        {/if}
        
        {if $mIndexCat.type eq 3}
        <div class="box-id clearfix">
          <h1 class="box-top public_bg public_color1 {if ($mIn_list@index+1)%2 neq 0}right{/if}"><span class="sz pubiic_bor public_body">{$key+3}</span>{$mIndexCat.name}</h1>
          <div class="pro about-m public_bg1 pubiic_bor">
            <div class="pro-img {if ($mIn_list@index+1)%2 neq 0}right{else}left{/if}"> <img src="{$mIn.image}" title="229*214" /></div>
            <ul class="pro-list1 public_bg1 pubiic_bor">
              {foreach name=mIn_list item=mIn_list from=$mIndexCat.data}
                <li onclick="javascript:window.location.href='{$mIn_list.link}'" class="public_bg1"> 
                <div class="pimg"><img src="{$mIn_list.image}"></div>
                  <div class="pro_title clearfix public_color">
                  <b> {$mIn_list.title}</b>
                    <div class="jg public_bor1">价格：<span>200</span></div>
                    </div>
                  </li>
              {/foreach}
            </ul>
          </div>
        </div>
        {/if}
        {/foreach}
      </div>
      {include file="./_footprint.html"}
    </div>
  </div>
</div>
</body>
</html>
