<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
    // 跳转PC页面
    {if $site_another_url}
      if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection">
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" rev="stylesheet" href="http://chanpin.xm12t.com.cn/css/global.css" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{$site_url}css/public.css" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
</head>
<body>
<div class="body public_body">
<!-- 隐藏导航 -->
{include file="./_header_hidenav.html"}
<!-- 隐藏导航End -->
  <div class="wrap">
<!-- 底部导航 -->
{include file="./_footer.html"}
<!-- 底部导航End -->
    <div class="index-wrap">
<!-- 顶部导航 -->
{include file="./_header.html"}
<!-- 顶部导航End -->
    <div class="main">
    	<div class="box-id">
        	<h1 class="box-top1 clearfix public_bg m-top"><span class="more-ny public_bg" id="first">分类<span id="down"> &darr;</span><span id="up"> &uarr; </span></span>
              <div class="text ">{$list.name}
                <span class="en">{$list.en_name}</span>
              </div>
            </h1>
            <div class="hide-class">
              {foreach name=cnavs item=cnav from=$navs}
              {if $cnav.current and $cnav.childmenu}
                {foreach name=pagenavs item=nav from=$cnav.childmenu}
                <dl><a href="{$nav.link}">{$nav.name}</a></dl>
                {/foreach} 
              {/if}
              {/foreach}
          </div>
            <div class=" about-m">
              <ul class="news-list2">
              {foreach name=article item=article from=$list.data}
              <li onclick="javascript:window.location.href='{$article.link}'" class="public_bg1">
              <a href="{$article.link}">
               <div class="news_title clearfix public_bg"><span>{$article.pubdate}</span><div class="No">No{$article@index+1}:</div><b> {$article.title}</b></div>
                <div class="news_bottom clearfix"><div class="news_img public_bor"><img src="{$article.image}" title="112*81"/></div>
                <div class="news_content">
                  {$article.description}
                </div></div>
              </a></li>
              {/foreach}
                </ul>
                <div class="next1">
                <a href="{$page_links.prev_link}">上一页</a>
                {foreach name=nears_link item=near_link key=near_page from=$page_links.nears_link}
                {if $near_page == $page_links.current_page}
                  {$near_page}/{$page_links.page_count}
                {/if}
                {/foreach}
                <a href="{$page_links.next_link}">下一页</a></div>
            </div>
        </div>
    </div>
{include file="./_footprint.html"}
</div>
</div></div>
</body>
</html>
