@charset "utf-8";
/*author:blackgecko*/
*{ margin:0px; padding:0px;}
a{ color:#666; text-decoration:none}
a:hover{ color:#0a720a;}
a img{ border:none;}
table{border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left; font-weight:normal; color:#4a4a4a; line-height:24px; background:url(../images/bg.jpg);}
ul,ol,p,dl,li{margin:0;pading:0; list-style:none;}
ul,ol,dl{ list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
input {font:12px;}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0px; padding:0px;}

.headers{ width:970px; background:url(../images/headerbg.jpg) no-repeat;  height:89px; overflow:hidden; margin:0px auto;}
.headers .home{ float:right; display:inline; margin-top:2px; margin-right:29px; width:180px; overflow:hidden; color:#858585; text-align:right;}
.headers .home span{ background:url(../images/indebg.png) no-repeat; width:65px; height:18px; overflow:hidden; padding:2px 7px 5px; line-height:25px;}
.headers span a{ line-height:35px; overflow:hidden;}
.headers span a:link,.headers span a:visited{ color:#333;}
.headers span a:hover{ color:#3e9af1;} 
.menu{ width:952px; overflow:hidden;  height:35px; overflow:hidden; margin:0px auto; background:url(../images/menubg.jpg) no-repeat;  }
		
ul.nav{ width:952px; text-align:center;  height:35px; margin-left:0px; margin-top:0px;  }
ul.nav li{ float:left;line-height:35px; height:34px;text-align:center;  width:135px; background:url(../images/menubg_li.jpg) right center no-repeat;}
ul.nav li.li7{ background:none; float:left;line-height:35px; height:35px;text-align:center;  width:135px;}
ul.nav li a{line-height:35px; height:35px; width:100%;display:block; text-decoration:none; color:#FFF; font-size:14px; }
ul.nav li a:hover{ color:#fffc00; }

.banners{ width:952px; height:276px; margin:4px auto;}

.containters{ width:970px; margin:0px auto; height:auto; overflow:hidden; background:#fff;}

.topcot{ width:952px; height:auto; overflow:hidden; height:191px; margin-top:0px ; margin:0px auto 10px;}
.anout{ float:left; display:inline; overflow:hidden;  height:auto; overflow:hidden; width:355px; height:189px; border:1px solid #cbcbcb; }
.abmid{ width:355px; height:auto; overflow:hidden;}
.abmid h2{ background:url(../images/aboutio_03.jpg) repeat-x; height:30px; overflow:hidden; line-height:30px; width:355px; color:#148c04; font-size:12px; font-weight:bold; text-indent:10px;}
.abmid h2 span{ float:right; margin-top:0px; font-weight:normal; font-size:12px; margin-right:10px;margin-top:10px;}
.abmid h2 span a:link,.abmid h2 span a:visited{ color:#fff;}
.abmid h2 span a:hover{ color:#000;}
.abmid h2 img{ position:relative; top:5px;}
.border{  margin-left:1px; width:350px; height:155px; margin-right:5px; }
.border img{ width:140px; height:88px; float:left; margin-right:2px; margin-right:10px; margin-left:5px; display:inline; overflow:hidden; margin-top:5px; padding:3px; border:1px solid #c9c9c9;}
.anputt{text-align:Justify;text-justify:inter-ideograph; color:#333333;  margin-left:5px; margin-top:5px; line-height:22px;}
.anputt h1{ color:#333; font-weight:bold;}
.anputt span{ text-align:right; overflow:hidden}
.anputt span a:link,.anputt span a:visited{ color:#148c04;}
.anputt span a:hover{ color:#333;}
.nemid{ width:394px; height:auto; overflow:hidden;}
.news{ float:left; display:inline; overflow:hidden;  width:394px; height:auto; overflow:hidden; margin-left:13px; height:189px; border:1px solid #cbcbcb;}
.nemid h2{ background:url(../images/aboutio_03.jpg) repeat-x; height:30px; overflow:hidden; line-height:30px; width:394px; color:#148c04; font-size:12px; font-weight:bold; text-indent:10px;}
.nemid h2 span{ float:right; margin-top:0px; font-weight:normal; font-size:12px; margin-right:5px;margin-top:10px;}
.nemid h2 span a:link,.nemid h2 span a:visited{ color:#fff;}
.nemid h2 span a:hover{ color:#000;}
.nemid h2 img{  position:relative; top:5px;}


.news_deta1{width:374px; height:auto; margin-left:10px;  }
.news_deta1 ul{ margin-top:3px;}
.news_deta1 li{ width:374px ; height:24px; line-height:24px; background:url(../images/iocn.jpg) 0px  12px no-repeat; border-bottom:1px dotted #bebebe; }
.news_deta1 li a{  display: block;
    line-height: 24px;
    margin-left: 3px;
    padding-left: 10px;height:24px; overflow:hidden; width:374px; }
.news_deta1 li span{float:right; margin-right:15px; margin-left:10px;}
.news_deta1 li a:link,.news_deta1 li a:visited{ color:#333;}
.news_deta1 li a:hover{ color:#148c04;}
.ser_list{ width:173px; float:right; display:inline; overflow:hidden; height:auto;}
.l{ width:173px; height:43px; margin-bottom:8px; overflow:hidden;}



.product{ clear:both; width:950px; height:183px; overflow:hidden; border:1px solid #cbcbcb; margin:0px auto 20px;}
.prod_s{ padding-left:0px; width:950px; }
.prod_s h3{ background:url(../images/prbg_ht.jpg) ; height:32px; overflow:hidden; line-height:32px; width:950px; color:#fff; text-indent:10px; font-size:12px; font-weight:bold; text-indent:30px;}
.prod_s h3 span{ float:right; margin-top:0px; font-weight:normal; font-size:12px; margin-right:5px;margin-top:15px;}
.prod_s h3 span a:link,.prod_s h3 span a:visited{ color:#fff;}
.prod_s h3 span a:hover{ color:#000;}
.prod_s h3 img{ vertical-align:middle; margin-right:2px;}



.showpro{ padding:8px 0px 3px; height:auto; overflow:hidden;}
.showpro table td img {width:132px; height:104px; margin-left:0px; padding:2px; border:1px solid #dddddd;}
.showpro table a{ width:138px; margin-bottom:0px; display:block; height:140px; margin-left:10px;}
.showpro table a:link,.showpro table a:visited{ color:#333;}
.showpro table a:hover{ color:#148c04;}
.showpro h1 { width:138px; text-align:center; line-height:30px; margin-top:0px; height:30px;}

.footers{ height:auto; overflow:hidden; background:url(../images/footers_25.jpg) no-repeat; width:970px; margin:0px auto; height:93px; }
.fmidt{ width:970px; text-align:center; padding-top:20px;color:#333;}
.fmidt a:link,.fmidt a:visited{ color:#333;}
.fmidt a:hover{ color:#148c04;}


.left{ width:206px; margin-left:0px; display:inline; overflow:hidden; float:left; margin-top:0px; margin-left:8px;}
.list{ width:204px; height:auto; overflow:hidden; border:1px solid #cbcbcb; margin-bottom:10px;}
.list h3{ background:url(../images/aboutio_03.jpg) repeat-x; height:30px; overflow:hidden; background:url(../images/lt.jpg) repeat-x;line-height:30px; width:204px; color:#148c04; font-size:12px; font-weight:bold; text-indent:30px;}
.list h3 img{ vertical-align:top; margin-right:2px;margin-top:10px;}
.listbg{ width:187px; height:auto; margin-left:7px; overflow:hidden; padding-bottom:15px;}
.listbg ul { margin-top:5px; width:187px; height:auto; overflow:hidden; margin-left:0px; padding-bottom:0px; margin-left:0px;} 
.listbg ul li ul{ padding:0px; }
.listbg ul li ul{ padding-bottom:0px;}
.listbg ul li{ margin:0px; padding:0px; width:187px; margin-bottom:0px; }
.listbg ul li a{padding-left:0px; background:url(../images/icon_11.jpg) 10px no-repeat;margin-left:0px;   display:block; text-indent:30px; height:27px; line-height:27px; color:#333333; border-bottom:1px solid #e3e3e3;}
.listbg ul li a:link,.listbg ul li a:visited{ color:#333333;}
.listbg ul li a:hover{ color:#5ba11d;}
.contattt{ background:url(../images/lxt_25.jpg) no-repeat; width:204px; height:191px; overflow:hidden; margin-bottom:10px;}
.contattt h3{ height:48px; width:204px;}
.lxtt{ padding-left:15px; color:#333333;}


.right_t{ width:736px; float:left; display:inline; overflow:hidden; margin-right:0px;margin-top:0px; margin-left:11px; margin-bottom:20px;}
.detal{  width:736px; height:auto; overflow:hidden; color:#333333; overflow:hidden;}
.detal_s{  width:734px; padding-bottom:20px;height:auto; overflow:hidden; margin-left:0px; border:1px solid #cbcbcb; }
.detal_s h3{ background:url(../images/prbg_ht.jpg) repeat-x; height:30px; overflow:hidden; line-height:30px; width:734px; color:#fff; font-size:12px; font-weight:bold; text-indent:30px;}
.detal_s h3 span{ float:right; margin-top:0px; font-weight:normal; font-size:12px; margin-right:5px;margin-top:0px;color:#6c6c6c}
.detal_s h3 span a:link,.detal_s h3 span a:visited{ color:#6c6c6c;}
.detal_s h3 span a:hover{ color:#5ba11d;}
.detal_s h3 img{ vertical-align:middle; margin-right:2px ; margin-top:5px;}
.deteo{width:734px;border-top:none; border-bottom:none; height:auto; overflow:hidden; margin-left:0px;}

.about_edit{ color:#333; line-height:24px; margin-top:11px; padding-right:0px; margin-left:10px; margin-right:10px;text-align:Justify;text-justify:inter-ideograph;}



.news_detal2 ul{ margin-left:0px; margin-right:0px; margin-top:0px; height:auto; overflow:hidden; margin-left:12px; padding-top:10px;}
.news_detal2 li{ width:710px ; height:28px; line-height:28px; overflow:hidden; border-bottom:1px dashed #3b3b3b; }
.news_detal2 li a{  display: block; color:#df811c;
    line-height: 28px;
    margin-left: 3px; background:url(../images/iocn.jpg) left  12px no-repeat;
    padding-left: 13px;height:28px; overflow:hidden; width:710px;}
.news_detal2 li span{float:right; margin-right:15px; margin-left:10px;}
.news_detal2 li a:link,.news_detal2 li a:visited{ color:#333;}
.news_detal2 li a:hover{ color:#5ba11d;}



.module_page{ width:100%;  line-height:20px;margin-top:30px;text-align:center;  color:#333;}
.module_page a{ text-decoration:none; color:#333; /*color:#0c2d63;*/}
.module_page span{ padding-left:20px; padding-right:20px;}
.module_page a:hover{ text-decoration:none; color:#249ff7;}
.module_page  select{ margin-left:5px; color:#000;}

.main_right_con{ padding:8px 8px 12px;color:#333; overflow:hidden;}
h1.inner_news_tit{height:30px; padding:8px 0px;text-align:center; font-size:14px;  color: #5ba11d; font-weight: bold; border-bottom:1px dashed #ccc;}
h2.inner_news_time{height:25px; line-height:25px;color:#333; padding-left:10px; margin-bottom:4px; text-align:center; border-bottom:1px dashed #ccc;}
h2.inner_news_time a{ color:#333;}
h2.inner_news_time a:hover{ color:#249ff7; text-decoration:underline;}
h2.inner_news_time span{ float:right; text-align:right; padding-right:10px;}



.edit{overflow:hidden;text-align:Justify;text-justify:inter-ideograph; color:#333; margin:10px 1px 0px;}

ul.inner_pages{ padding-top:8px;margin:10px auto 10px; margin-left:5px;}
ul.inner_pages li{line-height:26px;color:#333;}
ul.inner_pages a{color:#333;}
ul.inner_pages a:hover{color:#5ba11d}


ul.inner_pro{height:auto; overflow:hidden; padding-bottom:10px; width:750px; margin-top:10px;}
ul.inner_pro li{ float:left; margin:0px 10px 0px 8px;display:inline; }
ul.inner_pro li img{ width:160px; height:126px; padding:2px; border:1px solid #DDDDDD; vertical-align:top;}
ul.inner_pro li a{ width:166px; height:162px; display:block; color:#333; overflow:hidden; }
ul.inner_pro li a:hover{ color:#5ba11d;}
p.photo_title{height:30px; line-height:30px; text-align:center;}


.main_right_con2{overflow:hidden;}

.description{ height:auto; overflow:hidden; width:98%; margin:10px 10px; }

.descripimg{ float:left; background:none; width:240px; height:189px; margin-bottom:15px;}
.descripimg img{ padding:0px; width:230px; height:181px; border:1px solid #dddddd; padding:1px;}
.descriptcot{margin:0px; padding:0px; float:left; width:60%; position:relative;}
.text_p{ color:#5ba11d;padding:0px;width:90%; position:absolute; top:0px; left:16px; }
.moule_edot{  color:#333;width:99%; margin-left:5px; clear:both;text-align:Justify;
text-justify:inter-ideograph;}
